openapi: 3.2.0
info:
  title: PlantPredict Results API
  version: 12.13.0
  description: "## What is PlantPredict?\n\nPlantPredict is an industry-leading performance modeling platform for utility-scale\nsolar power plants. It predicts energy yield across the full project lifecycle —\nfrom early-stage site prospecting through detailed engineering and operational\nmonitoring. The same engine that powers the PlantPredict web UI is fully exposed\nvia this REST API, enabling automation of complex, high-time-resolution energy\npredictions without any UI interaction.\n\n## Domain Model — read this first\n\nUnderstanding the object hierarchy is essential before calling the API:\n\n- **Weather** — A weather file (hourly irradiance, temperature, wind, etc.) for a\n  geographic location. Imported from a provider (e.g. SolarAnywhere, Meteonorm) or\n  uploaded manually. Weather files live in a company-wide library and are referenced\n  by Predictions.\n\n- **Module** — A PV module definition parameterized with electrical characteristics\n  (STC power, temperature coefficients, single-diode model parameters, IAM curves,\n  etc.). Modules live in a company-wide library.\n\n- **Inverter** — An inverter definition with efficiency curves, voltage/power ratings,\n  and optional kVA derating curves. Inverters live in a company-wide library.\n\n- **Project** — A named location (lat/lon) that acts as a container for one or more\n  Predictions. Holds geographic metadata (country, elevation, UTC offset) and a status.\n\n- **Prediction** — The core simulation configuration nested under a Project. Defines\n  the simulation period, model selections (transposition, air mass, degradation,\n  soiling, shading, spectral shift models), uncertainty error terms, and references\n  to a Weather file. A Prediction must be linked to a PowerPlant before it can be run.\n  Status values: 0 = Draft, 1 = Active, 2 = Issued, 3 = Archived.\n\n- **PowerPlant** — The physical plant design attached to a Prediction. Describes the\n  electrical topology: Blocks → Arrays → Inverters → DC Fields (strings of modules).\n  Also includes transformers, transmission lines, energy storage (ESS), availability\n  losses, and LGIA export limits.\n\n- **Shade Scene** — An optional 3D shading model (PVJ format) attached to a\n  Prediction's DC Fields. Supports import from PVC or SHD files. Shade and TABT\n  (Tracker Angle Back-Tracking) calculations are queued and run asynchronously.\n\n## Typical workflow to run a prediction\n\n1. Ensure a **Weather** file exists (search, download, or import one).\n2. Ensure a **Module** and **Inverter** exist in the library.\n3. **POST /Project** — create a project at the site location.\n4. **POST /Project/{projectId}/Prediction** — create a prediction with model settings.\n5. **POST /Project/{projectId}/Prediction/{predictionId}/PowerPlant** — attach a plant\n   design referencing your module and inverter.\n6. **POST /Project/{projectId}/Prediction/{predictionId}/Run** — queue the simulation.\n7. Poll **GET /Project/{projectId}/Prediction/{predictionId}/Overview** until\n   `status` reaches 2 (complete), then retrieve results via `/ResultSummary`,\n   `/ResultDetails`, or `/NodalJson`.\n\n## Authentication\n\nOAuth 2.0 **Client Credentials** flow via AWS Cognito. The spec advertises\na single `bearerAuth` scheme — fetch a token yourself with the snippet\nbelow, then either paste it into the in-browser playground or pass it on\nevery request as `Authorization: Bearer <token>`.\n\n> **Why not advertise OAuth2 directly?** Most users have access to the\n> production tenant only, and we don't want to invite anyone to enter\n> long-lived `client_id` / `client_secret` credentials into a third-party\n> documentation site. Keep credentials in your own environment; ship\n> short-lived bearer tokens to wherever they are needed.\n\n- Token URL: `https://terabase-prd.auth.us-west-2.amazoncognito.com/oauth2/token`\n- Scopes: `transactions/get` (read), `transactions/post` (write) — request\n  both to access the entire surface.\n- Send credentials as **Basic Auth** in the token request header.\n\nExample:\n\n```bash\ncurl -X POST 'https://terabase-prd.auth.us-west-2.amazoncognito.com/oauth2/token' \\\n  -u \"$PP_CLIENT_ID:$PP_CLIENT_SECRET\" \\\n  -d 'grant_type=client_credentials&scope=transactions/get transactions/post'\n```\n\nAPI credentials (Client ID + Secret) are generated per user by a company admin\ninside the PlantPredict UI (gear icon → user profile → Generate API Credentials).\nStore them securely — they are shown only once.\n\n## Notes\n\n- All request/response bodies are JSON (`Content-Type: application/json`).\n- The API is stateless — every request must supply complete inputs; there is no session.\n- POST operations that create entities return `{\"id\": <integer>}`.\n- Many integer fields (model types, status codes) map to named enums — use\n  `GET /Definitions` to retrieve the full enum catalog at runtime.\n- Long-running operations (Run, Shade calculations, TABT) are asynchronous; poll\n  the corresponding `ProcessingStatus` endpoint to track progress.\n- Responses may include an `X-Message` header with non-blocking warnings (e.g.\n  duplicate project name).\n"
servers:
- url: https://api.plantpredict.terabase.energy
  description: Production
security:
- bearerAuth: []
tags:
- name: Results
  description: Prediction results — summary, details, nodal, average energy
paths:
  /Project/{projectId}/Prediction/{predictionId}/ResultSummary:
    get:
      tags:
      - Results
      summary: Get prediction result summary
      description: "Returns summary results for a prediction by project and prediction ID.\n\n**Parameters:**\n\n- `projectId` (path, required): The project ID.\n    \n- `predictionId` (path, required): The prediction ID.\n"
      operationId: getResultSummary
      x-doc-source: postman
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
      - name: predictionId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Result summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultSummary'
              examples:
                postman-result-summary:
                  value:
                    id: 966660
                    predictionName: Base Block - Small Weather
                    runBy: Postman Tester
                    timeOfPrediction: '2023-10-02T19:40:22.697'
                    elapsedTimeMinutes: 0.13763712666666666
                    execDate: '2023-10-02T19:40:22.697'
                    toolName: PlantPredict
                    toolVersion: 11.12.0.26953
                    start: '2005-06-01T00:00:00'
                    end: '2005-06-04T23:00:00'
                    decompositionModel: None
                    transpositionModel: Perez
                    perezCoefficients: PlantPredict
                    incModel: Physical IAM
                    airMassModel: Bird-Hulstrom
                    moduleTemperatureModel: Heat Balance
                    degradationModel: None
                    circumsolarTreatment: Diffuse
                    directShadingModel: Module File Defined Shading
                    diffuseShadingModel: Schaar-Panchula
                    degradationRate: 0.005
                    nonLinearDegradationRates: null
                    lightAndElevationTemperatureDegradationRates: null
                    spectralShiftModel: 2-Param Pwat and AM
                    useWeatherDNI: false
                    useMeteoPOAI: false
                    useBacksidePOAI: false
                    soilingModel: Constant Monthly
                    errorIrrAcc: 0.06480740698407861
                    spatialVariability: 0.02
                    interannualVariability: 0.03
                    irradianceMeasurementAccuracy: 0.05
                    monitoringPeriodRepresentativeness: 0.02
                    modelingAccuracy: 0.028999999999999998
                    errorTotal: 0.07100000000000001
                    yearRepeater: 1
                    projectName: Doc Generation
                    projectLocality: Toledo, OH
                    projectCountry: United States
                    projectLat: 41.6528052
                    projectLon: -83.5378674
                    projectLatLon: 41.65/-83.54
                    projectElev: 178.5460357666016
                    timeZone: -5
                    weatherName: June Weather Data - Toledo
                    weatherGHI: 18457
                    weatherDHI: 8245
                    weatherDNI: 15329
                    weatherPOA: null
                    weatherLat: 41.6528053
                    weatherLon: -83.5378647
                    weatherLatLon: 41.65/-83.54
                    weatherDataProvider: Meteonorm
                    inverterResultSummaries:
                    - id: 980050
                      name: SMA Sunny Highpower SHP150-US-20-PEAK3
                      kVARating: 150
                      powerFactor: 1
                      kWRating: 150
                      usedDerateTimeSeries: false
                      inverterEfficiencyModel: 2
                    moduleResultSummaries:
                    - id: 1074225
                      name: FS-7505A-TR1 CdTe September2022
                      wattage: 505
                      cellTechnologyType: CdTe
                      efficiency: 18.071211307926283
                      manufacturer: First Solar
                      faciality: Monofacial
                      bifacialityFactor: 0
                      transmissionFactor: 0
                    exclEnvironmentIrrDesc: null
                    exclEnvironmentIrrVal: null
                    blockResultSummaries:
                    - id: 1207025
                      name: 1
                      acSize: 1.5
                      dcSize: 1.95
                      numArrays: 10
                      dcacRatio: 1.3
                      trackingType: Horizontal Tracker
                      backTrackingType: Backtracking
                      avgTiltAngle: 0
                      avgRotationalMax: 60
                      avgRotationalMin: -60
                      avgRotationalLimits: -60.00 / 60.00
                      avgAzimuth: 180
                      avgRowSpacing: 5.749999999999999
                      avgGCR: 40
                      energizationDate: '2005-06-01T00:00:00'
                      resultDetails: []
                      years:
                      - id: 2725859
                        year: 2005
                        yearIndex: 1
                        totalEnergy: 54490.73631180844
                        transpositionOnPlane: -33.39906193172364
                        farShadingLoss: 0
                        nearShadingLoss: 3.415010544667114
                        elecShadingLoss: 0
                        soilingLoss: 2.124869768017325
                        iamFactorLoss: 1.6377524309067946
                        spectralLoss: -1.0148008378121767
                        moduleIrradianceLoss: 0.6468938283773886
                        moduleTemperatureLoss: 4.892633443721294
                        moduleQualityLoss: 0
                        lidLoss: 0
                        moduleMismatchLoss: 0.4742915334455463
                        moduleBackMismatchLoss: 0
                        biFacialityLoss: 0
                        structureShadingLoss: 0
                        backSideIrradiance: 0
                        dcWiringLoss: 0.9757620328698026
                        dcHealthLoss: 0.9485830668910926
                        inverterEfficiencyLoss: 1.3265712574422033
                        inverterLimitationLoss: 3.2677104358153457
                        degradationLoss: 0
                        leTIDLoss: 0
                        inverterCoolingLoss: 0
                        trackerMotorLoss: 0.09591772994869588
                        dataAcquisitionAuxLoss: 1.3598168239123245
                        mvTransformersLoss: 1.067128156576251
                        acCollectionLinesLoss: 0.988957626904007
                        backsideEffPOA: 0
                        summaryFactors:
                        - id: 2863022
                          blockName: 1
                          pValue: 50
                          pValueString: P50
                          ghiSum: 26.4092
                          poAInsolation: 35.229625063672756
                          specificYieldDC: 28.153536166240844
                          specificYieldAC: 36.599597016113094
                          performanceRatio: 79.91437920601527
                          acCapacityFactor: 38.1245802251178
                          arrayNetEnergy: 0.005489939552416965
                          blockNetEnergy: 0.05489939552416965
                          totalBoSLoss: 1.9834127447536236
                          nighttimeLosses: 0.4086592123612225
                          todFactor: -1
                    acSize: 1.5
                    dcSize: 1.95
                    numArrays: 10
                    dcacRatio: 1.3
                    gridVoltage: 34.5
                    trackingType: Horizontal Tracker
                    backTrackingType: Backtracking
                    avgTiltAngle: 0
                    avgTiltAngleString: '-'
                    avgAzimuth: 180
                    avgRowSpacing: 5.749999999999999
                    avgGCR: 40
                    avgRotationalMin: -60
                    avgRotationalMax: 60
                    avgPostHeight: 1.5
                    avgRotationalLimits: -60.00 / 60.00
                    avgDCArraySize: 0.195
                    avgACArraySize: 0.15
                    powerFactor: 1
                    lgiaLimitation: 'Off'
                    availabilityLoss: 0
                    years:
                    - id: 2358476
                      year: 2005
                      yearIndex: 1
                      totalEnergy: 54490.73631180844
                      monthlyFactors:
                      - id: 38298098
                        month: 1
                        monthName: Jan
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      - id: 38298099
                        month: 2
                        monthName: Feb
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      - id: 38298100
                        month: 3
                        monthName: Mar
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      - id: 38298101
                        month: 4
                        monthName: Apr
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      - id: 38298102
                        month: 5
                        monthName: May
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      - id: 38298103
                        month: 6
                        monthName: Jun
                        soilingLoss: 2.2
                        albedo: 0.3
                        spectralShift: -1.0148008378121767
                      - id: 38298104
                        month: 7
                        monthName: Jul
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      - id: 38298105
                        month: 8
                        monthName: Aug
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      - id: 38298106
                        month: 9
                        monthName: Sep
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      - id: 38298107
                        month: 10
                        monthName: Oct
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      - id: 38298108
                        month: 11
                        monthName: Nov
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      - id: 38298109
                        month: 12
                        monthName: Dec
                        soilingLoss: 0
                        albedo: 0.3
                        spectralShift: 0
                      summaryFactors:
                      - id: 2459692
                        pValue: 50
                        pValueString: P50
                        ghiSum: 26.4092
                        poAInsolation: 35.229625063672756
                        specificYieldDC: 28.153536166240844
                        specificYieldAC: 36.599597016113094
                        performanceRatio: 79.91437920601527
                        acCapacityFactor: 38.1245802251178
                        max3hrShortCircuitCurrent: 3.0436804868598837
                        arrayNetEnergy: 0.005489939552416965
                        plantNetEnergy: 0.05489939552416965
                        totalBoSLoss: 1.9834127447536236
                        nighttimeLosses: 0.4086592123612225
                        todFactor: -1
                        hasESSSystem: false
                        esspvEnergy: 0
                        essBatteryEnergy: 0
                        essAuxLoss: 0
                      transpositionOnPlane: -33.39906193172364
                      farShadingLoss: 0
                      nearShadingLoss: 3.415010544667114
                      elecShadingLoss: 0
                      soilingLoss: 2.124869768017325
                      iamFactorLoss: 1.6377524309067946
                      spectralLoss: -1.0148008378121767
                      moduleIrradianceLoss: 0.6468938283773886
                      moduleTemperatureLoss: 4.892633443721294
                      moduleQualityLoss: 0
                      lidLoss: 0
                      moduleMismatchLoss: 0.4742915334455463
                      moduleBackMismatchLoss: 0
                      biFacialityLoss: 0
                      structureShadingLoss: 0
                      backsideIrradiance: 0
                      dcWiringLoss: 0.9757620328698026
                      dcHealthLoss: 0.9485830668910926
                      inverterEfficiencyLoss: 1.3265712574422033
                      inverterLimitationLoss: 3.2677104358153457
                      degradationLoss: 0
                      leTIDLoss: 0
                      inverterCoolingLoss: 0
                      trackerMotorLoss: 0.09591772994869588
                      dataAcquisitionAuxLoss: 1.3598168239123245
                      mvTransformersLoss: 1.067128156576251
                      acCollectionLinesLoss: 0.988957626904007
                      transformerTransmissionLineLoss: []
                      availabilityLoss: 0
                      lgiaLimitationLoss: 0
                      monthlySums:
                        id: 2053402
                        energySums:
                        - id: 49281610
                          month: 1
                          sum: 0
                        - id: 49281611
                          month: 2
                          sum: 0
                        - id: 49281612
                          month: 3
                          sum: 0
                        - id: 49281613
                          month: 4
                          sum: 0
                        - id: 49281614
                          month: 5
                          sum: 0
                        - id: 49281615
                          month: 6
                          sum: 54.89939552416966
                        - id: 49281616
                          month: 7
                          sum: 0
                        - id: 49281617
                          month: 8
                          sum: 0
                        - id: 49281618
                          month: 9
                          sum: 0
                        - id: 49281619
                          month: 10
                          sum: 0
                        - id: 49281620
                          month: 11
                          sum: 0
                        - id: 49281621
                          month: 12
                          sum: 0
                        ghiSums:
                        - id: 49281622
                          month: 1
                          sum: 0
                        - id: 49281623
                          month: 2
                          sum: 0
                        - id: 49281624
                          month: 3
                          sum: 0
                        - id: 49281625
                          month: 4
                          sum: 0
                        - id: 49281626
                          month: 5
                          sum: 0
                        - id: 49281627
                          month: 6
                          sum: 26409.2
                        - id: 49281628
                          month: 7
                          sum: 0
                        - id: 49281629
                          month: 8
                          sum: 0
                        - id: 49281630
                          month: 9
                          sum: 0
                        - id: 49281631
                          month: 10
                          sum: 0
                        - id: 49281632
                          month: 11
                          sum: 0
                        - id: 49281633
                          month: 12
                          sum: 0
                      hasESSSystem: false
                      essInverterEfficiencyLoss: 0
                      essmvTransformersLoss: 0
                      esshvacLoss: 0
                      essdcRoundtripEfficiencyLoss: 0
                      esspvEnergy: 0
                      essBatteryEnergy: 0
                      backsideEffPOA: 0
                      reportESSDCRoundtripEfficiencyLoss: ' - '
                      reportESSHVACLoss: ' - '
                      reportESSInverterEfficiencyLoss: ' - '
                      reportESSMVTransformersLoss: ' - '
                    logicVersion: Version 11
                    predictionHasESS: false
                    essPowerCapacity: 0
                    essEnergyCapacity: 0
                    hasBifacial: false
                    useLeapYears: false
                    useLeTID: false
                    isDraft: false
                    predictionYearSummary: null
                    reportESSPowerCapacity: ' - '
                    reportESSEnergyCapacity: ' - '
                    reportTitle: null
                    predictionStatus: null
                    reportShowMonthlySums: false
                    leTIDRates: null
        '204':
          description: The prediction has not been run yet and no result summary exists. Response body is empty.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /Project/{projectId}/Prediction/{predictionId}/ResultDetails:
    get:
      tags:
      - Results
      summary: Get detailed energy results
      description: "Returns detailed results for a prediction. Includes granular simulation output data.\n\n**Parameters:**\n\n- `projectId` (path, required): The project ID.\n    \n- `predictionId` (path, required): The prediction ID.\n"
      operationId: getResultDetails
      x-doc-source: postman
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
      - name: predictionId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Result details (hourly, daily, monthly, yearly breakdowns)
          content:
            application/json:
              schema:
                type: object
                properties:
                  StartDate:
                    type: string
                    description: ISO-8601 datetime as returned by the PlantPredict API. May or may not include a timezone offset; treat as server-local when no offset is present.
                  EndDate:
                    type: string
                    description: ISO-8601 datetime as returned by the PlantPredict API. May or may not include a timezone offset; treat as server-local when no offset is present.
                  HourlyDetails:
                    type: array
                    items:
                      type: object
                  DailyDetails:
                    type: array
                    items:
                      type: object
                  MonthlyDetails:
                    type: array
                    items:
                      type: object
                  YearlyDetails:
                    type: array
                    items:
                      type: object
                  Total:
                    type: object
              examples:
                postman-result-details:
                  value:
                    StartDate: '2005-06-01T00:00:00'
                    EndDate: '2005-06-04T23:00:00'
                    SubHourlyDetails: []
                    HourlyDetails:
                    - TimeStamp: '2005-06-01T00:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-01T01:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-01T02:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-01T03:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-01T04:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-01T05:00:00'
                      POAI: 0.011963432979840646
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 1.026683864110053e-06
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.2894718673329048
                      ModuleIrradianceLoss: 54.50579860268614
                      ModuleTemperatureLoss: 0.5097710909493824
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 13.084185388541695
                    - TimeStamp: '2005-06-01T06:00:00'
                      POAI: 0.0960433517398516
                      EnergyGenerated: 0.135465920035931
                      SpecificYieldDC: 0.06946970258252871
                      PerformanceRatio: 72.33160996994175
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 9.031061335728733
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.466643423412247
                      ModuleIrradianceLoss: 11.755872291926162
                      ModuleTemperatureLoss: 2.6440930011923056
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.27807572112995627
                    - TimeStamp: '2005-06-01T07:00:00'
                      POAI: 0.28620725876418934
                      EnergyGenerated: 0.43230082441283424
                      SpecificYieldDC: 0.22169273046812013
                      PerformanceRatio: 77.45880779731596
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 28.820054960855618
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 11.48239229733376
                      ModuleIrradianceLoss: 3.9502226986657645
                      ModuleTemperatureLoss: 0.8262097721076119
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.6022705085950997
                    - TimeStamp: '2005-06-01T08:00:00'
                      POAI: 0.33752367272283806
                      EnergyGenerated: 0.5178643219019887
                      SpecificYieldDC: 0.265571447129225
                      PerformanceRatio: 78.68231729846767
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 34.52428812679925
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 10.75427035784399
                      ModuleIrradianceLoss: 3.022056826815417
                      ModuleTemperatureLoss: 0.03880449945381915
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 2.076492395153081
                    - TimeStamp: '2005-06-01T09:00:00'
                      POAI: 0.4291538512438406
                      EnergyGenerated: 0.6838105111924585
                      SpecificYieldDC: 0.3506720570217736
                      PerformanceRatio: 81.71243389879905
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 45.58736741283057
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 7.450521430686395
                      ModuleIrradianceLoss: 1.790937356662476
                      ModuleTemperatureLoss: 1.1382825330691164
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 2.09323272296229
                    - TimeStamp: '2005-06-01T10:00:00'
                      POAI: 0.5748540357899484
                      EnergyGenerated: 0.9454837142077374
                      SpecificYieldDC: 0.4848634431834551
                      PerformanceRatio: 84.34548824505845
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 63.03224761384916
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.894705976890077
                      ModuleIrradianceLoss: 0.6884577504141056
                      ModuleTemperatureLoss: 2.827881221454726
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.945009878772103
                    - TimeStamp: '2005-06-01T11:00:00'
                      POAI: 0.649544589067645
                      EnergyGenerated: 1.0859511506709918
                      SpecificYieldDC: 0.5568980259851241
                      PerformanceRatio: 85.73668926785987
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 72.39674337806612
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 1.135819067842987
                      ModuleIrradianceLoss: 0.3446569990439765
                      ModuleTemperatureLoss: 3.94052143944405
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.8460317892641962
                    - TimeStamp: '2005-06-01T12:00:00'
                      POAI: 0.6983895626448082
                      EnergyGenerated: 1.167738654774927
                      SpecificYieldDC: 0.5988403357820139
                      PerformanceRatio: 85.74588851445597
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 77.84924365166181
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.0011943999999208213
                      ModuleIrradianceLoss: 0.2005853739680527
                      ModuleTemperatureLoss: 4.740183084508409
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.760852646356697
                    - TimeStamp: '2005-06-01T13:00:00'
                      POAI: 0.7895587361786414
                      EnergyGenerated: 1.3104635386243186
                      SpecificYieldDC: 0.672032583909907
                      PerformanceRatio: 85.11495764868043
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 87.36423590828791
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.8198928134147259
                      ModuleIrradianceLoss: 0.038882937854047034
                      ModuleTemperatureLoss: 5.824497156122516
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.737035940870241
                    - TimeStamp: '2005-06-01T14:00:00'
                      POAI: 0.7785605831453516
                      EnergyGenerated: 1.2650242010110209
                      SpecificYieldDC: 0.6487303594928312
                      PerformanceRatio: 83.32432613939793
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 84.33494673406805
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 2.9714882577102357
                      ModuleIrradianceLoss: 0.07562931846827446
                      ModuleTemperatureLoss: 5.827188726912084
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.6257826927344485
                    - TimeStamp: '2005-06-01T15:00:00'
                      POAI: 0.8168382335802788
                      EnergyGenerated: 1.3119011083898917
                      SpecificYieldDC: 0.6727697991743035
                      PerformanceRatio: 82.36267249948502
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 87.46007389265945
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 4.333623816799524
                      ModuleIrradianceLoss: 0.03406088506748688
                      ModuleTemperatureLoss: 6.206968331711019
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.7408606964159061
                    - TimeStamp: '2005-06-01T16:00:00'
                      POAI: 0.898293480419334
                      EnergyGenerated: 1.4228486872543133
                      SpecificYieldDC: 0.7296659934637505
                      PerformanceRatio: 81.22801838917208
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 94.85657915028756
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 5.403258089862715
                      ModuleIrradianceLoss: 0.024201598413427505
                      ModuleTemperatureLoss: 6.832169505970828
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.5709093451671845
                    - TimeStamp: '2005-06-01T17:00:00'
                      POAI: 0.8508339012668473
                      EnergyGenerated: 1.3519968235709863
                      SpecificYieldDC: 0.6933317043953776
                      PerformanceRatio: 81.4884906869652
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 90.13312157139909
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 5.326402773479421
                      ModuleIrradianceLoss: 0.007719020383934802
                      ModuleTemperatureLoss: 6.3718931092609825
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.148857587430928
                    - TimeStamp: '2005-06-01T18:00:00'
                      POAI: 0.41587685094100185
                      EnergyGenerated: 0.679418320603014
                      SpecificYieldDC: 0.34841965159128924
                      PerformanceRatio: 83.7795253096974
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 45.2945547068676
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 1.4890002385168313
                      ModuleIrradianceLoss: 1.7509993679224103
                      ModuleTemperatureLoss: 2.791838204634651
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.8803583615369416
                    - TimeStamp: '2005-06-01T19:00:00'
                      POAI: 0.024746857743024032
                      EnergyGenerated: 0.011389306803293465
                      SpecificYieldDC: 0.00584067015553511
                      PerformanceRatio: 23.601663759438527
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0.7592871202195643
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.3959601318685906
                      ModuleIrradianceLoss: 34.44087836776066
                      ModuleTemperatureLoss: 0.5408380371662436
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 14.020884105862827
                    - TimeStamp: '2005-06-01T20:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-01T21:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-01T22:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-01T23:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-02T00:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-02T01:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-02T02:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-02T03:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-02T04:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-02T05:00:00'
                      POAI: 0.0162522744352185
                      EnergyGenerated: 0.0006165620420919681
                      SpecificYieldDC: 0.0003161856626112657
                      PerformanceRatio: 1.9454856233912392
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0.04110413613946454
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.2995655433787859
                      ModuleIrradianceLoss: 45.3723329303578
                      ModuleTemperatureLoss: 1.414896436884597
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 14.222373744521478
                    - TimeStamp: '2005-06-02T06:00:00'
                      POAI: 0.3986432072685819
                      EnergyGenerated: 0.6687199119581294
                      SpecificYieldDC: 0.3429332881836561
                      PerformanceRatio: 86.02511768188947
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 44.58132746387529
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 1.2007589358875568
                      ModuleIrradianceLoss: 1.9310943384535708
                      ModuleTemperatureLoss: 0.21908868534032208
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.2233815280277185
                    - TimeStamp: '2005-06-02T07:00:00'
                      POAI: 0.8237306884274127
                      EnergyGenerated: 1.3522480668887813
                      SpecificYieldDC: 0.693460547122452
                      PerformanceRatio: 84.18534805912599
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 90.14987112591875
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 4.809930806127681
                      ModuleIrradianceLoss: 0.030136784357981058
                      ModuleTemperatureLoss: 3.6919610628728736
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.9170835387119127
                    - TimeStamp: '2005-06-02T08:00:00'
                      POAI: 0.9292956137789822
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 80.74078643691121
                      InverterLimitationLoss: 0.008016525198387914
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 4.859691463582784
                      ModuleIrradianceLoss: 0.03510047758022864
                      ModuleTemperatureLoss: 5.106376345464868
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.0461365161470813
                    - TimeStamp: '2005-06-02T09:00:00'
                      POAI: 0.9754004147382794
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 76.9243661937747
                      InverterLimitationLoss: 0.02506445829983201
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.1039467106488994
                      ModuleIrradianceLoss: 0.03436972636940652
                      ModuleTemperatureLoss: 6.178900454436505
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.0858008104945833
                    - TimeStamp: '2005-06-02T10:00:00'
                      POAI: 0.9672697183690983
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 77.57097866704414
                      InverterLimitationLoss: 0.023241528449256612
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 2.2193487794112117
                      ModuleIrradianceLoss: 0.03436261018600795
                      ModuleTemperatureLoss: 6.715769309637198
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.1136896296048768
                    - TimeStamp: '2005-06-02T11:00:00'
                      POAI: 0.9469225704441978
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 79.23779729285559
                      InverterLimitationLoss: 0.019107816960298632
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.7089496174900671
                      ModuleIrradianceLoss: 0.0359451255381347
                      ModuleTemperatureLoss: 7.10300831777501
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.0876211116164343
                    - TimeStamp: '2005-06-02T12:00:00'
                      POAI: 0.9355645148998436
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 80.19976975817605
                      InverterLimitationLoss: 0.015396330671839008
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.0009059394359601403
                      ModuleIrradianceLoss: 0.037352812459018246
                      ModuleTemperatureLoss: 7.396024219983736
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.9025568402095621
                    - TimeStamp: '2005-06-02T13:00:00'
                      POAI: 0.9439021794720397
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 79.49135018509587
                      InverterLimitationLoss: 0.015492437155037071
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.6285384021476011
                      ModuleIrradianceLoss: 0.03682908413105768
                      ModuleTemperatureLoss: 7.667001256591399
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.8815953203692809
                    - TimeStamp: '2005-06-02T14:00:00'
                      POAI: 0.9536914828240655
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 78.67539979145313
                      InverterLimitationLoss: 0.013982517330706934
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 2.199414736110081
                      ModuleIrradianceLoss: 0.03713198292722118
                      ModuleTemperatureLoss: 7.768254954196295
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.8999039990042251
                    - TimeStamp: '2005-06-02T15:00:00'
                      POAI: 0.9409256268337136
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 79.7428155308892
                      InverterLimitationLoss: 0.006903055209898215
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.390996296628212
                      ModuleIrradianceLoss: 0.03802436162908967
                      ModuleTemperatureLoss: 7.5986645360284735
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.9680806614280665
                    - TimeStamp: '2005-06-02T16:00:00'
                      POAI: 0.8978751489132331
                      EnergyGenerated: 1.4183281140462802
                      SpecificYieldDC: 0.7273477507929642
                      PerformanceRatio: 81.00767146449357
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 94.55520760308535
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 5.158558700914182
                      ModuleIrradianceLoss: 0.024119012303941395
                      ModuleTemperatureLoss: 7.037361232458821
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.1796728469210542
                    - TimeStamp: '2005-06-02T17:00:00'
                      POAI: 0.7746148988966349
                      EnergyGenerated: 1.2372969793195774
                      SpecificYieldDC: 0.6345112714459371
                      PerformanceRatio: 81.91312513479122
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 82.48646528797182
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 5.514044576192803
                      ModuleIrradianceLoss: 0.10240454221137615
                      ModuleTemperatureLoss: 5.790620401037794
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.2523386004372894
                    - TimeStamp: '2005-06-02T18:00:00'
                      POAI: 0.3935693127932559
                      EnergyGenerated: 0.6475927390174023
                      SpecificYieldDC: 0.33209884052174476
                      PerformanceRatio: 84.38128424311326
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 43.17284926782683
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 1.476269686226416
                      ModuleIrradianceLoss: 1.9481072846694165
                      ModuleTemperatureLoss: 2.4856491470964115
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.35633581987018004
                    - TimeStamp: '2005-06-02T19:00:00'
                      POAI: 0.017891807233633837
                      EnergyGenerated: 0.0028534554127905088
                      SpecificYieldDC: 0.0014633104680976969
                      PerformanceRatio: 8.1786621607844
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0.1902303608527006
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.41992244740556317
                      ModuleIrradianceLoss: 42.25853620598904
                      ModuleTemperatureLoss: 0.5307602342334808
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 13.041326684832056
                    - TimeStamp: '2005-06-02T20:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-02T21:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-02T22:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-02T23:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-03T00:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-03T01:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-03T02:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-03T03:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-03T04:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-03T05:00:00'
                      POAI: 0.02363028612397727
                      EnergyGenerated: 0.011007285668395698
                      SpecificYieldDC: 0.005644761881228563
                      PerformanceRatio: 23.887827052169776
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0.7338190445597133
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.3058596042809493
                      ModuleIrradianceLoss: 35.01223651863193
                      ModuleTemperatureLoss: 1.9840634956862129
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 12.372793100768586
                    - TimeStamp: '2005-06-03T06:00:00'
                      POAI: 0.4330578824416802
                      EnergyGenerated: 0.7333423880277616
                      SpecificYieldDC: 0.37607301950141625
                      PerformanceRatio: 86.84128259738164
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 48.88949253518411
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 1.1268736194414473
                      ModuleIrradianceLoss: 1.5440849281796105
                      ModuleTemperatureLoss: 0.8314946144554561
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.0825850922751701
                    - TimeStamp: '2005-06-03T07:00:00'
                      POAI: 0.9182779237754537
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 81.70953122818914
                      InverterLimitationLoss: 0.005393140246539667
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 5.27192398696256
                      ModuleIrradianceLoss: 0.03411372879050515
                      ModuleTemperatureLoss: 5.301943998961944
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 2.0976616062613935
                    - TimeStamp: '2005-06-03T08:00:00'
                      POAI: 0.7840229933961042
                      EnergyGenerated: 1.2673299270791925
                      SpecificYieldDC: 0.6499127831175346
                      PerformanceRatio: 82.89460750409212
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 84.48866180527949
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 6.295582159915187
                      ModuleIrradianceLoss: 0.08670787417631126
                      ModuleTemperatureLoss: 4.709789109125135
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 2.4685721178033475
                    - TimeStamp: '2005-06-03T09:00:00'
                      POAI: 1.0472615867301358
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 71.6459570747359
                      InverterLimitationLoss: 0.04494693099773244
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.442439366968326
                      ModuleIrradianceLoss: 0.0004355385723742793
                      ModuleTemperatureLoss: 7.612861565957339
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 2.0341800986086964
                    - TimeStamp: '2005-06-03T10:00:00'
                      POAI: 1.0241481998499158
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 73.26289173762423
                      InverterLimitationLoss: 0.03737398968448152
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 2.430148785845849
                      ModuleIrradianceLoss: 0.010969471290696236
                      ModuleTemperatureLoss: 8.077120772076004
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.6865161421265027
                    - TimeStamp: '2005-06-03T11:00:00'
                      POAI: 0.5977890883755428
                      EnergyGenerated: 0.982748256029963
                      SpecificYieldDC: 0.5039734646307502
                      PerformanceRatio: 84.30623349119149
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 65.51655040199753
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 1.162492632360414
                      ModuleIrradianceLoss: 0.5421198286729111
                      ModuleTemperatureLoss: 4.808822874791799
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.3326346101300681
                    - TimeStamp: '2005-06-03T12:00:00'
                      POAI: 0.40111918225527343
                      EnergyGenerated: 0.6583306056016892
                      SpecificYieldDC: 0.337605438770097
                      PerformanceRatio: 84.16586732948711
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 43.888707040112614
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.0020008803991427185
                      ModuleIrradianceLoss: 1.8590840344469728
                      ModuleTemperatureLoss: 3.1091907607930906
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.363184213538104
                    - TimeStamp: '2005-06-03T13:00:00'
                      POAI: 0.2567311417341729
                      EnergyGenerated: 0.4109747867563835
                      SpecificYieldDC: 0.2107563009007095
                      PerformanceRatio: 82.09222281219505
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 27.398319117092235
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 1.2590460551169198
                      ModuleIrradianceLoss: 4.080255253649923
                      ModuleTemperatureLoss: 1.6137137759992686
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.3073246810695178
                    - TimeStamp: '2005-06-03T14:00:00'
                      POAI: 0.2907928138824277
                      EnergyGenerated: 0.4614283651277204
                      SpecificYieldDC: 0.2366299308347284
                      PerformanceRatio: 81.37406412333206
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 30.76189100851469
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 4.446572375280093
                      ModuleIrradianceLoss: 3.493105974012535
                      ModuleTemperatureLoss: 1.6167779154472641
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 2.0541648141836713
                    - TimeStamp: '2005-06-03T15:00:00'
                      POAI: 0.4008099305705713
                      EnergyGenerated: 0.6262207836773194
                      SpecificYieldDC: 0.32113886342426634
                      PerformanceRatio: 80.12248173769308
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 41.748052245154625
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 7.062648609776296
                      ModuleIrradianceLoss: 2.0877784767546888
                      ModuleTemperatureLoss: 2.351642835243121
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.3292266598960958
                    - TimeStamp: '2005-06-03T16:00:00'
                      POAI: 0.7952857361940343
                      EnergyGenerated: 1.2586384592681368
                      SpecificYieldDC: 0.645455620137506
                      PerformanceRatio: 81.16021585228424
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 83.90923061787578
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 6.304594956005558
                      ModuleIrradianceLoss: 0.0855848805634072
                      ModuleTemperatureLoss: 5.495866935265302
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.3317763815224473
                    - TimeStamp: '2005-06-03T17:00:00'
                      POAI: 0.7767191110024226
                      EnergyGenerated: 1.2400313817762914
                      SpecificYieldDC: 0.6359135291160468
                      PerformanceRatio: 81.87175004556613
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 82.6687587850861
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 5.661447478174897
                      ModuleIrradianceLoss: 0.1060329594337036
                      ModuleTemperatureLoss: 5.317306575115987
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.936564028882016
                    - TimeStamp: '2005-06-03T18:00:00'
                      POAI: 0.4930547244360208
                      EnergyGenerated: 0.8118096443267899
                      SpecificYieldDC: 0.41631263811630254
                      PerformanceRatio: 84.4353816085021
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 54.12064295511932
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 1.3644006020099466
                      ModuleIrradianceLoss: 1.1236947720935189
                      ModuleTemperatureLoss: 3.0173624584877126
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.9164216349767537
                    - TimeStamp: '2005-06-03T19:00:00'
                      POAI: 0.022073895403578497
                      EnergyGenerated: 0.007891733768414896
                      SpecificYieldDC: 0.004047042958161485
                      PerformanceRatio: 18.334067839722575
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0.526115584560993
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.4392564008186243
                      ModuleIrradianceLoss: 37.18931719467299
                      ModuleTemperatureLoss: 0.6917671698425824
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 14.141280331351552
                    - TimeStamp: '2005-06-03T20:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-03T21:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-03T22:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-03T23:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-04T00:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-04T01:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-04T02:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-04T03:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-04T04:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-04T05:00:00'
                      POAI: 0.017372142874187674
                      EnergyGenerated: 0.0018703823467513866
                      SpecificYieldDC: 0.0009591704342314803
                      PerformanceRatio: 5.5213132955328135
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0.12469215645009243
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.3177923508888304
                      ModuleIrradianceLoss: 43.778799235356736
                      ModuleTemperatureLoss: 1.963443437432115
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 15.04826000092664
                    - TimeStamp: '2005-06-04T06:00:00'
                      POAI: 0.4773050715477325
                      EnergyGenerated: 0.8094813991642709
                      SpecificYieldDC: 0.41511866623808763
                      PerformanceRatio: 86.97135039692827
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 53.9654266109514
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.9906140504695696
                      ModuleIrradianceLoss: 1.2540525478838436
                      ModuleTemperatureLoss: 0.6653785073681692
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.7591225445722065
                    - TimeStamp: '2005-06-04T07:00:00'
                      POAI: 0.9409825004740282
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 79.73799581935802
                      InverterLimitationLoss: 0.01914559797043598
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 4.01920671310484
                      ModuleIrradianceLoss: 0.03790309807725109
                      ModuleTemperatureLoss: 3.5240665079013453
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.5509117139113499
                    - TimeStamp: '2005-06-04T08:00:00'
                      POAI: 1.049918070671886
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 71.46467975436502
                      InverterLimitationLoss: 0.05029879063322174
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 4.197356657955366
                      ModuleIrradianceLoss: 0.008564343808796062
                      ModuleTemperatureLoss: 4.925876051336524
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.6180446817043886
                    - TimeStamp: '2005-06-04T09:00:00'
                      POAI: 1.0843878256735093
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 69.193010943557
                      InverterLimitationLoss: 0.06388930430726486
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 2.621124591462605
                      ModuleIrradianceLoss: 0.02917353223458173
                      ModuleTemperatureLoss: 5.857482317961639
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.7667173905353155
                    - TimeStamp: '2005-06-04T10:00:00'
                      POAI: 1.0833081877718624
                      EnergyGenerated: 1.4631251444332987
                      SpecificYieldDC: 0.7503205868888712
                      PerformanceRatio: 69.26196952615332
                      InverterLimitationLoss: 0.06066779610906349
                      ACCapacityFactor: 97.54167629555324
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 2.3149216170530793
                      ModuleIrradianceLoss: 0.02545414321516522
                      ModuleTemperatureLoss: 6.312099314932521
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.6719047225057255
                    - TimeStamp: '2005-06-04T11:00:00'
                      POAI: 0.7011712062200951
                      EnergyGenerated: 1.166485697461644
                      SpecificYieldDC: 0.5981977935700739
                      PerformanceRatio: 85.3140842441128
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 77.7657131641096
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 1.1266558244893436
                      ModuleIrradianceLoss: 0.22422698138878971
                      ModuleTemperatureLoss: 3.423633606433655
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.742562269250925
                    - TimeStamp: '2005-06-04T12:00:00'
                      POAI: 0.6110617620590558
                      EnergyGenerated: 1.0237791042799753
                      SpecificYieldDC: 0.5250149252717822
                      PerformanceRatio: 85.9184714001205
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 68.25194028533168
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.0020120269706410737
                      ModuleIrradianceLoss: 0.49616909558520184
                      ModuleTemperatureLoss: 2.7488711184285437
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.6931876589181984
                    - TimeStamp: '2005-06-04T13:00:00'
                      POAI: 0.5545784846391126
                      EnergyGenerated: 0.9219638401689203
                      SpecificYieldDC: 0.47280196931739504
                      PerformanceRatio: 85.25429356046278
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 61.464256011261355
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 1.1149993157457834
                      ModuleIrradianceLoss: 0.7727453804295669
                      ModuleTemperatureLoss: 2.218208462745799
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.7255796195712507
                    - TimeStamp: '2005-06-04T14:00:00'
                      POAI: 0.5701032220835491
                      EnergyGenerated: 0.9329750942789963
                      SpecificYieldDC: 0.4784487662969212
                      PerformanceRatio: 83.92318228764616
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 62.19833961859975
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.701523064014112
                      ModuleIrradianceLoss: 0.7403713189657607
                      ModuleTemperatureLoss: 2.214295874413111
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.8540336369933125
                    - TimeStamp: '2005-06-04T15:00:00'
                      POAI: 0.4657652134346239
                      EnergyGenerated: 0.7400885883120213
                      SpecificYieldDC: 0.37953260939078015
                      PerformanceRatio: 81.48582127721575
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 49.33923922080142
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 6.922594578010815
                      ModuleIrradianceLoss: 1.5002520008643772
                      ModuleTemperatureLoss: 1.1390163861641465
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.9216058068802525
                    - TimeStamp: '2005-06-04T16:00:00'
                      POAI: 0.3912025068917612
                      EnergyGenerated: 0.6016444038178967
                      SpecificYieldDC: 0.30853559170148553
                      PerformanceRatio: 78.86851087762888
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 40.10962692119311
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 10.120954951769153
                      ModuleIrradianceLoss: 2.3424498622759446
                      ModuleTemperatureLoss: 0.2596406704942892
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.051067847309753
                    - TimeStamp: '2005-06-04T17:00:00'
                      POAI: 0.27597096516089237
                      EnergyGenerated: 0.4070901589606743
                      SpecificYieldDC: 0.20876418408239708
                      PerformanceRatio: 75.64715511310641
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 27.139343930711618
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 12.0701998931032
                      ModuleIrradianceLoss: 4.272838599772837
                      ModuleTemperatureLoss: 0.9639921475350747
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.6113187445962693
                    - TimeStamp: '2005-06-04T18:00:00'
                      POAI: 0.14981184909758935
                      EnergyGenerated: 0.2254293035156776
                      SpecificYieldDC: 0.11560477103368083
                      PerformanceRatio: 77.16664050943955
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 15.028620234378506
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.4891518280409484
                      ModuleIrradianceLoss: 7.938377322448032
                      ModuleTemperatureLoss: 2.1693793014845926
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.2006948618518583
                    - TimeStamp: '2005-06-04T19:00:00'
                      POAI: 0.017973701345930047
                      EnergyGenerated: 0.0026438561165324746
                      SpecificYieldDC: 0.0013558236495038332
                      PerformanceRatio: 7.543374752973989
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0.1762570744354983
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0.4611246196829564
                      ModuleIrradianceLoss: 42.72329692216287
                      ModuleTemperatureLoss: 1.5414513619472066
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 14.701347636055461
                    - TimeStamp: '2005-06-04T20:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-04T21:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-04T22:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    - TimeStamp: '2005-06-04T23:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 0
                      ModuleIrradianceLoss: 0
                      ModuleTemperatureLoss: 0
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0
                    DailyDetails:
                    - TimeStamp: '2005-06-01T00:00:00'
                      POAI: 7.65838839822744
                      EnergyGenerated: 12.321657083453704
                      SpecificYieldDC: 6.318798504335233
                      PerformanceRatio: 82.5082011484001
                      InverterLimitationLoss: 1.026683864110053e-06
                      ACCapacityFactor: 34.226825231815845
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.909807518339629
                      ModuleIrradianceLoss: 0.8725824378313701
                      ModuleTemperatureLoss: 4.541966781760918
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.4567372090889195
                    - TimeStamp: '2005-06-02T00:00:00'
                      POAI: 10.915549459328192
                      EnergyGenerated: 17.032656984151444
                      SpecificYieldDC: 8.734695889308433
                      PerformanceRatio: 80.02067071249401
                      InverterLimitationLoss: 0.1272046692752564
                      ACCapacityFactor: 47.31293606708735
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 2.76497632897334
                      ModuleIrradianceLoss: 0.23408573434111105
                      ModuleTemperatureLoss: 6.197276976128442
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.8498288616136229
                    - TimeStamp: '2005-06-03T00:00:00'
                      POAI: 8.264774496171311
                      EnergyGenerated: 12.859129050407951
                      SpecificYieldDC: 6.59442515405536
                      PerformanceRatio: 79.78953517860955
                      InverterLimitationLoss: 0.08771406092875364
                      ACCapacityFactor: 35.71980291779987
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.82377923934704
                      ModuleIrradianceLoss: 0.8115778590017266
                      ModuleTemperatureLoss: 4.992551838359687
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.3665666739760556
                    - TimeStamp: '2005-06-04T00:00:00'
                      POAI: 8.390912709945814
                      EnergyGenerated: 12.685952406156552
                      SpecificYieldDC: 6.505616618541822
                      PerformanceRatio: 77.53169224166358
                      InverterLimitationLoss: 0.19400148901998607
                      ACCapacityFactor: 35.238756683768194
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.4064002949705747
                      ModuleIrradianceLoss: 0.8250813271030119
                      ModuleTemperatureLoss: 3.3834299608770415
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 0.4795758772461505
                    MonthlyDetails:
                    - TimeStamp: '2005-06-01T00:00:00'
                      POAI: 35.229625063672756
                      EnergyGenerated: 54.89939552416965
                      SpecificYieldDC: 28.153536166240848
                      PerformanceRatio: 79.91437920601527
                      InverterLimitationLoss: 0.4089212459078602
                      ACCapacityFactor: 38.12458022511782
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.4150105446671155
                      ModuleIrradianceLoss: 0.6468938283773887
                      ModuleTemperatureLoss: 4.892633443721296
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.0148008378121764
                    YearlyDetails:
                    - TimeStamp: '2005-06-01T00:00:00'
                      POAI: 35.229625063672756
                      EnergyGenerated: 54.89939552416965
                      SpecificYieldDC: 28.153536166240848
                      PerformanceRatio: 79.91437920601527
                      InverterLimitationLoss: 0.4089212459078602
                      ACCapacityFactor: 38.12458022511782
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: 3.4150105446671155
                      ModuleIrradianceLoss: 0.6468938283773887
                      ModuleTemperatureLoss: 4.892633443721296
                      InverterEfficiencyLoss: 0
                      SpectralLoss: 1.0148008378121764
                    Total:
                      TimeStamp: '2005-06-05T00:00:00'
                      POAI: 0
                      EnergyGenerated: 0
                      SpecificYieldDC: 0
                      PerformanceRatio: 0
                      InverterLimitationLoss: 0
                      ACCapacityFactor: 0
                      ESSPVEnergy: 0
                      ESSBatteryEnergy: 0
                      NearShadingLoss: NaN
                      ModuleIrradianceLoss: NaN
                      ModuleTemperatureLoss: NaN
                      InverterEfficiencyLoss: NaN
                      SpectralLoss: NaN
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /Project/{projectId}/Prediction/{predictionId}/AverageEnergy:
    get:
      tags:
      - Results
      summary: Get average energy results
      description: "Returns average energy for a prediction that has completed with results.\n\n**Parameters:**\n\n- `projectId` (path, required): The project ID.\n    \n- `predictionId` (path, required): The prediction ID.\n"
      operationId: getAverageEnergy
      x-doc-source: postman
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
      - name: predictionId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Average energy by year
          content:
            application/json:
              schema:
                type: object
                properties:
                  predictionName:
                    type: string
                  start:
                    type: string
                    description: ISO-8601 datetime as returned by the PlantPredict API. May or may not include a timezone offset; treat as server-local when no offset is present.
                  end:
                    type: string
                    description: ISO-8601 datetime as returned by the PlantPredict API. May or may not include a timezone offset; treat as server-local when no offset is present.
                  years:
                    type: array
                    items:
                      type: object
              examples:
                postman-average-energy:
                  value:
                    predictionName: Base Block - Small Weather
[...]
