openapi: 3.2.0
info:
  title: PlantPredict Weather API
  version: 12.13.0
  description: "## What is PlantPredict?\n\nPlantPredict is an industry-leading performance modeling platform for utility-scale\nsolar power plants. It predicts energy yield across the full project lifecycle —\nfrom early-stage site prospecting through detailed engineering and operational\nmonitoring. The same engine that powers the PlantPredict web UI is fully exposed\nvia this REST API, enabling automation of complex, high-time-resolution energy\npredictions without any UI interaction.\n\n## Domain Model — read this first\n\nUnderstanding the object hierarchy is essential before calling the API:\n\n- **Weather** — A weather file (hourly irradiance, temperature, wind, etc.) for a\n  geographic location. Imported from a provider (e.g. SolarAnywhere, Meteonorm) or\n  uploaded manually. Weather files live in a company-wide library and are referenced\n  by Predictions.\n\n- **Module** — A PV module definition parameterized with electrical characteristics\n  (STC power, temperature coefficients, single-diode model parameters, IAM curves,\n  etc.). Modules live in a company-wide library.\n\n- **Inverter** — An inverter definition with efficiency curves, voltage/power ratings,\n  and optional kVA derating curves. Inverters live in a company-wide library.\n\n- **Project** — A named location (lat/lon) that acts as a container for one or more\n  Predictions. Holds geographic metadata (country, elevation, UTC offset) and a status.\n\n- **Prediction** — The core simulation configuration nested under a Project. Defines\n  the simulation period, model selections (transposition, air mass, degradation,\n  soiling, shading, spectral shift models), uncertainty error terms, and references\n  to a Weather file. A Prediction must be linked to a PowerPlant before it can be run.\n  Status values: 0 = Draft, 1 = Active, 2 = Issued, 3 = Archived.\n\n- **PowerPlant** — The physical plant design attached to a Prediction. Describes the\n  electrical topology: Blocks → Arrays → Inverters → DC Fields (strings of modules).\n  Also includes transformers, transmission lines, energy storage (ESS), availability\n  losses, and LGIA export limits.\n\n- **Shade Scene** — An optional 3D shading model (PVJ format) attached to a\n  Prediction's DC Fields. Supports import from PVC or SHD files. Shade and TABT\n  (Tracker Angle Back-Tracking) calculations are queued and run asynchronously.\n\n## Typical workflow to run a prediction\n\n1. Ensure a **Weather** file exists (search, download, or import one).\n2. Ensure a **Module** and **Inverter** exist in the library.\n3. **POST /Project** — create a project at the site location.\n4. **POST /Project/{projectId}/Prediction** — create a prediction with model settings.\n5. **POST /Project/{projectId}/Prediction/{predictionId}/PowerPlant** — attach a plant\n   design referencing your module and inverter.\n6. **POST /Project/{projectId}/Prediction/{predictionId}/Run** — queue the simulation.\n7. Poll **GET /Project/{projectId}/Prediction/{predictionId}/Overview** until\n   `status` reaches 2 (complete), then retrieve results via `/ResultSummary`,\n   `/ResultDetails`, or `/NodalJson`.\n\n## Authentication\n\nOAuth 2.0 **Client Credentials** flow via AWS Cognito. The spec advertises\na single `bearerAuth` scheme — fetch a token yourself with the snippet\nbelow, then either paste it into the in-browser playground or pass it on\nevery request as `Authorization: Bearer <token>`.\n\n> **Why not advertise OAuth2 directly?** Most users have access to the\n> production tenant only, and we don't want to invite anyone to enter\n> long-lived `client_id` / `client_secret` credentials into a third-party\n> documentation site. Keep credentials in your own environment; ship\n> short-lived bearer tokens to wherever they are needed.\n\n- Token URL: `https://terabase-prd.auth.us-west-2.amazoncognito.com/oauth2/token`\n- Scopes: `transactions/get` (read), `transactions/post` (write) — request\n  both to access the entire surface.\n- Send credentials as **Basic Auth** in the token request header.\n\nExample:\n\n```bash\ncurl -X POST 'https://terabase-prd.auth.us-west-2.amazoncognito.com/oauth2/token' \\\n  -u \"$PP_CLIENT_ID:$PP_CLIENT_SECRET\" \\\n  -d 'grant_type=client_credentials&scope=transactions/get transactions/post'\n```\n\nAPI credentials (Client ID + Secret) are generated per user by a company admin\ninside the PlantPredict UI (gear icon → user profile → Generate API Credentials).\nStore them securely — they are shown only once.\n\n## Notes\n\n- All request/response bodies are JSON (`Content-Type: application/json`).\n- The API is stateless — every request must supply complete inputs; there is no session.\n- POST operations that create entities return `{\"id\": <integer>}`.\n- Many integer fields (model types, status codes) map to named enums — use\n  `GET /Definitions` to retrieve the full enum catalog at runtime.\n- Long-running operations (Run, Shade calculations, TABT) are asynchronous; poll\n  the corresponding `ProcessingStatus` endpoint to track progress.\n- Responses may include an `X-Message` header with non-blocking warnings (e.g.\n  duplicate project name).\n"
servers:
- url: https://api.plantpredict.terabase.energy
  description: Production
security:
- bearerAuth: []
tags:
- name: Weather
  description: Weather file import, download, and management
paths:
  /Weather:
    post:
      tags:
      - Weather
      summary: Create a weather file
      description: Creates a new weather file in the company library from a payload of hourly meteorological records (irradiance, temperature, wind, etc.). For provider-sourced data, use `POST /Weather/Download/{providerId}` instead so metadata and downloads are handled automatically.
      operationId: createWeather
      x-doc-source: drafted
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeatherFile'
            examples:
              postman-weather-create:
                value:
                  status: 1
                  distance: 0
                  locality: Oxford
                  stateProvince: Nebraska
                  stateProvinceCode: NE
                  country: United States
                  countryCode: US
                  region: North America
                  source: LocalWeatherFile.xlsx
                  stationName: ''
                  format: 3
                  stationCode: null
                  latitude: 40.1932678
                  longitude: -99.7152252
                  elevation: 665
                  timeZone: -6
                  timestampDefinition: 0
                  timestampDefinitionOriginal: 0
                  timeInterval: 60
                  startDate: '2005-01-01T00:00:00'
                  endDate: '2005-01-01T23:00:00'
                  globalHorizontalIrradianceSum: 0.6
                  diffuseHorizontalIrradianceSum: 0.6
                  directNormalIrradianceSum: 0
                  planeOfArrayIrradianceSum: null
                  averageAirTemperature: 6.55
                  maxAirTemperature: 8.25
                  averageRelativeHumidity: 79.56
                  averageWindSpeed: 3.25
                  averagePrecipitableWater: null
                  averageDewpoint: null
                  averageSoilingLoss: null
                  rainfallSum: 4.57
                  weatherDataModelVersion: 8.1.2.15989
                  dataProvider: 4
                  pLevel: 0
                  windSensorHeight: 10
                  weatherDetails:
                  - id: 0
                    weatherId: 68915
                    index: 1
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 930.32
                    temperature: 6.07
                    relativeHumidity: 87.76
                    windspeed: 3
                    windDirection: 173.1
                    timeStamp: '2005-01-01T00:00:00'
                    adjustedTimeStamp: '2005-01-01T00:30:00'
                    precipitableWater: null
                    rainfall: 2.23
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 2
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 930.32
                    temperature: 6.27
                    relativeHumidity: 79.89
                    windspeed: 2.5
                    windDirection: 206.5
                    timeStamp: '2005-01-01T01:00:00'
                    adjustedTimeStamp: '2005-01-01T01:30:00'
                    precipitableWater: null
                    rainfall: 0.1
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 3
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 930.32
                    temperature: 6.01
                    relativeHumidity: 82.03
                    windspeed: 2
                    windDirection: 204.1
                    timeStamp: '2005-01-01T02:00:00'
                    adjustedTimeStamp: '2005-01-01T02:30:00'
                    precipitableWater: null
                    rainfall: 0.15
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 4
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 930.32
                    temperature: 5.93
                    relativeHumidity: 79.61
                    windspeed: 2.5
                    windDirection: 264.5
                    timeStamp: '2005-01-01T03:00:00'
                    adjustedTimeStamp: '2005-01-01T03:30:00'
                    precipitableWater: null
                    rainfall: 0.03
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 5
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 930.32
                    temperature: 5.81
                    relativeHumidity: 77.89
                    windspeed: 2.3
                    windDirection: 218.4
                    timeStamp: '2005-01-01T04:00:00'
                    adjustedTimeStamp: '2005-01-01T04:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 6
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 930.32
                    temperature: 5.7
                    relativeHumidity: 76.96
                    windspeed: 2.6
                    windDirection: 207.4
                    timeStamp: '2005-01-01T05:00:00'
                    adjustedTimeStamp: '2005-01-01T05:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 7
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 930.32
                    temperature: 5.62
                    relativeHumidity: 80.45
                    windspeed: 2.2
                    windDirection: 231
                    timeStamp: '2005-01-01T06:00:00'
                    adjustedTimeStamp: '2005-01-01T06:30:00'
                    precipitableWater: null
                    rainfall: 0.01
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 8
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 930.32
                    temperature: 5.54
                    relativeHumidity: 80.71
                    windspeed: 3
                    windDirection: 191.6
                    timeStamp: '2005-01-01T07:00:00'
                    adjustedTimeStamp: '2005-01-01T07:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 9
                    dewpoint: null
                    diffuseHorizontalIrradiance: 6.1
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 6.1
                    pressure: 930.32
                    temperature: 5.76
                    relativeHumidity: 80.31
                    windspeed: 2.6
                    windDirection: 168.9
                    timeStamp: '2005-01-01T08:00:00'
                    adjustedTimeStamp: '2005-01-01T08:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 30.0402528947981
                  - id: 0
                    weatherId: 68915
                    index: 10
                    dewpoint: null
                    diffuseHorizontalIrradiance: 50.08
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 50.08
                    pressure: 930.32
                    temperature: 6.57
                    relativeHumidity: 83.12
                    windspeed: 4.1
                    windDirection: 252.7
                    timeStamp: '2005-01-01T09:00:00'
                    adjustedTimeStamp: '2005-01-01T09:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 185.49330738635734
                  - id: 0
                    weatherId: 68915
                    index: 11
                    dewpoint: null
                    diffuseHorizontalIrradiance: 88.92
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 88.92
                    pressure: 930.32
                    temperature: 7.31
                    relativeHumidity: 76.96
                    windspeed: 3.7
                    windDirection: 50.4
                    timeStamp: '2005-01-01T10:00:00'
                    adjustedTimeStamp: '2005-01-01T10:30:00'
                    precipitableWater: null
                    rainfall: 0.02
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 320.34875208133815
                  - id: 0
                    weatherId: 68915
                    index: 12
                    dewpoint: null
                    diffuseHorizontalIrradiance: 103.67
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 103.67
                    pressure: 930.32
                    temperature: 7.82
                    relativeHumidity: 74.6
                    windspeed: 3.5
                    windDirection: 181.3
                    timeStamp: '2005-01-01T11:00:00'
                    adjustedTimeStamp: '2005-01-01T11:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 412.4474580667211
                  - id: 0
                    weatherId: 68915
                    index: 13
                    dewpoint: null
                    diffuseHorizontalIrradiance: 99.12
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 99.12
                    pressure: 930.32
                    temperature: 8.08
                    relativeHumidity: 71.52
                    windspeed: 3.9
                    windDirection: 189.9
                    timeStamp: '2005-01-01T12:00:00'
                    adjustedTimeStamp: '2005-01-01T12:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 452.27318005064905
                  - id: 0
                    weatherId: 68915
                    index: 14
                    dewpoint: null
                    diffuseHorizontalIrradiance: 92.96
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 92.96
                    pressure: 930.45
                    temperature: 8.23
                    relativeHumidity: 72.61
                    windspeed: 4.4
                    windDirection: 57.8
                    timeStamp: '2005-01-01T13:00:00'
                    adjustedTimeStamp: '2005-01-01T13:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 436.06204606577194
                  - id: 0
                    weatherId: 68915
                    index: 15
                    dewpoint: null
                    diffuseHorizontalIrradiance: 79.1
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 79.1
                    pressure: 930.58
                    temperature: 8.25
                    relativeHumidity: 67.18
                    windspeed: 3.7
                    windDirection: 55.1
                    timeStamp: '2005-01-01T14:00:00'
                    adjustedTimeStamp: '2005-01-01T14:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 365.3295473095477
                  - id: 0
                    weatherId: 68915
                    index: 16
                    dewpoint: null
                    diffuseHorizontalIrradiance: 52.79
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 52.79
                    pressure: 930.7
                    temperature: 8.09
                    relativeHumidity: 66.09
                    windspeed: 5.1
                    windDirection: 175.9
                    timeStamp: '2005-01-01T15:00:00'
                    adjustedTimeStamp: '2005-01-01T15:30:00'
                    precipitableWater: null
                    rainfall: 0.06
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 247.01201691729582
                  - id: 0
                    weatherId: 68915
                    index: 17
                    dewpoint: null
                    diffuseHorizontalIrradiance: 22.03
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 22.03
                    pressure: 930.83
                    temperature: 7.7
                    relativeHumidity: 81.96
                    windspeed: 3.9
                    windDirection: 36
                    timeStamp: '2005-01-01T16:00:00'
                    adjustedTimeStamp: '2005-01-01T16:30:00'
                    precipitableWater: null
                    rainfall: 0.23
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 95.29513760680047
                  - id: 0
                    weatherId: 68915
                    index: 18
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0.59
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0.59
                    pressure: 930.96
                    temperature: 7.23
                    relativeHumidity: 81.98
                    windspeed: 4.4
                    windDirection: 155.2
                    timeStamp: '2005-01-01T17:00:00'
                    adjustedTimeStamp: '2005-01-01T17:30:00'
                    precipitableWater: null
                    rainfall: 0.52
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 19
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 931.09
                    temperature: 6.75
                    relativeHumidity: 82
                    windspeed: 3.7
                    windDirection: 52.1
                    timeStamp: '2005-01-01T18:00:00'
                    adjustedTimeStamp: '2005-01-01T18:30:00'
                    precipitableWater: null
                    rainfall: 0.88
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 20
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 931.22
                    temperature: 6.45
                    relativeHumidity: 82.01
                    windspeed: 3.7
                    windDirection: 190.7
                    timeStamp: '2005-01-01T19:00:00'
                    adjustedTimeStamp: '2005-01-01T19:30:00'
                    precipitableWater: null
                    rainfall: 0.34
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 21
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 931.34
                    temperature: 6.09
                    relativeHumidity: 85.91
                    windspeed: 3.7
                    windDirection: 203.5
                    timeStamp: '2005-01-01T20:00:00'
                    adjustedTimeStamp: '2005-01-01T20:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 22
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 931.47
                    temperature: 5.69
                    relativeHumidity: 85.92
                    windspeed: 2.9
                    windDirection: 164.6
                    timeStamp: '2005-01-01T21:00:00'
                    adjustedTimeStamp: '2005-01-01T21:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 23
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 931.6
                    temperature: 5.29
                    relativeHumidity: 85.94
                    windspeed: 2.3
                    windDirection: 220.2
                    timeStamp: '2005-01-01T22:00:00'
                    adjustedTimeStamp: '2005-01-01T22:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  - id: 0
                    weatherId: 68915
                    index: 24
                    dewpoint: null
                    diffuseHorizontalIrradiance: 0
                    directNormalIrradiance: 0
                    planeOfArrayIrradiance: null
                    globalHorizontalIrradiance: 0
                    pressure: 931.73
                    temperature: 4.88
                    relativeHumidity: 85.95
                    windspeed: 2.2
                    windDirection: 170.6
                    timeStamp: '2005-01-01T23:00:00'
                    adjustedTimeStamp: '2005-01-01T23:30:00'
                    precipitableWater: null
                    rainfall: 0
                    albedo: 0
                    soilingLoss: null
                    beamHorizontalIrradiance: 0
                    clearSkyIrradiance: 0
                  dataType: 1
                  customerName: ''
                  apiLocked: false
                  apiDownloaded: false
                  offsetMinutes: 0
                  usingSytemKey: false
                  moduleTilt: null
                  moduleAzimuth: null
                  trackingType: null
                  trackingBacktrackingType: 0
                  minimumTrackingLimitAngleD: 0
                  maximumTrackingLimitAngleD: null
                  trackerPitchAngleD: 0
                  trackerStowAngle: 0
                  groundCoverageRatio: null
                  id: 68915
                  name: Meteonorm - 40.193N - 99.715W
                  description: null
      responses:
        '200':
          description: Created weather ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                postman-create:
                  value:
                    id: 68916
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Weather/{weatherId}:
    get:
      tags:
      - Weather
      summary: Get a weather file
      description: Retrieves a single weather file's metadata (provider, location, time range, status). To fetch the actual hourly records, call `GET /Weather/{weatherId}/Detail`.
      operationId: getWeather
      x-doc-source: drafted
      parameters:
      - name: weatherId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Weather file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherFile'
              examples:
                postman-weather:
                  value:
                    status: 1
                    distance: 0
                    locality: Oxford
                    stateProvince: Nebraska
                    stateProvinceCode: NE
                    country: United States
                    countryCode: US
                    region: North America
                    source: Book2.xlsx
                    stationName: ''
                    format: 3
                    stationCode: null
                    latitude: 40.1932678
                    longitude: -99.7152252
                    elevation: 665
                    timeZone: -6
                    timestampDefinition: 0
                    timestampDefinitionOriginal: 0
                    timeInterval: 60
                    startDate: '2005-01-01T00:00:00'
                    endDate: '2005-01-01T23:00:00'
                    globalHorizontalIrradianceSum: 0.6
                    diffuseHorizontalIrradianceSum: 0.6
                    directNormalIrradianceSum: 0
                    planeOfArrayIrradianceSum: null
                    averageAirTemperature: 6.55
                    maxAirTemperature: 8.25
                    averageRelativeHumidity: 79.56
                    averageWindSpeed: 3.25
                    averagePrecipitableWater: null
                    averageDewpoint: null
                    averageSoilingLoss: null
                    rainfallSum: 4.57
                    weatherDataModelVersion: 8.1.2.15989
                    dataProvider: 4
                    pLevel: 0
                    windSensorHeight: 10
                    weatherDetails: null
                    dataType: 1
                    customerName: ''
                    apiLocked: false
                    apiDownloaded: false
                    weatherFileKey: 00000000-0000-0000-0000-000000000000
                    offsetMinutes: 0
                    usingSytemKey: false
                    moduleTilt: null
                    moduleAzimuth: null
                    trackingType: null
                    trackingBacktrackingType: 0
                    minimumTrackingLimitAngleD: 0
                    maximumTrackingLimitAngleD: null
                    trackerPitchAngleD: 0
                    trackerStowAngle: 0
                    groundCoverageRatio: null
                    id: 68915
                    name: Meteonorm - 40.193N - 99.715W
                    description: null
                    companyId: 1042
                    company: null
                    ownerId: 5093
                    owner:
                      claims: []
                      logins: []
                      roles: []
                      company: null
                      companyId: 1042
                      firstName: Jesse
                      lastName: Milam
                      jobTitle: Software Developer
                      createdByUserId: 5091
                      createdByUser: null
                      status: 1
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: '2022-07-05T20:04:50.863'
                      userWeatherDownloads: null
                      email: jmilam@terabase.energy
                      id: 5093
                    createdDate: '2022-12-22T20:20:16.477'
                    lastModified: '2022-12-22T20:20:16.477'
                    lastModifiedById: 5093
                    lastModifiedBy:
                      claims: []
                      logins: []
                      roles: []
                      company: null
                      companyId: 1042
                      firstName: Jesse
                      lastName: Milam
                      jobTitle: Software Developer
                      createdByUserId: 5091
                      createdByUser: null
                      status: 1
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: '2022-07-05T20:04:50.863'
                      userWeatherDownloads: null
                      email: jmilam@terabase.energy
                      id: 5093
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /Weather/{weatherId}/Export:
    get:
      tags:
      - Weather
      summary: Export a weather file
      description: Returns the weather file as a downloadable artifact in its native format. Useful for inspecting the data outside PlantPredict or sharing it with other modeling tools.
      operationId: exportWeather
      x-doc-source: drafted
      parameters:
      - name: weatherId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Exported weather file (binary or JSON)
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /Weather/{weatherId}/TitleUpdate:
    put:
      tags:
      - Weather
      summary: Update weather file metadata
      description: Renames a weather file and/or updates lightweight metadata fields without touching the underlying hourly data.
      operationId: updateWeatherTitle
      x-doc-source: drafted
      parameters:
      - name: weatherId
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeatherFile'
            examples:
              postman-weather-title-update:
                value:
                  status: 1
                  distance: 0
                  locality: Hurghada 2
                  stateProvince: Red Sea Governorate
                  stateProvinceCode: Red Sea Governorate
                  country: Egypt
                  countryCode: EG
                  region: Africa
                  source: Meteonorm - 27.323N - 33.607E.xlsx
                  stationName: ''
                  format: 3
                  stationCode: null
                  latitude: 27.3230667
                  longitude: 33.6068764
                  elevation: 127
                  timeZone: 2
                  timestampDefinition: 0
                  timestampDefinitionOriginal: 0
                  timeInterval: 60
                  startDate: '2005-01-01T00:00:00'
                  endDate: '2005-12-31T23:00:00'
                  globalHorizontalIrradianceSum: 2081.92
                  diffuseHorizontalIrradianceSum: 757.37
                  directNormalIrradianceSum: 2054.86
                  planeOfArrayIrradianceSum: null
                  averageAirTemperature: 25.44
                  maxAirTemperature: 41.52
                  averageRelativeHumidity: 41.54
                  averageWindSpeed: 5.92
                  averagePrecipitableWater: null
                  averageDewpoint: null
                  averageSoilingLoss: null
                  rainfallSum: null
                  weatherDataModelVersion: 8.0.4.19761
                  dataProvider: 4
                  pLevel: 0
                  windSensorHeight: 10
                  weatherDetails: null
                  dataType: 1
                  customerName: ''
                  apiLocked: false
                  apiDownloaded: false
                  weatherFileKey: 00000000-0000-0000-0000-000000000000
                  offsetMinutes: 0
                  usingFirstSolarKey: false
                  moduleTilt: null
                  moduleAzimuth: null
                  trackingType: null
                  trackingBacktrackingType: 0
                  minimumTrackingLimitAngleD: 0
                  maximumTrackingLimitAngleD: null
                  trackerPitchAngleD: 0
                  trackerStowAngle: 0
                  groundCoverageRatio: null
                  id: 65731
                  name: Meteonorm - 27.323N - 33.607E
                  description: null
                  companyId: 1042
                  company: null
                  ownerId: 5093
                  owner:
                    claims: []
                    logins: []
                    roles: []
                    company: null
                    companyId: 1042
                    firstName: Jesse
                    lastName: Milam
                    jobTitle: Software Developer
                    createdByUserId: 5091
                    createdByUser: null
                    status: 1
                    settings: null
                    costCenter: null
                    migrationAgreementAcceptance: true
                    clientCredentialsCreatedOnUTC: '2021-11-30T14:16:05.783'
                    email: jmilam@terabase.energy
                    id: 5093
                  createdDate: '2021-12-02T18:12:46.897'
                  lastModified: '2021-12-02T18:12:46.897'
                  lastModifiedById: 5093
                  lastModifiedBy:
                    claims: []
                    logins: []
                    roles: []
                    company: null
                    companyId: 1042
                    firstName: Jesse
                    lastName: Milam
                    jobTitle: Software Developer
                    createdByUserId: 5091
                    createdByUser: null
                    status: 1
                    settings: null
                    costCenter: null
                    migrationAgreementAcceptance: true
                    clientCredentialsCreatedOnUTC: '2021-11-30T14:16:05.783'
                    email: jmilam@terabase.energy
                    id: 5093
      responses:
        '200':
          description: Updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /Weather/{weatherId}/Detail:
    get:
      tags:
      - Weather
      summary: Get weather hourly detail records
      description: Returns the full hourly time-series records for a weather file — irradiance components, ambient temperature, wind speed, etc. The response can be large (8760+ rows for a full year); plan to stream or page on the client side.
      operationId: getWeatherDetails
      x-doc-source: drafted
      parameters:
      - name: weatherId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Array of hourly records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WeatherDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
      - Weather
      summary: Update weather hourly detail records
      description: 'Used to update details for an existing weather file. **Note: This will completely overwrite the each timestamp with the provided values. If you omit data from the JSON it will not keep the previous values.**'
      operationId: updateWeatherDetails
      x-doc-source: postman
      parameters:
      - name: weatherId
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WeatherDetail'
      responses:
        '200':
          description: Updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /Weather/Search:
    get:
      tags:
      - Weather
      summary: Search weather files by location
      description: Finds weather files within a geographic radius of a given latitude/longitude. Use this to discover existing library entries near a project site before importing a new one.
      operationId: searchWeather
      x-doc-source: drafted
      parameters:
      - name: Latitude
        in: query
        required: true
        schema:
          type: number
      - name: Longitude
        in: query
        required: true
        schema:
          type: number
      - name: SearchRadius
        in: query
        required: true
        schema:
          type: number
      responses:
        '200':
          description: Matching weather files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WeatherFile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Weather/Parse:
    post:
      tags:
      - Weather
      summary: Parse a raw weather file upload
      description: 'This endpoint accepts a .csv or .xlsx (note: .xlsx is only accepted in the PlantPredict exported format).


        If the parse request is successful, a response will be returned containing some of the meta-data for the weather file including the GUID (weatherFileKey) that will be used in the next steps to begin formatting the data.


        EndFragment

        '
      operationId: parseWeather
      x-doc-source: postman
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Parsed weather file info
          content:
            application/json:
              schema:
                type: object
                properties:
                  weatherFileInfo:
                    type: object
              examples:
                postman-step-1-parse:
                  value:
                    weatherFileInfo:
                      error: false
                      errorDescription: null
                      warningMessage: null
                      source: Meteonorm - 40.193N - 99.715W.xlsx
                      latitude: 40.1932678
                      longitude: -99.7152252
                      elevation: 665
                      timeZone: -6
                      region: North America
                      pLevel: 0
                      windSensorHeight: 10
                      dataProvider: 4
                      dataType: 1
                      format: 3
                      weatherDataModelVersion: 8.1.2.15989
                      customerName: ''
                      stationName: ''
                      stationCode: null
                      separatorType: ','
                      customSeparater: null
                      headerRowsToSkip: 3
                      startDate: '2005-01-01T00:00:00'
                      endDate: '2005-12-31T23:00:00'
                      timeInterval: 60
                      timestampDefinition: 2
                      columnMappings:
                        ghi: 2
                        dni: 3
                        dhi: 4
                        temp: 5
                        windspeed: 6
                        relativeHumidity: 7
                        pwat: 8
                        rain: 9
                        pressure: 10
                        dewpointTemp: 11
                        windDirection: 12
                        soilingLoss: 13
                        poai: 14
                      fileLimitReached: false
                      rowCount: 8763
                      weatherFileKey: 8f83cecb-4080-4b84-9c52-3f99e457ef5e
                      locality: Oxford
                      stateProvince: Nebraska
                      stateProvinceCode: NE
                      country: United States
                      countryCode: US
                      offsetMinutes: 0
                      includesLeapDays: false
                      moduleTilt: null
                      moduleAzimuth: null
                      trackingType: null
                      trackingBacktrackingType: 0
                      minimumTrackingLimitAngleD: null
                      maximumTrackingLimitAngleD: null
                      trackerPitchAngleD: null
                      trackerStowAngle: null
                      groundCoverageRatio: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Weather/QualityCheck:
    post:
      tags:
      - Weather
      summary: Run quality check on a parsed weather file
      description: 'The Quality Check endpoint is used to confirm:


        1.  The specified column mappings are valid

        2.  The input values for the specified data type are within tolerance and do not exceed realistic values.

        3.  Your weather file is ready for import - If all validations pass, the API will return a message indicating there were no errors found and you are good to proceed to the final step.

        '
      operationId: qualityCheckWeather
      x-doc-source: postman
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeatherFile'
            examples:
              postman-mples-how-to-add-new-with-quality-check-step-2-quality-check:
                value:
                  error: false
                  errorDescription: null
                  warningMessage: null
                  source: Meteonorm - 40.193N - 99.715W.xlsx
                  latitude: 40.1932678
                  longitude: -99.7152252
                  elevation: 665
                  timeZone: -6
                  region: North America
                  pLevel: 0
                  windSensorHeight: 10
                  dataProvider: 4
                  dataType: 1
                  format: 3
                  weatherDataModelVersion: 8.1.2.15989
                  customerName: ''
                  stationName: ''
                  stationCode: null
                  separatorType: ','
                  customSeparater: null
                  headerRowsToSkip: 3
                  startDate: '2005-01-01T00:00:00'
                  endDate: '2005-12-31T23:00:00'
                  timeInterval: 60
                  timestampDefinition: 2
                  columnMappings:
                    ghi: 2
                    dni: 3
                    dhi: 4
                    temp: 5
                    windspeed: 6
                    relativeHumidity: 7
                    pwat: 8
                    rain: 9
                    pressure: 10
                    dewpointTemp: 11
                    windDirection: 12
                    soilingLoss: 13
                    poai: 14
                  fileLimitReached: false
                  rowCount: 8763
                  weatherFileKey: 8f83cecb-4080-4b84-9c52-3f99e457ef5e
                  locality: Oxford
                  stateProvince: Nebraska
                  stateProvinceCode: NE
                  country: United States
                  countryCode: US
                  offsetMinutes: 0
                  includesLeapDays: false
                  moduleTilt: null
                  moduleAzimuth: null
                  trackingType: null
                  trackingBacktrackingType: 0
                  minimumTrackingLimitAngleD: 0
                  maximumTrackingLimitAngleD: null
                  trackerPitchAngleD: null
                  trackerStowAngle: null
                  groundCoverageRatio: null
              postman-weather-quality-check:
                value:
                  error: false
                  errorDescription: null
                  warningMessage: null
                  source: NSRDB - 41.65N - 83.54W (1).xlsx
                  latitude: 41.65
                  longitude: -83.54
                  elevation: 183
                  timeZone: -5
                  region: North America
                  pLevel: 0
                  windSensorHeight: 10
                  dataProvider: 17
                  dataType: 7
                  format: 2
                  weatherDataModelVersion: v3.0.1
                  customerName: ''
                  stationName: ''
                  stationCode: null
                  separatorType: ','
                  customSeparater: null
                  headerRowsToSkip: 3
                  startDate: '2010-01-01T00:00:00'
                  endDate: '2010-12-31T23:00:00'
                  timeInterval: 60
                  timestampDefinition: 2
                  columnMappings:
                    ghi: 2
                    dni: 3
                    dhi: 4
                    temp: 5
                    windspeed: 6
                    relativeHumidity: 7
                    pwat: 8
                    rain: 9
                    pressure: 10
                    dewpointTemp: 11
                    windDirection: 12
                    soilingLoss: 13
                    poai: 14
                  rowData:
                  - - Station Type
                    - Latitude (dd)
                    - Longitude (dd)
                    - Elevation (m)
                    - Time Zone (UTC)
                    - Time Stamp
                    - Timestep Interval (min)
                    - Data Provider
                    - P-Level
                    - Data Type
                    - Model Version
                    - IF(OR(H2="GlobalFED", H2="Customer"),"Customer Name","")
                    - IF(OR(J2="Measured", J2="TMY3"),"Project/Station Name","")
                    - Wind Sensor Height m
                    - Mounting Technology
                    - Rotational Limits Min
                    - Rotational Limts Max
                    - Tracking Method
                    - Tilt Angle
                    - GCR (%)
                    - Azimuth (°)
                  - - NREL
                    - '41.65'
                    - '-83.54'
                    - '183'
                    - '-5'
                    - IntervalBegin
                    - '60'
                    - NSRDB
                    - P50
                    - PSM
                    - v3.0.1
                    - ''
                    - ''
                    - '10'
                    - ''
                    - ''
                    - ''
                    - ''
                    - ''
                    - ''
                    - ''
                  - - MM/DD/YYYY
                    - hh:mm:ss
                    - GHI
                    - DNI
                    - DHI
                    - Temp
                    - WS
                    - RH
                    - PWat
                    - Rain
                    - Pressure
                    - Dew Point Temp
                    - Wind Direction
                    - Soiling Loss
                    - POAI (W/m2)
                  - - 01/01/2010
                    - 00:00:00
                    - '-15'
                    - '0'
                    - '1500'
                    - '-3'
                    - '4.8'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-6'
                    - '78'
                    - ''
                    - '-15'
                  - - 01/01/2010
                    - 01:00:00
                    - '-15'
                    - '0'
                    - '1500'
                    - '-3'
                    - '4.3'
                    - '-3'
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '77.599999999999994'
                    - ''
                    - ''
                  - - 01/01/2010
                    - 02:00:00
                    - '-15'
                    - '0'
                    - '1500'
                    - '-4'
                    - '3.8'
                    - ''
                    - ''
                    - '-6'
                    - '990'
                    - '-7'
                    - '72.2'
                    - ''
                    - ''
                  - - 01/01/2010
                    - 03:00:00
                    - '-15'
                    - '0'
                    - '1500'
                    - '-5'
                    - '4'
                    - ''
                    - '-5'
                    - ''
                    - '990'
                    - '-7'
                    - '65'
                    - ''
                    - ''
                  - - 01/01/2010
                    - 04:00:00
                    - '-15'
                    - '0'
                    - '0'
                    - '-4'
                    - '4.5999999999999996'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '64.099999999999994'
                    - ''
                    - ''
                  - - 01/01/2010
                    - 05:00:00
                    - '-15'
                    - '0'
                    - '0'
                    - '-4'
                    - '5.2'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '450'
                    - ''
                    - ''
                  - - 01/01/2010
                    - 06:00:00
                    - '-15'
                    - '0'
                    - '0'
                    - '-4'
                    - '5.3'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '69.400000000000006'
                    - ''
                    - ''
                  - - 01/01/2010
                    - 07:00:00
                    - '-15'
                    - '0'
                    - '0'
                    - '-4'
                    - '5.0999999999999996'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '70.2'
                    - '-5'
                    - ''
                  - - 01/01/2010
                    - 08:00:00
                    - '-15'
                    - '0'
                    - '6'
                    - '-3'
                    - '5.6'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '45'
                    - '66.2'
                    - ''
                    - ''
                  - - 01/01/2010
                    - 09:00:00
                    - '-15'
                    - '0'
                    - '26'
                    - '-2'
                    - '6.6'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '68.5'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '10:00:00'
                    - '-15'
                    - '0'
                    - '45'
                    - '-2'
                    - '6.9'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '76.099999999999994'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '11:00:00'
                    - '-15'
                    - '0'
                    - '57'
                    - '100'
                    - '7'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '78.099999999999994'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '12:00:00'
                    - '-15'
                    - '29'
                    - '168'
                    - '-2'
                    - '35'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '79.599999999999994'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '13:00:00'
                    - '-15'
                    - '0'
                    - '75'
                    - '-2'
                    - '6.7'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '81.099999999999994'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '14:00:00'
                    - '34'
                    - '0'
                    - '34'
                    - '-3'
                    - '6.4'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '81.7'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '15:00:00'
                    - '22'
                    - '0'
                    - '22'
                    - '-3'
                    - '5.8'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '81.7'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '16:00:00'
                    - '7'
                    - '0'
                    - '7'
                    - '-3'
                    - '4.9000000000000004'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '80.5'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '17:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-4'
                    - '4.4000000000000004'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '75.8'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '18:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-4'
                    - '4.3'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '70'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '19:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-4'
                    - '4.3'
                    - ''
                    - ''
                    - ''
                    - '1500'
                    - '-7'
                    - '68.099999999999994'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '20:00:00'
                    - '0'
                    - '-15'
                    - '0'
                    - '-3'
                    - '4.5'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-7'
                    - '64.3'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '21:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '4.7'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '60.5'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '22:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '4.5999999999999996'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '56.1'
                    - ''
                    - ''
                  - - 01/01/2010
                    - '23:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '4.3'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '51.3'
                    - ''
                    - ''
                  - - 01/02/2010
                    - 00:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-4'
                    - '4.0999999999999996'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '47.9'
                    - ''
                    - ''
                  - - 01/02/2010
                    - 01:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-4'
                    - '4.0999999999999996'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '45.5'
                    - ''
                    - ''
                  - - 01/02/2010
                    - 02:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-4'
                    - '4.0999999999999996'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '45.8'
                    - ''
                    - ''
                  - - 01/02/2010
                    - 03:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-4'
                    - '4'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '50.5'
                    - ''
                    - ''
                  - - 01/02/2010
                    - 04:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '4.0999999999999996'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '54.1'
                    - ''
                    - ''
                  - - 01/02/2010
                    - 05:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '4.2'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '58.6'
                    - ''
                    - ''
                  - - 01/02/2010
                    - 06:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-2'
                    - '4.4000000000000004'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-4'
                    - '65.2'
                    - ''
                    - ''
                  - - 01/02/2010
                    - 07:00:00
                    - '0'
                    - '-15'
                    - '0'
                    - '-2'
                    - '4.5'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-4'
                    - '68.599999999999994'
                    - ''
                    - ''
                  - - 01/02/2010
                    - 08:00:00
                    - '10'
                    - '0'
                    - '10'
                    - '-1'
                    - '4.7'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-4'
                    - '72.2'
                    - ''
                    - ''
                  - - 01/02/2010
                    - 09:00:00
                    - '46'
                    - '0'
                    - '46'
                    - '0'
                    - '4.9000000000000004'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-4'
                    - '74.7'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '10:00:00'
                    - '79'
                    - '0'
                    - '79'
                    - '0'
                    - '5'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-4'
                    - '80.2'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '11:00:00'
                    - '120'
                    - '0'
                    - '120'
                    - '0'
                    - '5'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-4'
                    - '80.599999999999994'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '12:00:00'
                    - '146'
                    - '1'
                    - '145'
                    - '0'
                    - '5'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-4'
                    - '76'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '13:00:00'
                    - '240'
                    - '147'
                    - '179'
                    - '1'
                    - '5.0999999999999996'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '70.3'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '14:00:00'
                    - '281'
                    - '482'
                    - '112'
                    - '1'
                    - '5.2'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '63.4'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '15:00:00'
                    - '225'
                    - '696'
                    - '54'
                    - '0'
                    - '4.7'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '57.8'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '16:00:00'
                    - '81'
                    - '465'
                    - '31'
                    - '0'
                    - '3.9'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '54.2'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '17:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '3.8'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-4'
                    - '50.2'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '18:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '4.5'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-4'
                    - '46.1'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '19:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '5.3'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '43.6'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '20:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '5.9'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '43.7'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '21:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '6.3'
                    - ''
                    - ''
                    - ''
                    - '980'
                    - '-3'
                    - '44.6'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '22:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '6.3'
                    - ''
                    - ''
                    - ''
                    - '980'
                    - '-3'
                    - '48.3'
                    - ''
                    - ''
                  - - 01/02/2010
                    - '23:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '6'
                    - ''
                    - ''
                    - ''
                    - '980'
                    - '-3'
                    - '53.9'
                    - ''
                    - ''
                  - - 01/03/2010
                    - 00:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-2'
                    - '5.6'
                    - ''
                    - ''
                    - ''
                    - '980'
                    - '-3'
                    - '59.5'
                    - ''
                    - ''
                  - - 01/03/2010
                    - 01:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-2'
                    - '5.4'
                    - ''
                    - ''
                    - ''
                    - '980'
                    - '-3'
                    - '66.900000000000006'
                    - ''
                    - ''
                  - - 01/03/2010
                    - 02:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-2'
                    - '5'
                    - ''
                    - ''
                    - ''
                    - '980'
                    - '-3'
                    - '78.7'
                    - ''
                    - ''
                  - - 01/03/2010
                    - 03:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '4.4000000000000004'
                    - ''
                    - ''
                    - ''
                    - '980'
                    - '-3'
                    - '88.5'
                    - ''
                    - ''
                  - - 01/03/2010
                    - 04:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '3.9'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '92.1'
                    - ''
                    - ''
                  - - 01/03/2010
                    - 05:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '3.4'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '91.9'
                    - ''
                    - ''
                  - - 01/03/2010
                    - 06:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '3.1'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '100.2'
                    - ''
                    - ''
                  - - 01/03/2010
                    - 07:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '2.9'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '110.7'
                    - ''
                    - ''
                  - - 01/03/2010
                    - 08:00:00
                    - '2'
                    - '0'
                    - '2'
                    - '0'
                    - '3.2'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '119.4'
                    - ''
                    - ''
                  - - 01/03/2010
                    - 09:00:00
                    - '11'
                    - '0'
                    - '11'
                    - '0'
                    - '3.9'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-3'
                    - '129.6'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '10:00:00'
                    - '19'
                    - '0'
                    - '19'
                    - '0'
                    - '4.5'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-4'
                    - '144'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '11:00:00'
                    - '130'
                    - '0'
                    - '130'
                    - '1'
                    - '4.7'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '147.30000000000001'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '12:00:00'
                    - '79'
                    - '0'
                    - '79'
                    - '1'
                    - '4.8'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '147.6'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '13:00:00'
                    - '52'
                    - '0'
                    - '52'
                    - '1'
                    - '4.5999999999999996'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '147.80000000000001'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '14:00:00'
                    - '54'
                    - '0'
                    - '54'
                    - '0'
                    - '4.4000000000000004'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '147.30000000000001'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '15:00:00'
                    - '35'
                    - '0'
                    - '35'
                    - '0'
                    - '3.8'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '146.9'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '16:00:00'
                    - '12'
                    - '0'
                    - '12'
                    - '0'
                    - '3'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '146.69999999999999'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '17:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '2.9'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '147.9'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '18:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-1'
                    - '3'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '149.80000000000001'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '19:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-2'
                    - '2.9'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '152.80000000000001'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '20:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-2'
                    - '2.7'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '155'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '21:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-2'
                    - '2.6'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '154.69999999999999'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '22:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '2.4'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '155.1'
                    - ''
                    - ''
                  - - 01/03/2010
                    - '23:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '2.4'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-5'
                    - '156.30000000000001'
                    - ''
                    - ''
                  - - 01/04/2010
                    - 00:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '2.5'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '156.80000000000001'
                    - ''
                    - ''
                  - - 01/04/2010
                    - 01:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '2.5'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '158.19999999999999'
                    - ''
                    - ''
                  - - 01/04/2010
                    - 02:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '2.4'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '160.5'
                    - ''
                    - ''
                  - - 01/04/2010
                    - 03:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '2.4'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '162.4'
                    - ''
                    - ''
                  - - 01/04/2010
                    - 04:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '2.5'
                    - ''
                    - ''
                    - ''
                    - '990'
                    - '-6'
                    - '160.69999999999999'
                    - ''
                    - ''
                  - - 01/04/2010
                    - 05:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '2.5'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-6'
                    - '156.9'
                    - ''
                    - ''
                  - - 01/04/2010
                    - 06:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-3'
                    - '2.5'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-6'
                    - '157.4'
                    - ''
                    - ''
                  - - 01/04/2010
                    - 07:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-4'
                    - '2.6'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-6'
                    - '162.30000000000001'
                    - ''
                    - ''
                  - - 01/04/2010
                    - 08:00:00
                    - '20'
                    - '0'
                    - '20'
                    - '-3'
                    - '3.3'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-6'
                    - '172.9'
                    - ''
                    - ''
                  - - 01/04/2010
                    - 09:00:00
                    - '89'
                    - '38'
                    - '81'
                    - '-3'
                    - '4.4000000000000004'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-7'
                    - '185.3'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '10:00:00'
                    - '153'
                    - '63'
                    - '132'
                    - '-3'
                    - '5.2'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-7'
                    - '190.9'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '11:00:00'
                    - '127'
                    - '0'
                    - '127'
                    - '-3'
                    - '5.4'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-8'
                    - '192.1'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '12:00:00'
                    - '214'
                    - '70'
                    - '184'
                    - '-3'
                    - '5.3'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-8'
                    - '193.3'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '13:00:00'
                    - '154'
                    - '9'
                    - '150'
                    - '-3'
                    - '5'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-9'
                    - '197.6'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '14:00:00'
                    - '159'
                    - '46'
                    - '143'
                    - '-3'
                    - '4.5'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-9'
                    - '203.6'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '15:00:00'
                    - '239'
                    - '715'
                    - '60'
                    - '-4'
                    - '3.9'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-10'
                    - '209.3'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '16:00:00'
                    - '88'
                    - '464'
                    - '37'
                    - '-5'
                    - '3.1'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-10'
                    - '214.1'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '17:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-6'
                    - '2.4'
                    - ''
                    - ''
                    - ''
                    - '1000'
                    - '-11'
                    - '215.8'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '18:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-6'
                    - '2.1'
                    - ''
                    - ''
                    - ''
                    - '1010'
                    - '-10'
                    - '215.1'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '19:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-7'
                    - '1.9'
                    - ''
                    - ''
                    - ''
                    - '1010'
                    - '-11'
                    - '216.4'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '20:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-7'
                    - '1.7'
                    - ''
                    - ''
                    - ''
                    - '1010'
                    - '-11'
                    - '219.9'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '21:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-8'
                    - '1.6'
                    - ''
                    - ''
                    - ''
                    - '1010'
                    - '-11'
                    - '224.8'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '22:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-8'
                    - '1.6'
                    - ''
                    - ''
                    - ''
                    - '1010'
                    - '-11'
                    - '229.5'
                    - ''
                    - ''
                  - - 01/04/2010
                    - '23:00:00'
                    - '0'
                    - '0'
                    - '0'
                    - '-9'
                    - '1.5'
                    - ''
                    - ''
                    - ''
                    - '1010'
                    - '-11'
                    - '234.4'
                    - ''
                    - ''
                  - - 01/05/2010
                    - 00:00:00
                    - '0'
                    - '0'
                    - '0'
                    - '-9'
                    - '1.2'
                    - ''
                    - ''
                    - ''
                    - '1010'
                    - '-11'
                    - '240.5'
                    - ''
                    - ''
                  fileLimitReached: false
                  rowCount: 8763
                  weatherFileKey: be586e7f-a9ad-4b2a-944b-8fe24755f747
                  locality: Toledo
                  stateProvince: Ohio
                  stateProvinceCode: OH
                  country: United States
                  countryCode: US
                  offsetMinutes: 0
                  includesLeapDays: false
                  moduleTilt: null
                  moduleAzimuth: null
                  trackingType: null
                  trackingBacktrackingType: 0
                  minimumTrackingLimitAngleD: null
                  maximumTrackingLimitAngleD: null
                  trackerPitchAngleD: null
                  trackerStowAngle: null
                  groundCoverageRatio: null
      responses:
        '200':
          description: Quality check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherFile'
              examples:
                postman-step-2-quality-check:
                  value: No Questionable Records Found.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Weather/FinalizeImport:
    post:
      tags:
      - Weather
      summary: Finalize import of a parsed weather file
      description: The Finalize Import endpoint will execute the same validations as the Quality Check endpoint however if no errors are found the weather file will successfully be imported into your PlantPredict Weather library. The response from the API will be the weather Id of the newly created asset.
      operationId: finalizeWeatherImport
      x-doc-source: postman
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeatherFile'
            examples:
              postman-les-how-to-add-new-with-quality-check-step-3-finalize-import:
                value:
                  error: false
                  errorDescription: null
                  warningMessage: null
                  source: Meteonorm - 40.193N - 99.715W.xlsx
                  latitude: 40.1932678
                  longitude: -99.7152252
                  elevation: 665
                  timeZone: -6
                  region: North America
                  pLevel: 0
                  windSensorHeight: 10
                  dataProvider: 4
                  dataType: 1
                  format: 3
                  weatherDataModelVersion: 8.1.2.15989
                  customerName: ''
                  stationName: ''
                  stationCode: null
                  separatorType: ','
                  customSeparater: null
                  headerRowsToSkip: 3
                  startDate: '2005-01-01T00:00:00'
                  endDate: '2005-12-31T23:00:00'
                  timeInterval: 60
                  timestampDefinition: 2
                  columnMappings:
                    ghi: 2
                    dni: 3
                    dhi: 4
                    temp: 5
                    windspeed: 6
                    relativeHumidity: 7
                    pwat: 8
                    rain: 9
                    pressure: 10
                    dewpointTemp: 11
                    windDirection: 12
                    soilingLoss: 13
                    poai: 14
                  fileLimitReached: false
                  rowCount: 8763
                  weatherFileKey: 8f83cecb-4080-4b84-9c52-3f99e457ef5e
                  locality: Oxford
                  stateProvince: Nebraska
                  stateProvinceCode: NE
                  country: United States
                  countryCode: US
                  offsetMinutes: 0
                  includesLeapDays: false
                  moduleTilt: null
                  moduleAzimuth: null
                  trackingType: null
                  trackingBacktrackingType: 0
                  minimumTrackingLimitAngleD: 0
                  maximumTrackingLimitAngleD: null
                  trackerPitchAngleD: null
                  trackerStowAngle: null
                  groundCoverageRatio: null
              postman-weather-finalize-import:
                value:
                  error: false
                  errorDescription: null
                  warningMessage: null
                  source: Meteonorm - 27.323N - 33.607E.xlsx
                  latitude: 27.3230667
                  longitude: 33.6068764
                  elevation: 127
                  timeZone: 2
                  region: Africa
                  pLevel: 0
                  windSensorHeight: 10
                  dataProvider: 4
                  dataType: 1
                  format: 3
                  weatherDataModelVersion: 8.0.4.19761
                  customerName: ''
                  stationName: ''
                  stationCode: null
                  separatorType: ','
                  customSeparater: null
                  headerRowsToSkip: 3
[...]
