openapi: 3.2.0
info:
  title: PlantPredict Modules API
  version: 12.13.0
  description: "## What is PlantPredict?\n\nPlantPredict is an industry-leading performance modeling platform for utility-scale\nsolar power plants. It predicts energy yield across the full project lifecycle —\nfrom early-stage site prospecting through detailed engineering and operational\nmonitoring. The same engine that powers the PlantPredict web UI is fully exposed\nvia this REST API, enabling automation of complex, high-time-resolution energy\npredictions without any UI interaction.\n\n## Domain Model — read this first\n\nUnderstanding the object hierarchy is essential before calling the API:\n\n- **Weather** — A weather file (hourly irradiance, temperature, wind, etc.) for a\n  geographic location. Imported from a provider (e.g. SolarAnywhere, Meteonorm) or\n  uploaded manually. Weather files live in a company-wide library and are referenced\n  by Predictions.\n\n- **Module** — A PV module definition parameterized with electrical characteristics\n  (STC power, temperature coefficients, single-diode model parameters, IAM curves,\n  etc.). Modules live in a company-wide library.\n\n- **Inverter** — An inverter definition with efficiency curves, voltage/power ratings,\n  and optional kVA derating curves. Inverters live in a company-wide library.\n\n- **Project** — A named location (lat/lon) that acts as a container for one or more\n  Predictions. Holds geographic metadata (country, elevation, UTC offset) and a status.\n\n- **Prediction** — The core simulation configuration nested under a Project. Defines\n  the simulation period, model selections (transposition, air mass, degradation,\n  soiling, shading, spectral shift models), uncertainty error terms, and references\n  to a Weather file. A Prediction must be linked to a PowerPlant before it can be run.\n  Status values: 0 = Draft, 1 = Active, 2 = Issued, 3 = Archived.\n\n- **PowerPlant** — The physical plant design attached to a Prediction. Describes the\n  electrical topology: Blocks → Arrays → Inverters → DC Fields (strings of modules).\n  Also includes transformers, transmission lines, energy storage (ESS), availability\n  losses, and LGIA export limits.\n\n- **Shade Scene** — An optional 3D shading model (PVJ format) attached to a\n  Prediction's DC Fields. Supports import from PVC or SHD files. Shade and TABT\n  (Tracker Angle Back-Tracking) calculations are queued and run asynchronously.\n\n## Typical workflow to run a prediction\n\n1. Ensure a **Weather** file exists (search, download, or import one).\n2. Ensure a **Module** and **Inverter** exist in the library.\n3. **POST /Project** — create a project at the site location.\n4. **POST /Project/{projectId}/Prediction** — create a prediction with model settings.\n5. **POST /Project/{projectId}/Prediction/{predictionId}/PowerPlant** — attach a plant\n   design referencing your module and inverter.\n6. **POST /Project/{projectId}/Prediction/{predictionId}/Run** — queue the simulation.\n7. Poll **GET /Project/{projectId}/Prediction/{predictionId}/Overview** until\n   `status` reaches 2 (complete), then retrieve results via `/ResultSummary`,\n   `/ResultDetails`, or `/NodalJson`.\n\n## Authentication\n\nOAuth 2.0 **Client Credentials** flow via AWS Cognito. The spec advertises\na single `bearerAuth` scheme — fetch a token yourself with the snippet\nbelow, then either paste it into the in-browser playground or pass it on\nevery request as `Authorization: Bearer <token>`.\n\n> **Why not advertise OAuth2 directly?** Most users have access to the\n> production tenant only, and we don't want to invite anyone to enter\n> long-lived `client_id` / `client_secret` credentials into a third-party\n> documentation site. Keep credentials in your own environment; ship\n> short-lived bearer tokens to wherever they are needed.\n\n- Token URL: `https://terabase-prd.auth.us-west-2.amazoncognito.com/oauth2/token`\n- Scopes: `transactions/get` (read), `transactions/post` (write) — request\n  both to access the entire surface.\n- Send credentials as **Basic Auth** in the token request header.\n\nExample:\n\n```bash\ncurl -X POST 'https://terabase-prd.auth.us-west-2.amazoncognito.com/oauth2/token' \\\n  -u \"$PP_CLIENT_ID:$PP_CLIENT_SECRET\" \\\n  -d 'grant_type=client_credentials&scope=transactions/get transactions/post'\n```\n\nAPI credentials (Client ID + Secret) are generated per user by a company admin\ninside the PlantPredict UI (gear icon → user profile → Generate API Credentials).\nStore them securely — they are shown only once.\n\n## Notes\n\n- All request/response bodies are JSON (`Content-Type: application/json`).\n- The API is stateless — every request must supply complete inputs; there is no session.\n- POST operations that create entities return `{\"id\": <integer>}`.\n- Many integer fields (model types, status codes) map to named enums — use\n  `GET /Definitions` to retrieve the full enum catalog at runtime.\n- Long-running operations (Run, Shade calculations, TABT) are asynchronous; poll\n  the corresponding `ProcessingStatus` endpoint to track progress.\n- Responses may include an `X-Message` header with non-blocking warnings (e.g.\n  duplicate project name).\n"
servers:
- url: https://api.plantpredict.terabase.energy
  description: Production
security:
- bearerAuth: []
tags:
- name: Modules
  description: PV module library and single-diode parameter generation
paths:
  /Module:
    get:
      tags:
      - Modules
      summary: List all accessible modules
      description: Gets all available modules and their corresponding properties.
      operationId: listModules
      x-doc-source: postman
      responses:
        '200':
          description: Array of modules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Module'
              examples:
                postman-module:
                  value:
                  - status: 6
                    model: FS-372
                    manufacturer: First Solar
                    length: 1200
                    width: 600
                    weight: 12
                    defaultOrientation: 0
                    numberOfCellsInSeries: 77
                    numberOfCellsInParallel: 2
                    stcShortCircuitCurrent: 1.75
                    stcOpenCircuitVoltage: 61.4
                    stcmppCurrent: 1.46
                    stcmppVoltage: 49.5
                    stcMaxPower: 72.5
                    stcPowerTempCoef: -0.25
                    stcShortCircuitCurrentTempCoef: 0.04
                    stcOpenCircuitVoltageTempCoef: -0.27
                    stcEfficiency: 10.07
                    minTolerance: -5
                    maxTolerance: 5
                    cellTechnologyType: 6
                    constructionType: 1
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: null
                    backSideMismatch: null
                    dataSource: 1
                    lightInducedDegradation: 0
                    moduleQuality: 0
                    moduleMismatchCoefficient: 1
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 30.7
                    sandiaConductiveCoef: -3.47
                    sandiaConvectiveCoef: -0.0594
                    cellToModuleTempDiff: 3
                    saturationCurrentAtSTC: 1.564e-07
                    seriesResistanceAtSTC: 2.85
                    shuntResistanceAtSTC: 3250
                    diodeIdealityFactorAtSTC: 1.925
                    exponentialDependencyOnShuntResistance: 3
                    darkShuntResistance: 18250
                    linearTempDependenceOnGamma: 0.17195
                    shortCircuitCurrentAtSTC: 1.75
                    recombinationParameter: 0.8
                    builtInVoltage: 0.9
                    bandgapVoltage: 1.5
                    linearTempDependenceOnIsc: 0.04
                    heatAbsorptionCoefAlphaT: 0.9
                    referenceIrradiance: 1000
                    referenceTemperature: 25
                    aGamma: 0
                    bGamma: 0
                    cGamma: 0
                    dGamma: 0
                    spectralResponse: 1
                    pvModel: 0
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: true
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.03824227511895
                    sandiaIAMB1: -0.524811223911995
                    sandiaIAMB2: 0.0213070391842001
                    sandiaIAMB3: -0.000422407233122155
                    sandiaIAMB4: 4.091960268462e-06
                    sandiaIAMB5: -1.55641268286583e-08
                    ashraeiamB0: 0.05
                    spectral2B0: 0.79418
                    spectral2B1: -0.049883
                    spectral2B2: -0.013402
                    spectral2B3: 0.16766
                    spectral2B4: 0.083377
                    spectral2B5: -0.0044007
                    iamFactors: null
                    degradationModel: 0
                    linearDegradationRate: 0
                    nonLinearDegradationRates: []
                    cellDesignType: 2
                    useAntiReflectiveCoating: false
                    refractiveIndex: 1.526
                    refractiveIndexOfARC: 1.29
                    glazingExtinctionCoef: 4
                    glazingThickness: 0.002
                    powerAtSTC: 0
                    powerAtSTCExcludingWiringLosses: 0
                    effectiveIrradianceResponse: null
                    electricalShadingFractionalEffect: 0
                    moduleShadingResponse: 1
                    isMetastable: false
                    metastabilityProperties: null
                    id: 11
                    name: FS-372 CdTe Q310
                    description: null
                    companyId: 1
                    company: null
                    ownerId: 742
                    owner: null
                    createdDate: '2016-06-01T16:03:07.38'
                    lastModified: '2022-10-17T15:29:17.123'
                    lastModifiedById: 742
                    lastModifiedBy:
                      company: null
                      companyId: 1
                      firstName: System
                      lastName: Account
                      jobTitle: System
                      createdByUserId: null
                      createdByUser: null
                      status: 0
                      createdDateUtc: '2016-09-01T00:00:00'
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: null
                      uuid: null
                      userWeatherDownloads: null
                      lastLoginDateUTC: null
                      roles: []
                      logins: []
                      id: 742
                      normalizedUserName: null
                      email: FS108328@FIRSTSOLAR.COM
                      normalizedEmail: null
                      concurrencyStamp: 8e944254-dc5f-4be7-a0b2-8ca729ccd4b0
                  - status: 6
                    model: SF140-S
                    manufacturer: Solar Frontier K. K.
                    length: 1257
                    width: 977
                    weight: 20
                    defaultOrientation: 1
                    numberOfCellsInSeries: 170
                    numberOfCellsInParallel: 1
                    stcShortCircuitCurrent: 2.1
                    stcOpenCircuitVoltage: 107
                    stcmppCurrent: 1.74
                    stcmppVoltage: 80.5
                    stcMaxPower: 140
                    stcPowerTempCoef: -0.313
                    stcShortCircuitCurrentTempCoef: 0.01
                    stcOpenCircuitVoltageTempCoef: -0.29
                    stcEfficiency: 11.4
                    minTolerance: 0
                    maxTolerance: 3.6
                    cellTechnologyType: 7
                    constructionType: 1
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: null
                    backSideMismatch: null
                    dataSource: 1
                    lightInducedDegradation: -2
                    moduleQuality: 0
                    moduleMismatchCoefficient: 1
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 29
                    sandiaConductiveCoef: -3.47
                    sandiaConvectiveCoef: -0.0594
                    cellToModuleTempDiff: 3
                    saturationCurrentAtSTC: 2.7153e-07
                    seriesResistanceAtSTC: 5.5
                    shuntResistanceAtSTC: 380
                    diodeIdealityFactorAtSTC: 1.558
                    exponentialDependencyOnShuntResistance: 3.1
                    darkShuntResistance: 2600
                    linearTempDependenceOnGamma: 0.06868
                    shortCircuitCurrentAtSTC: 2.1
                    recombinationParameter: 0
                    builtInVoltage: 0
                    bandgapVoltage: 1.03
                    linearTempDependenceOnIsc: 0.01
                    heatAbsorptionCoefAlphaT: 0.9
                    referenceIrradiance: 1000
                    referenceTemperature: 25
                    aGamma: 0
                    bGamma: 0
                    cGamma: 0
                    dGamma: 0
                    spectralResponse: 0
                    pvModel: 1
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: true
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.03824227511895
                    sandiaIAMB1: -0.524811223911995
                    sandiaIAMB2: 0.0213070391842001
                    sandiaIAMB3: -0.000422407233122155
                    sandiaIAMB4: 4.091960268462e-06
                    sandiaIAMB5: -1.55641268286583e-08
                    ashraeiamB0: 0.05
                    spectral2B0: null
                    spectral2B1: null
                    spectral2B2: null
                    spectral2B3: null
                    spectral2B4: null
                    spectral2B5: null
                    iamFactors: null
                    degradationModel: 0
                    linearDegradationRate: 0
                    nonLinearDegradationRates: []
                    cellDesignType: 2
                    useAntiReflectiveCoating: false
                    refractiveIndex: 1.526
                    refractiveIndexOfARC: 1.29
                    glazingExtinctionCoef: 4
                    glazingThickness: 0.002
                    powerAtSTC: 0
                    powerAtSTCExcludingWiringLosses: 0
                    effectiveIrradianceResponse: null
                    electricalShadingFractionalEffect: 0
                    moduleShadingResponse: 1
                    isMetastable: false
                    metastabilityProperties: null
                    id: 12
                    name: SolarFrontier SF140 S
                    description: null
                    companyId: 1
                    company: null
                    ownerId: 742
                    owner: null
                    createdDate: '2016-06-01T16:03:07.52'
                    lastModified: '2017-01-27T18:22:55.577'
                    lastModifiedById: 742
                    lastModifiedBy:
                      company: null
                      companyId: 1
                      firstName: System
                      lastName: Account
                      jobTitle: System
                      createdByUserId: null
                      createdByUser: null
                      status: 0
                      createdDateUtc: '2016-09-01T00:00:00'
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: null
                      uuid: null
                      userWeatherDownloads: null
                      lastLoginDateUTC: null
                      roles: []
                      logins: []
                      id: 742
                      normalizedUserName: null
                      email: FS108328@FIRSTSOLAR.COM
                      normalizedEmail: null
                      concurrencyStamp: 445d1ef9-6c25-43d6-ba39-9e8ff7343652
                  - status: 6
                    model: SF145-S
                    manufacturer: Solar Frontier K. K.
                    length: 1257
                    width: 977
                    weight: 20
                    defaultOrientation: 1
                    numberOfCellsInSeries: 170
                    numberOfCellsInParallel: 1
                    stcShortCircuitCurrent: 2.2
                    stcOpenCircuitVoltage: 107
                    stcmppCurrent: 1.8
                    stcmppVoltage: 81
                    stcMaxPower: 145
                    stcPowerTempCoef: -0.313
                    stcShortCircuitCurrentTempCoef: 0.01
                    stcOpenCircuitVoltageTempCoef: -0.3
                    stcEfficiency: 11.81
                    minTolerance: 0
                    maxTolerance: 3.5
                    cellTechnologyType: 7
                    constructionType: 1
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: null
                    backSideMismatch: null
                    dataSource: 1
                    lightInducedDegradation: -2
                    moduleQuality: 0
                    moduleMismatchCoefficient: 1
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 29
                    sandiaConductiveCoef: -3.47
                    sandiaConvectiveCoef: -0.0594
                    cellToModuleTempDiff: 3
                    saturationCurrentAtSTC: 2.7581e-07
                    seriesResistanceAtSTC: 5.9
                    shuntResistanceAtSTC: 400
                    diodeIdealityFactorAtSTC: 1.553
                    exponentialDependencyOnShuntResistance: 3.1
                    darkShuntResistance: 2600
                    linearTempDependenceOnGamma: 0.07534
                    shortCircuitCurrentAtSTC: 2.2
                    recombinationParameter: 0
                    builtInVoltage: 0
                    bandgapVoltage: 1.03
                    linearTempDependenceOnIsc: 0.01
                    heatAbsorptionCoefAlphaT: 0.9
                    referenceIrradiance: 1000
                    referenceTemperature: 25
                    aGamma: 0
                    bGamma: 0
                    cGamma: 0
                    dGamma: 0
                    spectralResponse: 0
                    pvModel: 1
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: true
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.03824227511895
                    sandiaIAMB1: -0.524811223911995
                    sandiaIAMB2: 0.0213070391842001
                    sandiaIAMB3: -0.000422407233122155
                    sandiaIAMB4: 4.091960268462e-06
                    sandiaIAMB5: -1.55641268286583e-08
                    ashraeiamB0: 0.05
                    spectral2B0: null
                    spectral2B1: null
                    spectral2B2: null
                    spectral2B3: null
                    spectral2B4: null
                    spectral2B5: null
                    iamFactors: null
                    degradationModel: 0
                    linearDegradationRate: 0
                    nonLinearDegradationRates: []
                    cellDesignType: 2
                    useAntiReflectiveCoating: false
                    refractiveIndex: 1.526
                    refractiveIndexOfARC: 1.29
                    glazingExtinctionCoef: 4
                    glazingThickness: 0.002
                    powerAtSTC: 0
                    powerAtSTCExcludingWiringLosses: 0
                    effectiveIrradianceResponse: null
                    electricalShadingFractionalEffect: 0
                    moduleShadingResponse: 1
                    isMetastable: false
                    metastabilityProperties: null
                    id: 13
                    name: SolarFrontier SF145 S
                    description: null
                    companyId: 1
                    company: null
                    ownerId: 742
                    owner: null
                    createdDate: '2016-06-01T16:03:07.653'
                    lastModified: '2017-01-27T18:22:55.637'
                    lastModifiedById: 742
                    lastModifiedBy:
                      company: null
                      companyId: 1
                      firstName: System
                      lastName: Account
                      jobTitle: System
                      createdByUserId: null
                      createdByUser: null
                      status: 0
                      createdDateUtc: '2016-09-01T00:00:00'
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: null
                      uuid: null
                      userWeatherDownloads: null
                      lastLoginDateUTC: null
                      roles: []
                      logins: []
                      id: 742
                      normalizedUserName: null
                      email: FS108328@FIRSTSOLAR.COM
                      normalizedEmail: null
                      concurrencyStamp: 47d0c56d-0f5c-43c5-81c4-a9fe8bbad845
                  - status: 6
                    model: SF150-S
                    manufacturer: Solar Frontier K. K.
                    length: 1257
                    width: 977
                    weight: 20
                    defaultOrientation: 1
                    numberOfCellsInSeries: 170
                    numberOfCellsInParallel: 1
                    stcShortCircuitCurrent: 2.2
                    stcOpenCircuitVoltage: 108
                    stcmppCurrent: 1.85
                    stcmppVoltage: 81.5
                    stcMaxPower: 150
                    stcPowerTempCoef: -0.312
                    stcShortCircuitCurrentTempCoef: 0.01
                    stcOpenCircuitVoltageTempCoef: -0.3
                    stcEfficiency: 12.21
                    minTolerance: 0
                    maxTolerance: 3.3
                    cellTechnologyType: 7
                    constructionType: 1
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: null
                    backSideMismatch: null
                    dataSource: 1
                    lightInducedDegradation: -2
                    moduleQuality: 0
                    moduleMismatchCoefficient: 1
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 29
                    sandiaConductiveCoef: -3.47
                    sandiaConvectiveCoef: -0.0594
                    cellToModuleTempDiff: 3
                    saturationCurrentAtSTC: 1.3368e-07
                    seriesResistanceAtSTC: 5.9
                    shuntResistanceAtSTC: 480
                    diodeIdealityFactorAtSTC: 1.497
                    exponentialDependencyOnShuntResistance: 3.1
                    darkShuntResistance: 3250
                    linearTempDependenceOnGamma: 0.06814
                    shortCircuitCurrentAtSTC: 2.2
                    recombinationParameter: 0
                    builtInVoltage: 0
                    bandgapVoltage: 1.03
                    linearTempDependenceOnIsc: 0.01
                    heatAbsorptionCoefAlphaT: 0.9
                    referenceIrradiance: 1000
                    referenceTemperature: 25
                    aGamma: 0
                    bGamma: 0
                    cGamma: 0
                    dGamma: 0
                    spectralResponse: 0
                    pvModel: 1
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: true
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.03824227511895
                    sandiaIAMB1: -0.524811223911995
                    sandiaIAMB2: 0.0213070391842001
                    sandiaIAMB3: -0.000422407233122155
                    sandiaIAMB4: 4.091960268462e-06
                    sandiaIAMB5: -1.55641268286583e-08
                    ashraeiamB0: 0.05
                    spectral2B0: null
                    spectral2B1: null
                    spectral2B2: null
                    spectral2B3: null
                    spectral2B4: null
                    spectral2B5: null
                    iamFactors: null
                    degradationModel: 0
                    linearDegradationRate: 0
                    nonLinearDegradationRates: []
                    cellDesignType: 2
                    useAntiReflectiveCoating: false
                    refractiveIndex: 1.526
                    refractiveIndexOfARC: 1.29
                    glazingExtinctionCoef: 4
                    glazingThickness: 0.002
                    powerAtSTC: 0
                    powerAtSTCExcludingWiringLosses: 0
                    effectiveIrradianceResponse: null
                    electricalShadingFractionalEffect: 0
                    moduleShadingResponse: 1
                    isMetastable: false
                    metastabilityProperties: null
                    id: 14
                    name: SolarFrontier SF150 S
                    description: null
                    companyId: 1
                    company: null
                    ownerId: 742
                    owner: null
                    createdDate: '2016-06-01T16:03:07.777'
                    lastModified: '2017-01-27T18:22:55.653'
                    lastModifiedById: 742
                    lastModifiedBy:
                      company: null
                      companyId: 1
                      firstName: System
                      lastName: Account
                      jobTitle: System
                      createdByUserId: null
                      createdByUser: null
                      status: 0
                      createdDateUtc: '2016-09-01T00:00:00'
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: null
                      uuid: null
                      userWeatherDownloads: null
                      lastLoginDateUTC: null
                      roles: []
                      logins: []
                      id: 742
                      normalizedUserName: null
                      email: FS108328@FIRSTSOLAR.COM
                      normalizedEmail: null
                      concurrencyStamp: 5f97440c-cf80-41bb-9a50-11e155cb2b2f
                  - status: 6
                    model: SF155-S
                    manufacturer: Solar Frontier K. K.
                    length: 1257
                    width: 977
                    weight: 20
                    defaultOrientation: 1
                    numberOfCellsInSeries: 170
                    numberOfCellsInParallel: 1
                    stcShortCircuitCurrent: 2.2
                    stcOpenCircuitVoltage: 109
                    stcmppCurrent: 1.88
                    stcmppVoltage: 82.5
                    stcMaxPower: 155
                    stcPowerTempCoef: -0.312
                    stcShortCircuitCurrentTempCoef: 0.01
                    stcOpenCircuitVoltageTempCoef: -0.3
                    stcEfficiency: 12.62
                    minTolerance: 0
                    maxTolerance: 3.2
                    cellTechnologyType: 7
                    constructionType: 1
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: null
                    backSideMismatch: null
                    dataSource: 1
                    lightInducedDegradation: -2
                    moduleQuality: 0
                    moduleMismatchCoefficient: 1
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 29
                    sandiaConductiveCoef: -3.47
                    sandiaConvectiveCoef: -0.0594
                    cellToModuleTempDiff: 3
                    saturationCurrentAtSTC: 2.1064e-07
                    seriesResistanceAtSTC: 5
                    shuntResistanceAtSTC: 510
                    diodeIdealityFactorAtSTC: 1.553
                    exponentialDependencyOnShuntResistance: 3.1
                    darkShuntResistance: 4250
                    linearTempDependenceOnGamma: 0.0631
                    shortCircuitCurrentAtSTC: 2.2
                    recombinationParameter: 0
                    builtInVoltage: 0
                    bandgapVoltage: 1.03
                    linearTempDependenceOnIsc: 0.01
                    heatAbsorptionCoefAlphaT: 0.9
                    referenceIrradiance: 1000
                    referenceTemperature: 25
                    aGamma: 0
                    bGamma: 0
                    cGamma: 0
                    dGamma: 0
                    spectralResponse: 0
                    pvModel: 1
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: true
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.03824227511895
                    sandiaIAMB1: -0.524811223911995
                    sandiaIAMB2: 0.0213070391842001
                    sandiaIAMB3: -0.000422407233122155
                    sandiaIAMB4: 4.091960268462e-06
                    sandiaIAMB5: -1.55641268286583e-08
                    ashraeiamB0: 0.05
                    spectral2B0: null
                    spectral2B1: null
                    spectral2B2: null
                    spectral2B3: null
                    spectral2B4: null
                    spectral2B5: null
                    iamFactors: null
                    degradationModel: 0
                    linearDegradationRate: 0
                    nonLinearDegradationRates: []
                    cellDesignType: 2
                    useAntiReflectiveCoating: false
                    refractiveIndex: 1.526
                    refractiveIndexOfARC: 1.29
                    glazingExtinctionCoef: 4
                    glazingThickness: 0.002
                    powerAtSTC: 0
                    powerAtSTCExcludingWiringLosses: 0
                    effectiveIrradianceResponse: null
                    electricalShadingFractionalEffect: 0
                    moduleShadingResponse: 1
                    isMetastable: false
                    metastabilityProperties: null
                    id: 15
                    name: SolarFrontier SF155 S
                    description: null
                    companyId: 1
                    company: null
                    ownerId: 742
                    owner: null
                    createdDate: '2016-06-01T16:03:07.917'
                    lastModified: '2017-01-27T18:22:55.67'
                    lastModifiedById: 742
                    lastModifiedBy:
                      company: null
                      companyId: 1
                      firstName: System
                      lastName: Account
                      jobTitle: System
                      createdByUserId: null
                      createdByUser: null
                      status: 0
                      createdDateUtc: '2016-09-01T00:00:00'
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: null
                      uuid: null
                      userWeatherDownloads: null
                      lastLoginDateUTC: null
                      roles: []
                      logins: []
                      id: 742
                      normalizedUserName: null
                      email: FS108328@FIRSTSOLAR.COM
                      normalizedEmail: null
                      concurrencyStamp: 123a5d58-d3e0-41ca-9fe7-7f5cbe0c7f02
                  - status: 6
                    model: SF160-S
                    manufacturer: Solar Frontier K. K.
                    length: 1257
                    width: 977
                    weight: 20
                    defaultOrientation: 1
                    numberOfCellsInSeries: 170
                    numberOfCellsInParallel: 1
                    stcShortCircuitCurrent: 2.2
                    stcOpenCircuitVoltage: 110
                    stcmppCurrent: 1.91
                    stcmppVoltage: 84
                    stcMaxPower: 160
                    stcPowerTempCoef: -0.311
                    stcShortCircuitCurrentTempCoef: 0.01
                    stcOpenCircuitVoltageTempCoef: -0.3
                    stcEfficiency: 13.03
                    minTolerance: 0
                    maxTolerance: 3.1
                    cellTechnologyType: 7
                    constructionType: 1
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: null
                    backSideMismatch: null
                    dataSource: 1
                    lightInducedDegradation: -2
                    moduleQuality: 0
                    moduleMismatchCoefficient: 1
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 29
                    sandiaConductiveCoef: -3.47
                    sandiaConvectiveCoef: -0.0594
                    cellToModuleTempDiff: 3
                    saturationCurrentAtSTC: 1.351e-07
                    seriesResistanceAtSTC: 4.3
                    shuntResistanceAtSTC: 550
                    diodeIdealityFactorAtSTC: 1.525
                    exponentialDependencyOnShuntResistance: 3.1
                    darkShuntResistance: 5000
                    linearTempDependenceOnGamma: 0.0518
                    shortCircuitCurrentAtSTC: 2.2
                    recombinationParameter: 0
                    builtInVoltage: 0
                    bandgapVoltage: 1.03
                    linearTempDependenceOnIsc: 0.01
                    heatAbsorptionCoefAlphaT: 0.9
                    referenceIrradiance: 1000
                    referenceTemperature: 25
                    aGamma: 0
                    bGamma: 0
                    cGamma: 0
                    dGamma: 0
                    spectralResponse: 0
                    pvModel: 1
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: true
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.03824227511895
                    sandiaIAMB1: -0.524811223911995
                    sandiaIAMB2: 0.0213070391842001
                    sandiaIAMB3: -0.000422407233122155
                    sandiaIAMB4: 4.091960268462e-06
                    sandiaIAMB5: -1.55641268286583e-08
                    ashraeiamB0: 0.05
                    spectral2B0: null
                    spectral2B1: null
                    spectral2B2: null
                    spectral2B3: null
                    spectral2B4: null
                    spectral2B5: null
                    iamFactors: null
                    degradationModel: 0
                    linearDegradationRate: 0
                    nonLinearDegradationRates: []
                    cellDesignType: 2
                    useAntiReflectiveCoating: false
                    refractiveIndex: 1.526
                    refractiveIndexOfARC: 1.29
                    glazingExtinctionCoef: 4
                    glazingThickness: 0.002
                    powerAtSTC: 0
                    powerAtSTCExcludingWiringLosses: 0
                    effectiveIrradianceResponse: null
                    electricalShadingFractionalEffect: 0
                    moduleShadingResponse: 1
                    isMetastable: false
                    metastabilityProperties: null
                    id: 16
                    name: SolarFrontier SF160 S
                    description: null
                    companyId: 1
                    company: null
                    ownerId: 742
                    owner: null
                    createdDate: '2016-06-01T16:03:08.043'
                    lastModified: '2017-01-27T18:22:55.687'
                    lastModifiedById: 742
                    lastModifiedBy:
                      company: null
                      companyId: 1
                      firstName: System
                      lastName: Account
                      jobTitle: System
                      createdByUserId: null
                      createdByUser: null
                      status: 0
                      createdDateUtc: '2016-09-01T00:00:00'
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: null
                      uuid: null
                      userWeatherDownloads: null
                      lastLoginDateUTC: null
                      roles: []
                      logins: []
                      id: 742
                      normalizedUserName: null
                      email: FS108328@FIRSTSOLAR.COM
                      normalizedEmail: null
                      concurrencyStamp: e105223d-1691-4105-adc3-eb53e56fa3cb
                  - status: 6
                    model: SF165-S
                    manufacturer: Solar Frontier K. K.
                    length: 1257
                    width: 977
                    weight: 20
                    defaultOrientation: 1
                    numberOfCellsInSeries: 170
                    numberOfCellsInParallel: 1
                    stcShortCircuitCurrent: 2.2
                    stcOpenCircuitVoltage: 110
                    stcmppCurrent: 1.93
                    stcmppVoltage: 85.5
                    stcMaxPower: 165
                    stcPowerTempCoef: -0.311
                    stcShortCircuitCurrentTempCoef: 0.01
                    stcOpenCircuitVoltageTempCoef: -0.3
                    stcEfficiency: 13.44
                    minTolerance: 0
                    maxTolerance: 3
                    cellTechnologyType: 7
                    constructionType: 1
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: null
                    backSideMismatch: null
                    dataSource: 1
                    lightInducedDegradation: -2
                    moduleQuality: 0
                    moduleMismatchCoefficient: 1
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 29
                    sandiaConductiveCoef: -3.47
                    sandiaConvectiveCoef: -0.0594
                    cellToModuleTempDiff: 3
                    saturationCurrentAtSTC: 2.926e-08
                    seriesResistanceAtSTC: 4
                    shuntResistanceAtSTC: 600
                    diodeIdealityFactorAtSTC: 1.395
                    exponentialDependencyOnShuntResistance: 3.1
                    darkShuntResistance: 5300
                    linearTempDependenceOnGamma: 0.04014
                    shortCircuitCurrentAtSTC: 2.2
                    recombinationParameter: 0
                    builtInVoltage: 0
                    bandgapVoltage: 1.03
                    linearTempDependenceOnIsc: 0.01
                    heatAbsorptionCoefAlphaT: 0.9
                    referenceIrradiance: 1000
                    referenceTemperature: 25
                    aGamma: 0
                    bGamma: 0
                    cGamma: 0
                    dGamma: 0
                    spectralResponse: 0
                    pvModel: 1
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: true
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.03824227511895
                    sandiaIAMB1: -0.524811223911995
                    sandiaIAMB2: 0.0213070391842001
                    sandiaIAMB3: -0.000422407233122155
                    sandiaIAMB4: 4.091960268462e-06
                    sandiaIAMB5: -1.55641268286583e-08
                    ashraeiamB0: 0.05
                    spectral2B0: null
                    spectral2B1: null
                    spectral2B2: null
                    spectral2B3: null
                    spectral2B4: null
                    spectral2B5: null
                    iamFactors: null
                    degradationModel: 0
                    linearDegradationRate: 0
                    nonLinearDegradationRates: []
                    cellDesignType: 2
                    useAntiReflectiveCoating: false
                    refractiveIndex: 1.526
                    refractiveIndexOfARC: 1.29
                    glazingExtinctionCoef: 4
                    glazingThickness: 0.002
                    powerAtSTC: 0
                    powerAtSTCExcludingWiringLosses: 0
                    effectiveIrradianceResponse: null
                    electricalShadingFractionalEffect: 0
                    moduleShadingResponse: 1
                    isMetastable: false
                    metastabilityProperties: null
                    id: 17
                    name: SolarFrontier SF165 S
                    description: null
                    companyId: 1
                    company: null
                    ownerId: 742
                    owner: null
                    createdDate: '2016-06-01T16:03:08.187'
                    lastModified: '2017-01-27T18:22:55.703'
                    lastModifiedById: 742
                    lastModifiedBy:
                      company: null
                      companyId: 1
                      firstName: System
                      lastName: Account
                      jobTitle: System
                      createdByUserId: null
                      createdByUser: null
                      status: 0
                      createdDateUtc: '2016-09-01T00:00:00'
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: null
                      uuid: null
                      userWeatherDownloads: null
                      lastLoginDateUTC: null
                      roles: []
                      logins: []
                      id: 742
                      normalizedUserName: null
                      email: FS108328@FIRSTSOLAR.COM
                      normalizedEmail: null
                      concurrencyStamp: 28b32a98-ce60-45ea-aea2-be3e97cf7d8c
                  - status: 6
                    model: SF170-S
                    manufacturer: Solar Frontier K. K.
                    length: 1257
                    width: 977
                    weight: 20
                    defaultOrientation: 1
                    numberOfCellsInSeries: 170
                    numberOfCellsInParallel: 1
                    stcShortCircuitCurrent: 2.2
                    stcOpenCircuitVoltage: 112
                    stcmppCurrent: 1.95
                    stcmppVoltage: 87.5
                    stcMaxPower: 170
                    stcPowerTempCoef: -0.311
                    stcShortCircuitCurrentTempCoef: 0.01
                    stcOpenCircuitVoltageTempCoef: -0.244
                    stcEfficiency: 13.84
                    minTolerance: 0
                    maxTolerance: 2.9
                    cellTechnologyType: 7
                    constructionType: 1
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: null
                    backSideMismatch: null
                    dataSource: 1
                    lightInducedDegradation: -2
                    moduleQuality: 0
                    moduleMismatchCoefficient: 1
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 29
                    sandiaConductiveCoef: -3.47
                    sandiaConvectiveCoef: -0.0594
                    cellToModuleTempDiff: 3
                    saturationCurrentAtSTC: 7.57e-09
                    seriesResistanceAtSTC: 4
                    shuntResistanceAtSTC: 630
                    diodeIdealityFactorAtSTC: 1.322
                    exponentialDependencyOnShuntResistance: 3.1
                    darkShuntResistance: 5850
                    linearTempDependenceOnGamma: 0.02118
                    shortCircuitCurrentAtSTC: 2.2
                    recombinationParameter: 0
                    builtInVoltage: 0
                    bandgapVoltage: 1.03
                    linearTempDependenceOnIsc: 0.01
                    heatAbsorptionCoefAlphaT: 0.9
                    referenceIrradiance: 1000
                    referenceTemperature: 25
                    aGamma: 0
                    bGamma: 0
                    cGamma: 0
                    dGamma: 0
                    spectralResponse: 0
                    pvModel: 1
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: true
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.03824227511895
                    sandiaIAMB1: -0.524811223911995
                    sandiaIAMB2: 0.0213070391842001
                    sandiaIAMB3: -0.000422407233122155
                    sandiaIAMB4: 4.091960268462e-06
                    sandiaIAMB5: -1.55641268286583e-08
                    ashraeiamB0: 0.05
                    spectral2B0: null
                    spectral2B1: null
                    spectral2B2: null
                    spectral2B3: null
                    spectral2B4: null
                    spectral2B5: null
                    iamFactors: null
                    degradationModel: 0
                    linearDegradationRate: 0
                    nonLinearDegradationRates: []
                    cellDesignType: 2
                    useAntiReflectiveCoating: false
                    refractiveIndex: 1.526
                    refractiveIndexOfARC: 1.29
                    glazingExtinctionCoef: 4
                    glazingThickness: 0.002
                    powerAtSTC: 0
                    powerAtSTCExcludingWiringLosses: 0
                    effectiveIrradianceResponse: null
                    electricalShadingFractionalEffect: 0
                    moduleShadingResponse: 1
                    isMetastable: false
                    metastabilityProperties: null
                    id: 18
                    name: SolarFrontier SF170 S
                    description: null
                    companyId: 1
                    company: null
                    ownerId: 742
                    owner: null
                    createdDate: '2016-06-01T16:03:08.393'
                    lastModified: '2017-01-27T18:22:55.723'
                    lastModifiedById: 742
                    lastModifiedBy:
                      company: null
                      companyId: 1
                      firstName: System
                      lastName: Account
                      jobTitle: System
                      createdByUserId: null
                      createdByUser: null
                      status: 0
                      createdDateUtc: '2016-09-01T00:00:00'
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: null
                      uuid: null
                      userWeatherDownloads: null
                      lastLoginDateUTC: null
                      roles: []
                      logins: []
                      id: 742
                      normalizedUserName: null
                      email: FS108328@FIRSTSOLAR.COM
                      normalizedEmail: null
                      concurrencyStamp: 00a97948-92c9-409e-832f-988d424b066b
                  - status: 6
                    model: SPR-X20-250-BLK
                    manufacturer: SunPower
                    length: 1559
                    width: 798
                    weight: 15
                    defaultOrientation: 1
                    numberOfCellsInSeries: 72
                    numberOfCellsInParallel: 1
                    stcShortCircuitCurrent: 6.2
                    stcOpenCircuitVoltage: 50.9
                    stcmppCurrent: 5.84
                    stcmppVoltage: 42.8
                    stcMaxPower: 250
                    stcPowerTempCoef: -0.3
                    stcShortCircuitCurrentTempCoef: 0.037
                    stcOpenCircuitVoltageTempCoef: -0.247
                    stcEfficiency: 20.1
                    minTolerance: 0
                    maxTolerance: 5
                    cellTechnologyType: 1
                    constructionType: 2
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: null
                    backSideMismatch: null
                    dataSource: 1
                    lightInducedDegradation: 0
                    moduleQuality: 0
                    moduleMismatchCoefficient: 1
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 29
                    sandiaConductiveCoef: -3.56
                    sandiaConvectiveCoef: -0.075
                    cellToModuleTempDiff: 3
                    saturationCurrentAtSTC: 1.4e-09
                    seriesResistanceAtSTC: 0.3
                    shuntResistanceAtSTC: 2583
                    diodeIdealityFactorAtSTC: 1.188
                    exponentialDependencyOnShuntResistance: 5.5
                    darkShuntResistance: 10500
                    linearTempDependenceOnGamma: 0.00084
                    shortCircuitCurrentAtSTC: 6.2
                    recombinationParameter: 0
                    builtInVoltage: 0
                    bandgapVoltage: 1.12
                    linearTempDependenceOnIsc: 0.037
                    heatAbsorptionCoefAlphaT: 0.9
                    referenceIrradiance: 1000
                    referenceTemperature: 25
                    aGamma: 0
                    bGamma: 0
                    cGamma: 0
                    dGamma: 0
                    spectralResponse: 0
                    pvModel: 1
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: false
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.03824227511895
                    sandiaIAMB1: -0.524811223911995
                    sandiaIAMB2: 0.0213070391842001
                    sandiaIAMB3: -0.000422407233122155
                    sandiaIAMB4: 4.091960268462e-06
                    sandiaIAMB5: -1.55641268286583e-08
                    ashraeiamB0: 0.05
                    spectral2B0: 0.85914
                    spectral2B1: -0.02088
                    spectral2B2: -0.0058853
                    spectral2B3: 0.12029
                    spectral2B4: 0.026814
                    spectral2B5: -0.001781
                    iamFactors: null
                    degradationModel: 0
                    linearDegradationRate: 0
                    nonLinearDegradationRates: []
                    cellDesignType: 0
                    useAntiReflectiveCoating: false
                    refractiveIndex: 1.526
                    refractiveIndexOfARC: 1.29
                    glazingExtinctionCoef: 4
                    glazingThickness: 0.002
                    powerAtSTC: 0
                    powerAtSTCExcludingWiringLosses: 0
                    effectiveIrradianceResponse: null
                    electricalShadingFractionalEffect: 100
                    moduleShadingResponse: 2
                    isMetastable: false
                    metastabilityProperties: null
                    id: 19
                    name: Sunpower SPR X20 250 BLK
                    description: null
                    companyId: 1
                    company: null
                    ownerId: 742
                    owner: null
                    createdDate: '2016-06-01T16:03:08.517'
                    lastModified: '2016-06-01T16:03:08.517'
                    lastModifiedById: 742
                    lastModifiedBy:
                      company: null
                      companyId: 1
                      firstName: System
                      lastName: Account
                      jobTitle: System
                      createdByUserId: null
                      createdByUser: null
                      status: 0
                      createdDateUtc: '2016-09-01T00:00:00'
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: null
                      uuid: null
                      userWeatherDownloads: null
                      lastLoginDateUTC: null
                      roles: []
                      logins: []
                      id: 742
                      normalizedUserName: null
                      email: FS108328@FIRSTSOLAR.COM
                      normalizedEmail: null
                      concurrencyStamp: c935c232-d143-43d0-8177-85ad95f4487c
                  - status: 6
                    model: SPR-300-WHT-I
                    manufacturer: SunPower
                    length: 1559
                    width: 1046
                    weight: 24
                    defaultOrientation: 1
                    numberOfCellsInSeries: 96
                    numberOfCellsInParallel: 1
                    stcShortCircuitCurrent: 5.87
                    stcOpenCircuitVoltage: 64
                    stcmppCurrent: 5.49
                    stcmppVoltage: 54.7
                    stcMaxPower: 300
                    stcPowerTempCoef: -0.38
                    stcShortCircuitCurrentTempCoef: 0.06
                    stcOpenCircuitVoltageTempCoef: -0.276
                    stcEfficiency: 18.4
                    minTolerance: -3
                    maxTolerance: 3
                    cellTechnologyType: 1
                    constructionType: 2
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: null
                    backSideMismatch: null
                    dataSource: 1
                    lightInducedDegradation: 0
                    moduleQuality: 0
                    moduleMismatchCoefficient: 1
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 29
                    sandiaConductiveCoef: -3.56
                    sandiaConvectiveCoef: -0.075
                    cellToModuleTempDiff: 3
                    saturationCurrentAtSTC: 1.1e-11
                    seriesResistanceAtSTC: 0.497
                    shuntResistanceAtSTC: 3554
                    diodeIdealityFactorAtSTC: 0.96
                    exponentialDependencyOnShuntResistance: 5.5
                    darkShuntResistance: 14000
                    linearTempDependenceOnGamma: -0.06667
                    shortCircuitCurrentAtSTC: 5.87
                    recombinationParameter: 0
                    builtInVoltage: 0
                    bandgapVoltage: 1.12
                    linearTempDependenceOnIsc: 0.06
                    heatAbsorptionCoefAlphaT: 0.9
                    referenceIrradiance: 1000
                    referenceTemperature: 25
                    aGamma: 0
                    bGamma: 0
                    cGamma: 0
                    dGamma: 0
                    spectralResponse: 0
                    pvModel: 1
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: true
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.03824227511895
                    sandiaIAMB1: -0.524811223911995
                    sandiaIAMB2: 0.0213070391842001
                    sandiaIAMB3: -0.000422407233122155
                    sandiaIAMB4: 4.091960268462e-06
                    sandiaIAMB5: -1.55641268286583e-08
                    ashraeiamB0: 0.05
                    spectral2B0: 0.85914
                    spectral2B1: -0.02088
                    spectral2B2: -0.0058853
                    spectral2B3: 0.12029
                    spectral2B4: 0.026814
                    spectral2B5: -0.001781
                    iamFactors: null
                    degradationModel: 0
                    linearDegradationRate: 0
                    nonLinearDegradationRates: []
                    cellDesignType: 0
                    useAntiReflectiveCoating: false
                    refractiveIndex: 1.526
                    refractiveIndexOfARC: 1.29
                    glazingExtinctionCoef: 4
                    glazingThickness: 0.002
                    powerAtSTC: 0
                    powerAtSTCExcludingWiringLosses: 0
                    effectiveIrradianceResponse: null
                    electricalShadingFractionalEffect: 100
                    moduleShadingResponse: 2
                    isMetastable: false
                    metastabilityProperties: null
                    id: 20
                    name: Sunpower SPR300WHTI
                    description: null
                    companyId: 1
                    company: null
                    ownerId: 742
                    owner: null
                    createdDate: '2016-06-01T16:03:08.643'
                    lastModified: '2016-06-01T16:03:08.643'
                    lastModifiedById: 742
                    lastModifiedBy:
                      company: null
                      companyId: 1
                      firstName: System
                      lastName: Account
                      jobTitle: System
                      createdByUserId: null
                      createdByUser: null
                      status: 0
                      createdDateUtc: '2016-09-01T00:00:00'
                      settings: null
                      costCenter: null
                      migrationAgreementAcceptance: true
                      clientCredentialsCreatedOnUTC: null
                      uuid: null
                      userWeatherDownloads: null
                      lastLoginDateUTC: null
                      roles: []
                      logins: []
                      id: 742
                      normalizedUserName: null
                      email: FS108328@FIRSTSOLAR.COM
                      normalizedEmail: null
                      concurrencyStamp: 53813ca7-18a6-4014-8fbf-c39a33453452
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
      - Modules
      summary: Create a module
      description: Creates a new module from the provided body contents.
      operationId: createModule
      x-doc-source: postman
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Module'
            examples:
              postman-module-module:
                value:
                  status: 2
                  model: FS-7540A-TR1 September2022
                  manufacturer: First Solar
                  length: 2300
                  width: 1215
                  weight: 39.7
                  defaultOrientation: 1
                  numberOfCellsInSeries: 268
                  numberOfCellsInParallel: 1
                  stcShortCircuitCurrent: 3.064
                  stcOpenCircuitVoltage: 227.717
                  stcmppCurrent: 2.861
                  stcmppVoltage: 188.69
                  stcMaxPower: 540
                  stcPowerTempCoef: -0.32
                  stcShortCircuitCurrentTempCoef: 0.04
                  stcOpenCircuitVoltageTempCoef: -0.28
                  stcEfficiency: 19.32367149758454
                  minTolerance: 0
                  maxTolerance: 5
                  cellTechnologyType: 6
                  constructionType: 1
                  faciality: 0
                  bifacialityFactor: null
                  transmissionFactor: null
                  backSideMismatch: null
                  dataSource: 1
                  lightInducedDegradation: 0
                  moduleQuality: 0
                  moduleMismatchCoefficient: 0.5
                  heatBalanceConvectiveCoef: 0
                  heatBalanceConductiveCoef: 29
                  sandiaConductiveCoef: -3.47
                  sandiaConvectiveCoef: -0.0594
                  cellToModuleTempDiff: 3
                  saturationCurrentAtSTC: 2.269097e-11
                  seriesResistanceAtSTC: 4.602
                  shuntResistanceAtSTC: 7000
                  diodeIdealityFactorAtSTC: 1.292
                  exponentialDependencyOnShuntResistance: 5.5
                  darkShuntResistance: 7000
                  linearTempDependenceOnGamma: 0.03637770897832817
                  shortCircuitCurrentAtSTC: 3.064
                  recombinationParameter: 0.2000000000000001
                  builtInVoltage: 0.9
                  bandgapVoltage: 1.5
                  linearTempDependenceOnIsc: 0.04
                  heatAbsorptionCoefAlphaT: 0.9
                  referenceIrradiance: 1000
                  referenceTemperature: 25
                  aGamma: null
                  bGamma: null
                  cGamma: null
                  dGamma: null
                  spectralResponse: 2
                  pvModel: 0
                  useDefaultSandiaIAM: false
                  useDefaultTabularIAM: false
                  sandiaSpectralA0: null
                  sandiaSpectralA1: null
                  sandiaSpectralA2: null
                  sandiaSpectralA3: null
                  sandiaSpectralA4: null
                  sandiaIAMB0: 6.038242275137197
                  sandiaIAMB1: -0.5248112239136882
                  sandiaIAMB2: 0.02130703918426116
                  sandiaIAMB3: -0.00042240723312322523
                  sandiaIAMB4: 4.091960268471147e-06
                  sandiaIAMB5: -1.5564126828688897e-08
                  ashraeiamB0: 0.05
                  spectral2B0: 0.86273
                  spectral2B1: -0.038948
                  spectral2B2: -0.012506
                  spectral2B3: 0.098871
                  spectral2B4: 0.084658
                  spectral2B5: -0.0042948
                  iamFactors:
                  - incidenceAngle: 0
                    factor: 1
                  - incidenceAngle: 30
                    factor: 1
                  - incidenceAngle: 55
                    factor: 0.99
                  - incidenceAngle: 60
                    factor: 0.98
                  - incidenceAngle: 65
                    factor: 0.96
                  - incidenceAngle: 70
                    factor: 0.92
                  - incidenceAngle: 75
                    factor: 0.85
                  - incidenceAngle: 80
                    factor: 0.72
                  - incidenceAngle: 90
                    factor: 0
                  degradationModel: 1
                  linearDegradationRate: 0.3
                  nonLinearDegradationRates: []
                  cellDesignType: null
                  useAntiReflectiveCoating: false
                  refractiveIndex: 1.526
                  refractiveIndexOfARC: 1.29
                  glazingExtinctionCoef: 4
                  glazingThickness: 0.002
                  powerAtSTC: 0
                  powerAtSTCExcludingWiringLosses: 0
                  effectiveIrradianceResponse:
                  - irradiance: 100
                    temperature: 25
                    relativeEfficiency: 0.8814819319715739
                  - irradiance: 200
                    temperature: 25
                    relativeEfficiency: 0.9467641893572506
                  - irradiance: 300
                    temperature: 25
                    relativeEfficiency: 0.9727857600367622
                  - irradiance: 400
                    temperature: 25
                    relativeEfficiency: 0.9864198360018204
                  - irradiance: 500
                    temperature: 25
                    relativeEfficiency: 0.994194382349794
                  - irradiance: 600
                    temperature: 25
                    relativeEfficiency: 0.9986027250356551
                  - irradiance: 700
                    temperature: 25
                    relativeEfficiency: 1.0008398407389827
                  - irradiance: 800
                    temperature: 25
                    relativeEfficiency: 1.0015713396635646
                  - irradiance: 900
                    temperature: 25
                    relativeEfficiency: 1.001203606468212
                  - irradiance: 1000
                    temperature: 25
                    relativeEfficiency: 1
                  - irradiance: 1100
                    temperature: 25
                    relativeEfficiency: 0.9981406314820271
                  - irradiance: 1200
                    temperature: 25
                    relativeEfficiency: 0.9957540528792794
                  - irradiance: 100
                    temperature: 50
                    relativeEfficiency: 0.8742670870403499
                  - irradiance: 200
                    temperature: 50
                    relativeEfficiency: 0.9404278435155332
                  - irradiance: 300
                    temperature: 50
                    relativeEfficiency: 0.9680071162319765
                  - irradiance: 400
                    temperature: 50
                    relativeEfficiency: 0.9829378885559052
                  - irradiance: 500
                    temperature: 50
                    relativeEfficiency: 0.9917136616820472
                  - irradiance: 600
                    temperature: 50
                    relativeEfficiency: 0.9969019479321173
                  - irradiance: 700
                    temperature: 50
                    relativeEfficiency: 0.9997423852901055
                  - irradiance: 800
                    temperature: 50
                    relativeEfficiency: 1.0009460787440676
                  - irradiance: 900
                    temperature: 50
                    relativeEfficiency: 1.000936227746243
                  - irradiance: 1000
                    temperature: 50
                    relativeEfficiency: 1
                  - irradiance: 1100
                    temperature: 50
                    relativeEfficiency: 0.9983320742461258
                  - irradiance: 1200
                    temperature: 50
                    relativeEfficiency: 0.9960749126620079
                  electricalShadingFractionalEffect: 0
                  moduleShadingResponse: 1
                  id: 42176
                  name: FS-7540A-TR1 CdTe September2022
                  description: S7_505_540
      responses:
        '200':
          description: Created module ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                postman-module:
                  value:
                    id: 47106
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Module/ModuleOverview:
    get:
      tags:
      - Modules
      summary: Get module overview list
      description: Gets all available modules and with only critical meta data for properties.
      operationId: getModuleOverview
      x-doc-source: postman
      responses:
        '200':
          description: Module overviews
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModuleOverview'
              examples:
                postman-module-overview:
                  value:
                  - id: 46882
                    ownerId: 8903
                    name: FS-7505A-TR1 CdTe September2022
                    status: 2
                    lastModified: '2024-10-23T12:48:57.9'
                    lastModifiedBy:
                      firstName: Postman
                      lastName: Act
                    model: FS-7505A-TR1 September2022
                    manufacturer: First Solar
                    stcMaxPower: 505
                    stcPowerTempCoef: -0.32
                    cellTechnologyType: 6
                    cellDesignType: 3
                    faciality: 0
                    isMultiJunction: false
                    isLargeFormat: false
                    isShingledMonoPerc: false
                    isThinFilm: true
                  - id: 46883
                    ownerId: 8903
                    name: Longi LR5_72_HBD_545_Tera
                    status: 2
                    lastModified: '2024-10-23T12:48:57.9'
                    lastModifiedBy:
                      firstName: Postman
                      lastName: Act
                    model: LR5-72 HBD 540 M Bifacial
                    manufacturer: Longi Solar
                    stcMaxPower: 545
                    stcPowerTempCoef: -0.35
                    cellTechnologyType: 2
                    cellDesignType: 0
                    faciality: 1
                    isMultiJunction: false
                    isLargeFormat: false
                    isShingledMonoPerc: false
                    isThinFilm: false
                  - id: 46884
                    ownerId: 8903
                    name: FS-7505A-TR1 CdTe September2022
                    status: 2
                    lastModified: '2024-10-23T12:49:01.177'
                    lastModifiedBy:
                      firstName: Postman
                      lastName: Act
                    model: FS-7505A-TR1 September2022
                    manufacturer: First Solar
                    stcMaxPower: 505
                    stcPowerTempCoef: -0.32
                    cellTechnologyType: 6
                    cellDesignType: 3
                    faciality: 0
                    isMultiJunction: false
                    isLargeFormat: false
                    isShingledMonoPerc: false
                    isThinFilm: true
                  - id: 46885
                    ownerId: 8903
                    name: Longi LR5_72_HBD_545_Tera
                    status: 2
                    lastModified: '2024-10-23T12:49:01.177'
                    lastModifiedBy:
                      firstName: Postman
                      lastName: Act
                    model: LR5-72 HBD 540 M Bifacial
                    manufacturer: Longi Solar
                    stcMaxPower: 545
                    stcPowerTempCoef: -0.35
                    cellTechnologyType: 2
                    cellDesignType: 0
                    faciality: 1
                    isMultiJunction: false
                    isLargeFormat: false
                    isShingledMonoPerc: false
                    isThinFilm: false
                  - id: 39648
                    ownerId: 3927
                    name: Jinkosolar JKM460M-7RL3-TV
                    status: 3
                    lastModified: '2022-03-15T18:27:37.933'
                    lastModifiedBy:
                      firstName: Thang
                      lastName: Le
                    model: JKM460M-7RL3-TV
                    manufacturer: Jinkosolar
                    stcMaxPower: 461.17089963999996
                    stcPowerTempCoef: -0.34395684620132044
                    cellTechnologyType: 2
                    cellDesignType: 0
                    faciality: 1
                    isMultiJunction: false
                    isLargeFormat: false
                    isShingledMonoPerc: false
                    isThinFilm: false
                  - id: 39658
                    ownerId: 3927
                    name: Jinkosolar JKM460M-7RL3-TV-IAM100-TBE
                    status: 3
                    lastModified: '2022-03-15T18:28:34.403'
                    lastModifiedBy:
                      firstName: Thang
                      lastName: Le
                    model: JKM460M-7RL3-TV-TBE
                    manufacturer: Jinkosolar
                    stcMaxPower: 461.17089963999996
                    stcPowerTempCoef: -0.34395684620132044
                    cellTechnologyType: 2
                    cellDesignType: 0
                    faciality: 1
                    isMultiJunction: false
                    isLargeFormat: false
                    isShingledMonoPerc: false
                    isThinFilm: false
                  - id: 39734
                    ownerId: 5091
                    name: Canadian Solar Inc. CS6Y-565MB-AG 1500V
                    status: 2
                    lastModified: '2024-06-17T18:12:59.963'
                    lastModifiedBy:
                      firstName: David
                      lastName: Spieldenner
                    model: CS6Y-565MB-AG 1500V
                    manufacturer: Canadian Solar Inc.
                    stcMaxPower: 565.76610564
                    stcPowerTempCoef: -0.3479042731401181
                    cellTechnologyType: 2
                    cellDesignType: 0
                    faciality: 1
                    isMultiJunction: false
                    isLargeFormat: false
                    isShingledMonoPerc: false
                    isThinFilm: false
                  - id: 39922
                    ownerId: 5032
                    name: Trina Solar TSM-540DEG19C.20
                    status: 3
                    lastModified: '2021-10-18T06:08:30.057'
                    lastModifiedBy:
                      firstName: Claude
                      lastName: Deuda
                    model: TSM-540DEG19C.20
                    manufacturer: Trina Solar
                    stcMaxPower: 540.4381668000001
                    stcPowerTempCoef: -0.35187065825862496
                    cellTechnologyType: 2
                    cellDesignType: 0
                    faciality: 1
                    isMultiJunction: false
                    isLargeFormat: false
                    isShingledMonoPerc: false
                    isThinFilm: false
                  - id: 39923
                    ownerId: 5032
                    name: Trina Solar TSM-585DEG20C.20
                    status: 3
                    lastModified: '2021-10-18T06:10:29.407'
                    lastModifiedBy:
                      firstName: Claude
                      lastName: Deuda
                    model: TSM-585DEG20C.20
                    manufacturer: Trina Solar
                    stcMaxPower: 585.14642088
                    stcPowerTempCoef: -0.35584383450018825
                    cellTechnologyType: 2
                    cellDesignType: 0
                    faciality: 1
                    isMultiJunction: false
                    isLargeFormat: false
                    isShingledMonoPerc: false
                    isThinFilm: false
                  - id: 39924
                    ownerId: 5032
                    name: Canadian Solar Inc. CS6Y-560MB-AG 1500V
                    status: 3
                    lastModified: '2021-10-18T06:12:04.493'
                    lastModifiedBy:
                      firstName: Claude
                      lastName: Deuda
                    model: CS6Y-560MB-AG 1500V
                    manufacturer: Canadian Solar Inc.
                    stcMaxPower: 560.61164285
                    stcPowerTempCoef: -0.3478902197937108
                    cellTechnologyType: 2
                    cellDesignType: 0
                    faciality: 1
                    isMultiJunction: false
                    isLargeFormat: false
                    isShingledMonoPerc: false
                    isThinFilm: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Module/DefaultIAM:
    get:
      tags:
      - Modules
      summary: Get default IAM curve for a given ASHRAE IAM coefficient
      description: Returns the default incidence-angle modifier (IAM) curve for a given ASHRAE b₀ coefficient. Use this when defining a new module without measured IAM data; the curve is shared across all modules of the same construction type.
      operationId: getDefaultIAM
      x-doc-source: drafted
      parameters:
      - name: ASHRAEIAM
        in: query
        required: true
        schema:
          type: number
      responses:
        '200':
          description: IAM factors
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Module/ImportPANFile:
    post:
      tags:
      - Modules
      summary: Parse a PAN file and return module data
      description: This endpoint will convern a .PAN file and its contents into a JSON structure which is compatible with PlantPredict. The response can be used as the body in a POST request to create a new module.
      operationId: importPANFile
      x-doc-source: postman
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Parsed module data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
              examples:
                postman-pan-file-convert:
                  value:
                    name: First Solar FS-6455A-P Jan2022
                    cellTechnologyType: 6
                    cellDesignType: 0
                    pvModel: 0
                    numberOfCellsInSeries: 264
                    referenceTemperature: 25
                    referenceIrradiance: 1000
                    numIVPoints: 100
                    currentNegation: false
                    stcShortCircuitCurrent: 2.64
                    stcmppCurrent: 2.4404701579949415
                    stcOpenCircuitVoltage: 225.2100000003078
                    stcmppVoltage: 186.47387999999947
                    stcMaxPower: 455
                    relativeEfficiency: 0
                    targetEfficiency: 0
                    stcPowerTempCoef: -0.30465598891628975
                    stcShortCircuitCurrentTempCoef: 0.06098484848484849
                    stcOpenCircuitVoltageTempCoef: -0.2760090582123352
                    saturationCurrentAtSTC: 5.5255324312167533e-11
                    diodeIdealityFactorAtSTC: 1.3560137077739796
                    lightGeneratedCurrent: 2.6548008322394048
                    seriesResistanceAtSTC: 4.124
                    recombinationParameter: 1.078
                    shuntResistanceAtSTC: 5000
                    exponentialDependencyOnShuntResistance: 3
                    darkShuntResistance: 15289
                    maximumSeriesResistance: 5.268999999999999
                    maximumRecombinationParameter: 3.4320000000000004
                    linearTempDependenceOnGamma: 0.002208077500000174
                    moduleShadingResponse: 1
                    electricalShadingFractionalEffect: 100
                    bandgapVoltage: 1.5
                    builtInVoltage: 0.9
                    effectiveIrradianceResponse: null
                    status: 0
                    model: FS-6455A-P Jan2022
                    manufacturer: First Solar
                    length: 2024
                    width: 1245
                    weight: 34.9
                    defaultOrientation: 1
                    numberOfCellsInParallel: 1
                    stcEfficiency: 18.060271928663266
                    minTolerance: 0
                    maxTolerance: 5
                    constructionType: 2
                    faciality: 0
                    bifacialityFactor: null
                    transmissionFactor: 0
                    backSideMismatch: 3
                    dataSource: 1
                    lightInducedDegradation: 0
                    moduleQuality: 0
                    moduleMismatchCoefficient: 0.5
                    heatBalanceConvectiveCoef: 0
                    heatBalanceConductiveCoef: 29
                    sandiaConductiveCoef: -3.56
                    sandiaConvectiveCoef: -0.075
                    cellToModuleTempDiff: 3
                    shortCircuitCurrentAtSTC: 2.64
                    linearTempDependenceOnIsc: 0.06098484848484849
                    heatAbsorptionCoefAlphaT: 0.9
                    aGamma: null
                    bGamma: null
                    cGamma: null
                    dGamma: null
                    spectralResponse: 1
                    useDefaultSandiaIAM: true
                    useDefaultTabularIAM: false
                    sandiaSpectralA0: 0
                    sandiaSpectralA1: 0
                    sandiaSpectralA2: 0
                    sandiaSpectralA3: 0
                    sandiaSpectralA4: 0
                    sandiaIAMB0: 6.038242275137197
                    sandiaIAMB1: -0.5248112239136882
                    sandiaIAMB2: 0.02130703918426116
                    sandiaIAMB3: -0.00042240723312322523
                    sandiaIAMB4: 4.091960268471147e-06
                    sandiaIAMB5: -1.5564126828688897e-08
                    ashraeiamB0: 0.05
                    spectral2B0: 0.86273
                    spectral2B1: -0.038948
                    spectral2B2: -0.012506
                    spectral2B3: 0.098871
                    spectral2B4: 0.084658
                    spectral2B5: -0.0042948
                    iamFactors:
                    - id: 0
                      incidenceAngle: 0
                      factor: 1
                    - id: 0
                      incidenceAngle: 30
                      factor: 1
                    - id: 0
                      incidenceAngle: 50
                      factor: 0.99
                    - id: 0
                      incidenceAngle: 60
                      factor: 0.98
                    - id: 0
                      incidenceAngle: 65
                      factor: 0.96
                    - id: 0
                      incidenceAngle: 70
                      factor: 0.92
                    - id: 0
                      incidenceAngle: 75
                      factor: 0.85
                    - id: 0
                      incidenceAngle: 80
                      factor: 0.72
                    - id: 0
                      incidenceAngle: 90
                      factor: 0
                    degradationModel: 1
                    linearDegradationRate: 0.5
                    nonLinearDegradationRates: null
                    sandiaAFactors: null
                    sandiaBFactors: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Module/CreatePANFileModule:
    post:
      tags:
      - Modules
      summary: Create a module from parsed PAN file data
      description: Creates a new module library entry from parsed PVsyst PAN file data. The raw `.pan` file must be parsed client-side; this endpoint accepts the structured JSON form rather than the file itself. Equivalent to a manual module entry but pre-populated with PVsyst's parameter set.
      operationId: createPANFileModule
      x-doc-source: drafted
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Module'
            examples:
              postman-module-pan-create:
                value:
                  name: First Solar FS-6455A-P Jan2022
                  cellTechnologyType: 6
                  cellDesignType: 0
                  pvModel: 0
                  numberOfCellsInSeries: 264
                  referenceTemperature: 25
                  referenceIrradiance: 1000
                  numIVPoints: 100
                  currentNegation: false
                  stcShortCircuitCurrent: 2.64
                  stcmppCurrent: 2.4404701579949415
                  stcOpenCircuitVoltage: 225.2100000003078
                  stcmppVoltage: 186.47387999999947
                  stcMaxPower: 455
                  relativeEfficiency: 0
                  targetEfficiency: 0
                  stcPowerTempCoef: -0.30465598891628975
                  stcShortCircuitCurrentTempCoef: 0.06098484848484849
                  stcOpenCircuitVoltageTempCoef: -0.2760090582123352
                  saturationCurrentAtSTC: 5.5255324312167533e-11
                  diodeIdealityFactorAtSTC: 1.3560137077739796
                  lightGeneratedCurrent: 2.6548008322394048
                  seriesResistanceAtSTC: 4.124
                  recombinationParameter: 1.078
                  shuntResistanceAtSTC: 5000
                  exponentialDependencyOnShuntResistance: 3
                  darkShuntResistance: 15289
                  maximumSeriesResistance: 5.268999999999999
                  maximumRecombinationParameter: 3.4320000000000004
                  linearTempDependenceOnGamma: 0.002208077500000174
                  moduleShadingResponse: 1
                  electricalShadingFractionalEffect: 100
                  bandgapVoltage: 1.5
                  builtInVoltage: 0.9
                  effectiveIrradianceResponse: null
                  status: 0
                  model: FS-6455A-P Jan2022
                  manufacturer: First Solar
                  length: 2024
                  width: 1245
                  weight: 34.9
                  defaultOrientation: 1
                  numberOfCellsInParallel: 1
                  stcEfficiency: 18.060271928663266
                  minTolerance: 0
                  maxTolerance: 5
                  constructionType: 2
                  faciality: 0
                  bifacialityFactor: null
                  transmissionFactor: 0
                  backSideMismatch: 3
                  dataSource: 1
                  lightInducedDegradation: 0
                  moduleQuality: 0
                  moduleMismatchCoefficient: 0.5
                  heatBalanceConvectiveCoef: 0
                  heatBalanceConductiveCoef: 29
                  sandiaConductiveCoef: -3.56
                  sandiaConvectiveCoef: -0.075
                  cellToModuleTempDiff: 3
                  shortCircuitCurrentAtSTC: 2.64
                  linearTempDependenceOnIsc: 0.06098484848484849
                  heatAbsorptionCoefAlphaT: 0.9
                  aGamma: null
                  bGamma: null
                  cGamma: null
                  dGamma: null
                  spectralResponse: 1
                  useDefaultSandiaIAM: true
                  useDefaultTabularIAM: false
                  sandiaSpectralA0: 0
                  sandiaSpectralA1: 0
                  sandiaSpectralA2: 0
                  sandiaSpectralA3: 0
                  sandiaSpectralA4: 0
                  sandiaIAMB0: 6.038242275137197
                  sandiaIAMB1: -0.5248112239136882
                  sandiaIAMB2: 0.02130703918426116
                  sandiaIAMB3: -0.00042240723312322523
                  sandiaIAMB4: 4.091960268471147e-06
                  sandiaIAMB5: -1.5564126828688897e-08
                  ashraeiamB0: 0.05
                  spectral2B0: 0.86273
                  spectral2B1: -0.038948
                  spectral2B2: -0.012506
                  spectral2B3: 0.098871
                  spectral2B4: 0.084658
                  spectral2B5: -0.0042948
                  iamFactors:
                  - id: 0
                    incidenceAngle: 0
                    factor: 1
                  - id: 0
                    incidenceAngle: 30
                    factor: 1
                  - id: 0
                    incidenceAngle: 50
                    factor: 0.99
                  - id: 0
                    incidenceAngle: 60
                    factor: 0.98
                  - id: 0
                    incidenceAngle: 65
                    factor: 0.96
                  - id: 0
                    incidenceAngle: 70
                    factor: 0.92
                  - id: 0
                    incidenceAngle: 75
                    factor: 0.85
                  - id: 0
                    incidenceAngle: 80
                    factor: 0.72
                  - id: 0
                    incidenceAngle: 90
                    factor: 0
                  degradationModel: 1
                  linearDegradationRate: 0.5
                  nonLinearDegradationRates: null
                  sandiaAFactors: null
                  sandiaBFactors: null
      responses:
        '200':
          description: Created module ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                postman-pan-create:
                  value: 47110
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Module/Generator/GenerateSingleDiodeParametersDefault:
    post:
      tags:
      - Modules
      summary: Generate single-diode parameters from basic datasheet values
      description: Derives a complete single-diode model from a minimal set of datasheet values (STC power, voltages, currents, temperature coefficients, cell technology). A good starting point when you don't have measured IV curves to work from. For finer control over the solver and curve-fitting, use `POST /Module/Generator/GenerateSingleDiodeParametersAdvanced` instead.
      operationId: generateSingleDiodeDefault
      x-doc-source: drafted
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SingleDiodeDefaultRequest'
            examples:
              postman-module-module-generator-single-diode-default:
                value:
                  numberOfCellsInSeries: 264
                  referenceIrradiance: 1000
                  referenceTemperature: 25
                  stcMaxPower: 420
                  stcmppCurrent: 2.33
                  stcmppVoltage: 180.4
                  stcOpenCircuitVoltage: 218.5
                  stcOpenCircuitVoltageTempCoef: -0.28
                  stcPowerTempCoef: -0.32
                  stcShortCircuitCurrent: 2.54
                  stcShortCircuitCurrentTempCoef: 0.04
                  cellTechnologyType: 6
                  pvModel: 0
      responses:
        '200':
          description: Module with generated single-diode parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Module/Generator/GenerateSingleDiodeParametersAdvanced:
    post:
      tags:
      - Modules
      summary: Advanced generation of single-diode parameters
      description: Same goal as `generateSingleDiodeDefault` but accepts a full `Module` payload — letting you override solver constraints (shunt resistance, recombination parameter, series resistance, etc.) and tune the fit before persisting.
      operationId: generateSingleDiodeAdvanced
      x-doc-source: drafted
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Module'
            examples:
              postman-module-module-generator-advanced-tuning:
                value:
                  status: 0
                  model: null
                  manufacturer: null
                  length: 0
                  width: 0
                  weight: null
                  defaultOrientation: 0
                  numberOfCellsInSeries: 108
                  numberOfCellsInParallel: 0
                  stcShortCircuitCurrent: 1.74930325831
                  stcOpenCircuitVoltage: 89.7052484312
                  stcmppCurrent: 1.58974185618
                  stcmppVoltage: 72.0381001714
                  stcMaxPower: 116.860092192
                  stcPowerTempCoef: -0.128399496065
                  stcShortCircuitCurrentTempCoef: 0.00212187434454
                  stcOpenCircuitVoltageTempCoef: -0.274848561159
                  stcEfficiency: 0
                  minTolerance: null
                  maxTolerance: null
                  cellTechnologyType: 6
                  constructionType: 0
                  faciality: 0
                  bifacialityFactor: null
                  transmissionFactor: null
                  backSideMismatch: null
                  dataSource: 7
                  lightInducedDegradation: 0
                  moduleQuality: 0
                  moduleMismatchCoefficient: 0
                  heatBalanceConvectiveCoef: 0
                  heatBalanceConductiveCoef: 0
                  sandiaConductiveCoef: 0
                  sandiaConvectiveCoef: 0
                  cellToModuleTempDiff: 0
                  saturationCurrentAtSTC: 3.189466358347338e-11
                  seriesResistanceAtSTC: 0.7179999999999995
                  shuntResistanceAtSTC: 1650
                  diodeIdealityFactorAtSTC: 1.322801785929346
                  exponentialDependencyOnShuntResistance: 5.5
                  darkShuntResistance: 17000
                  linearTempDependenceOnGamma: -1.1560769224999505
                  shortCircuitCurrentAtSTC: 1.74930325831
                  recombinationParameter: 1.7591999999999999
                  builtInVoltage: 0.9
                  bandgapVoltage: 1.5
                  linearTempDependenceOnIsc: 0
                  heatAbsorptionCoefAlphaT: 0
                  referenceIrradiance: 1000
                  referenceTemperature: 25
                  aGamma: null
                  bGamma: null
                  cGamma: null
                  dGamma: null
                  spectralResponse: 0
                  pvModel: 0
                  useDefaultSandiaIAM: false
                  useDefaultTabularIAM: false
                  sandiaSpectralA0: null
                  sandiaSpectralA1: null
                  sandiaSpectralA2: null
                  sandiaSpectralA3: null
                  sandiaSpectralA4: null
                  sandiaIAMB0: null
                  sandiaIAMB1: null
                  sandiaIAMB2: null
                  sandiaIAMB3: null
                  sandiaIAMB4: null
                  sandiaIAMB5: null
                  ashraeiamB0: 0.5
                  spectral2B0: null
                  spectral2B1: null
                  spectral2B2: null
                  spectral2B3: null
                  spectral2B4: null
                  spectral2B5: null
                  iamFactors: null
                  degradationModel: 0
                  linearDegradationRate: 0
                  nonLinearDegradationRates: null
                  effectiveIrradianceResponse: null
                  powerAtSTC: 0
                  lightGeneratedCurrent: 1.781409191869544
                  maximumSeriesResistance: 1.0359999999999991
                  maximumRecombinationParameter: 1.8879999999999997
                  id: 0
                  name: null
                  description: null
                  companyId: 0
                  company: null
                  ownerId: 0
                  owner: null
                  createdDate: '0001-01-01T00:00:00'
                  lastModified: '0001-01-01T00:00:00'
                  lastModifiedById: 0
                  lastModifiedBy: null
      responses:
        '200':
          description: Module with generated parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
  /Module/Generator/OptimizeSeriesResistance:
    post:
      tags:
      - Modules
      summary: Optimize series resistance for effective irradiance response
      description: Iteratively refines a module's series resistance so the model's effective-irradiance response matches measured behaviour. Typically called after `generateSingleDiodeAdvanced` when the resulting low-irradiance performance diverges from expectations.
      operationId: optimizeSeriesResistance
[...]
