openapi: 3.1.0
info:
  title: PlantPredict API
  version: 12.13.0
  description: >
    ## What is PlantPredict?


    PlantPredict is an industry-leading performance modeling platform for
    utility-scale

    solar power plants. It predicts energy yield across the full project
    lifecycle —

    from early-stage site prospecting through detailed engineering and
    operational

    monitoring. The same engine that powers the PlantPredict web UI is fully
    exposed

    via this REST API, enabling automation of complex, high-time-resolution
    energy

    predictions without any UI interaction.


    ## Domain Model — read this first


    Understanding the object hierarchy is essential before calling the API:


    - **Weather** — A weather file (hourly irradiance, temperature, wind, etc.)
    for a
      geographic location. Imported from a provider (e.g. SolarAnywhere, Meteonorm) or
      uploaded manually. Weather files live in a company-wide library and are referenced
      by Predictions.

    - **Module** — A PV module definition parameterized with electrical
    characteristics
      (STC power, temperature coefficients, single-diode model parameters, IAM curves,
      etc.). Modules live in a company-wide library.

    - **Inverter** — An inverter definition with efficiency curves,
    voltage/power ratings,
      and optional kVA derating curves. Inverters live in a company-wide library.

    - **Project** — A named location (lat/lon) that acts as a container for one
    or more
      Predictions. Holds geographic metadata (country, elevation, UTC offset) and a status.

    - **Prediction** — The core simulation configuration nested under a Project.
    Defines
      the simulation period, model selections (transposition, air mass, degradation,
      soiling, shading, spectral shift models), uncertainty error terms, and references
      to a Weather file. A Prediction must be linked to a PowerPlant before it can be run.
      Status values: 0 = Draft, 1 = Active, 2 = Issued, 3 = Archived.

    - **PowerPlant** — The physical plant design attached to a Prediction.
    Describes the
      electrical topology: Blocks → Arrays → Inverters → DC Fields (strings of modules).
      Also includes transformers, transmission lines, energy storage (ESS), availability
      losses, and LGIA export limits.

    - **Shade Scene** — An optional 3D shading model (PVJ format) attached to a
      Prediction's DC Fields. Supports import from PVC or SHD files. Shade and TABT
      (Tracker Angle Back-Tracking) calculations are queued and run asynchronously.

    ## Typical workflow to run a prediction


    1. Ensure a **Weather** file exists (search, download, or import one).

    2. Ensure a **Module** and **Inverter** exist in the library.

    3. **POST /Project** — create a project at the site location.

    4. **POST /Project/{projectId}/Prediction** — create a prediction with model
    settings.

    5. **POST /Project/{projectId}/Prediction/{predictionId}/PowerPlant** —
    attach a plant
       design referencing your module and inverter.
    6. **POST /Project/{projectId}/Prediction/{predictionId}/Run** — queue the
    simulation.

    7. Poll **GET /Project/{projectId}/Prediction/{predictionId}/Overview**
    until
       `status` reaches 2 (complete), then retrieve results via `/ResultSummary`,
       `/ResultDetails`, or `/NodalJson`.

    ## Authentication


    OAuth 2.0 **Client Credentials** flow via AWS Cognito. The spec advertises

    a single `bearerAuth` scheme — fetch a token yourself with the snippet

    below, then either paste it into the in-browser playground or pass it on

    every request as `Authorization: Bearer <token>`.


    > **Why not advertise OAuth2 directly?** Most users have access to the

    > production tenant only, and we don't want to invite anyone to enter

    > long-lived `client_id` / `client_secret` credentials into a third-party

    > documentation site. Keep credentials in your own environment; ship

    > short-lived bearer tokens to wherever they are needed.


    - Token URL:
    `https://terabase-prd.auth.us-west-2.amazoncognito.com/oauth2/token`

    - Scopes: `transactions/get` (read), `transactions/post` (write) — request
      both to access the entire surface.
    - Send credentials as **Basic Auth** in the token request header.


    Example:


    ```bash

    curl -X POST
    'https://terabase-prd.auth.us-west-2.amazoncognito.com/oauth2/token' \
      -u "$PP_CLIENT_ID:$PP_CLIENT_SECRET" \
      -d 'grant_type=client_credentials&scope=transactions/get transactions/post'
    ```


    API credentials (Client ID + Secret) are generated per user by a company
    admin

    inside the PlantPredict UI (gear icon → user profile → Generate API
    Credentials).

    Store them securely — they are shown only once.


    ## Notes


    - All request/response bodies are JSON (`Content-Type: application/json`).

    - The API is stateless — every request must supply complete inputs; there is
    no session.

    - POST operations that create entities return `{"id": <integer>}`.

    - Many integer fields (model types, status codes) map to named enums — use
      `GET /Definitions` to retrieve the full enum catalog at runtime.
    - Long-running operations (Run, Shade calculations, TABT) are asynchronous;
    poll
      the corresponding `ProcessingStatus` endpoint to track progress.
    - Responses may include an `X-Message` header with non-blocking warnings
    (e.g.
      duplicate project name).
servers:
  - url: https://api.plantpredict.terabase.energy
    description: Production
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Pass `Authorization: Bearer <token>` on every request. See the
        **Authentication** section of the API description for how to fetch a
        token.
  responses:
    Unauthorized:
      description: >-
        Missing or invalid bearer token. The response body is empty and no
        `Content-Type` header is set; the 401 status code is the only signal.
        Fetch a fresh token (see the **Authentication** section of the API
        description) and retry.
    NotFound:
      description: >-
        The referenced resource does not exist or is not accessible to the
        caller.
      content:
        text/plain:
          schema:
            type: string
          example: Project not found.
    BadRequest:
      description: |
        The request was rejected. PlantPredict returns one of two shapes:

        * `application/json` with `{message, modelState}` for input
          validation errors (ASP.NET Web API model-state). The `modelState`
          map keys field names to lists of human-readable error messages.
        * `text/plain` with a free-form message for runtime / database
          errors that bubble up before validation completes.

        Clients should branch on the `Content-Type` header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ModelStateError'
          example:
            message: The request is invalid.
            modelState:
              latitude:
                - The field Latitude must be between -90 and 90.
        text/plain:
          schema:
            type: string
          example: A successfully completed prediction cannot be cancelled.
    Conflict:
      description: |
        The request conflicts with the current state of the resource
        (e.g. trying to delete an entity that has dependents, or status
        change rejected because of lifecycle rules).
      content:
        text/plain:
          schema:
            type: string
          example: Cannot delete project; it has 3 predictions.
    ServerError:
      description: |
        Unexpected server-side error. The body is usually a plain-text message
        but its structure is not guaranteed — treat it as opaque diagnostic
        text. Common causes: database constraint violation, downstream
        service timeout, internal exception. Retry-safe for idempotent
        requests; for non-idempotent ones, verify state before retrying.
      content:
        text/plain:
          schema:
            type: string
          example: An error has occurred.
    Forbidden:
      description: |
        The bearer token is valid but lacks the OAuth2 scope or role required
        for this operation (e.g. status-change endpoints require elevated
        privileges that not every API client is granted). Response body is
        typically empty.
    TooManyRequests:
      description: |
        The caller has exceeded the per-account rate limit for this operation.
        Wait and retry. The PlantPredict API does not currently emit
        `Retry-After`; back off with an exponential schedule (start at 30s).
        Response body is typically empty.
  schemas:
    Error:
      type: object
      description: |
        Minimal envelope used for free-form error messages. Many PlantPredict
        error responses are `text/plain` rather than this JSON shape; see
        the per-response `content` for the canonical shape on each endpoint.
      properties:
        message:
          type: string
      required:
        - message
    ModelStateError:
      type: object
      description: |
        ASP.NET Web API validation error. `modelState` maps the offending
        field name (or `request`) to a list of human-readable messages.
      properties:
        message:
          type: string
        modelState:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      required:
        - message
    IdResponse:
      type: object
      properties:
        id:
          type: integer
      required:
        - id
    Note:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        contents:
          type: string
        ownerId:
          type: integer
        entityType:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          x-enum-varnames:
            - Project
            - Module
            - Inverter
            - Weather
            - Prediction
            - MultiJunction
          description: EntityType
        entityID:
          type: integer
    NoteCreate:
      type: object
      required:
        - contents
      properties:
        contents:
          type: string
    StatusChangeItem:
      type: object
      required:
        - id
        - status
      properties:
        id:
          type: integer
        status:
          type: integer
    Project:
      type: object
      required:
        - name
        - latitude
        - longitude
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
        description:
          type:
            - string
            - 'null'
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        elevation:
          type: number
          format: double
        country:
          type: string
        countryCode:
          type: string
        stateProvince:
          type: string
        stateProvinceCode:
          type: string
        locality:
          type: string
        region:
          type: string
        standardOffsetFromUTC:
          type: number
        status:
          type: integer
          description: ProjectStatusEnum
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - Active
            - Archived
            - VoltagePro
        predictions:
          type:
            - array
            - 'null'
          items:
            type: object
        companyId:
          type: integer
          readOnly: true
        createdDate:
          type: string
          readOnly: true
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
    ProjectOverview:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        country:
          type: string
        countryCode:
          type: string
        createdDate:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        lastModified:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        elevation:
          type: number
          format: double
        region:
          type: string
        standardOffsetFromUTC:
          type: number
        locality:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        stateProvinceCode:
          type: string
        status:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - Active
            - Archived
            - VoltagePro
          description: ProjectStatusEnum
        predictions:
          type: array
          items:
            type: object
    PVsystImportStartResult:
      type: object
      description: >
        Returned when a PVsyst import is accepted. No project exists yet — poll
        `statusUrl`

        until the job reaches a terminal status.
      properties:
        jobId:
          type: integer
          format: int64
          description: >
            Identifier for this import. Worth logging: it is the fastest way for
            support to

            find a specific import.
        statusUrl:
          type: string
          description: Relative URL to poll for the import status.
      required:
        - jobId
    PVsystImportStatusResult:
      type: object
      description: The state and outcome of a PVsyst import job.
      properties:
        jobId:
          type: integer
          format: int64
        status:
          type: string
          enum:
            - Processing
            - Completed
            - Failed
          description: |
            `Processing` — still running, check again shortly.
            `Completed` — finished; `projectId` is the new project.
            `Failed` — no project was created; `errorCode` says why.
        originalFileName:
          type:
            - string
            - 'null'
          description: The uploaded ZIP filename.
        projectId:
          type:
            - integer
            - 'null'
          format: int64
          description: The created project. Null until the import completes successfully.
        projectName:
          type:
            - string
            - 'null'
        summary:
          type:
            - string
            - 'null'
          description: >
            One sentence describing the outcome in plain language, suitable to
            relay to a

            person as-is without counting array lengths.
        errorCode:
          type:
            - string
            - 'null'
          description: >
            Set only when `status` is `Failed`. One of:


            * `no-importable-variants` — not one variant could be imported;
            `skipped` lists
              every file that needs fixing. Correct the export and send it again.
            * `invalid-zip` — the upload could not be read as a PVsyst export,
            or contained
              no variants. Correct the export and send it again.
            * `import-error` — a fault on the PlantPredict side. Contact support
            with the
              `jobId`; retrying the same ZIP will not help.
        error:
          type:
            - string
            - 'null'
          description: Free-form detail accompanying `errorCode`.
        imported:
          type:
            - array
            - 'null'
          description: Variants that became predictions. Empty until the import finishes.
          items:
            $ref: '#/components/schemas/PVsystImportedVariant'
        skipped:
          type:
            - array
            - 'null'
          description: >
            Variants left out because a file they reference could not be used.
            Everything

            that could be imported still was.
          items:
            $ref: '#/components/schemas/PVsystSkippedVariant'
        failed:
          type:
            - array
            - 'null'
          description: Variants that errored during creation.
          items:
            $ref: '#/components/schemas/PVsystFailedVariant'
      required:
        - jobId
        - status
    PVsystImportedVariant:
      type: object
      description: A PVsyst variant that was imported as a prediction.
      properties:
        variantFile:
          type:
            - string
            - 'null'
          description: The PVsyst variant file, e.g. `Desert Ridge.VC0`.
        predictionId:
          type:
            - integer
            - 'null'
          format: int64
          description: The prediction created from this variant.
    PVsystSkippedVariant:
      type: object
      description: >
        A PVsyst variant that was not imported because one or more of the files
        it

        references could not be used.
      properties:
        variantFile:
          type:
            - string
            - 'null'
        reason:
          type:
            - string
            - 'null'
          description: Plain-language explanation, suitable to show to a person.
        blockedBy:
          type:
            - array
            - 'null'
          description: The specific file references that blocked this variant.
          items:
            $ref: '#/components/schemas/PVsystBlockingReference'
    PVsystFailedVariant:
      type: object
      description: A PVsyst variant that errored while the prediction was being created.
      properties:
        variantFile:
          type:
            - string
            - 'null'
        error:
          type:
            - string
            - 'null'
    PVsystBlockingReference:
      type: object
      description: A file a variant references that could not be used.
      properties:
        category:
          type:
            - string
            - 'null'
          description: The kind of file, e.g. `module`, `inverter`, `weather`.
        fileName:
          type:
            - string
            - 'null'
          description: The referenced filename, e.g. `CS7N-695TB-AG.PAN`.
        problem:
          type:
            - string
            - 'null'
          description: Why it could not be used, e.g. `Not included in the ZIP.`
    MonthlyFactor:
      type: object
      properties:
        id:
          type: integer
        month:
          type: integer
          minimum: 1
          maximum: 12
        monthName:
          type: string
        soilingLoss:
          type: number
        albedo:
          type: number
        spectralShift:
          type:
            - number
            - 'null'
    Prediction:
      type: object
      required:
        - name
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
        description:
          type:
            - string
            - 'null'
        status:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
          x-enum-varnames:
            - DraftPrivate
            - DraftShared
            - Analysis
            - Bid
            - Contract
            - Development
            - AsBuilt
            - Warranty
            - Archived
            - StringSizing
          description: PredictionStatusEnum
        projectId:
          type: integer
        powerPlantId:
          type:
            - integer
            - 'null'
        weatherId:
          type:
            - integer
            - 'null'
        start:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        end:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        yearRepeater:
          type: integer
        transpositionModel:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Hay
            - Perez
          description: TranspositionModelType
        perezCoefficients:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
          x-enum-varnames:
            - PlantPredict
            - AllSitesComposite1990
            - AllSitesComposite1988
            - SandiaComposite1988
            - USAComposite1988
            - France1988
            - Pheonix1988
            - Elmonte1988
            - Osage1988
            - Albuquerque1988
            - CapeCanaveral1988
            - Albany1988
          description: PerezCoefficientsEnum
        diffuseDirectDecompModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          x-enum-varnames:
            - Erbs
            - Reindl
            - DIRINT
            - None
          description: DiffuseDirectDecompModelType
        circumsolarTreatment:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Diffuse
            - Direct
          description: CircumsolarTreatmentType
        airMassModel:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - BirdHulstrom
            - KastenSandia
          description: AirMassModelType
        soilingModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - MonthlyOverride
            - WeatherFile
            - None
          description: SoilingModelType
        modTempModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          x-enum-varnames:
            - HeatBalance
            - Sandia
            - NOCT
            - DCFieldDefined
          description: ModuleTemperatureModelType
        incAngleModel:
          type: integer
          enum:
            - 2
            - 3
            - 4
            - 5
            - 6
          x-enum-varnames:
            - Sandia
            - ASHRAE
            - None
            - TabularIAM
            - PhysicalIAM
          description: IncidenceAngleModelType
        directBeamShadingModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 5
            - 6
          x-enum-varnames:
            - Linear
            - None
            - V2DimensionRetired
            - FractionalElectricalShading
            - ModuleFileDefinedShading
            - StepFractionalElectricalShading
          description: DirectBeamShadingModel
        degradationModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          x-enum-varnames:
            - None
            - SteppedAC
            - LinearAC
            - LinearDC
            - NonLinearDC
          description: DegradationModel
        diffuseShadingModel:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - None
            - SchaarPanchula
          description: DiffuseShadingModel
        spectralShiftModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          x-enum-varnames:
            - None
            - V1ParamPwatOrSandia
            - V2ParamPwatAndAM
            - MonthlyOverride
          description: SpectralShiftModel
        linearDegradationRate:
          type: number
        firstYearDegradation:
          type: boolean
        errorModelAcc:
          type: number
        errorSensAcc:
          type: number
        errorIntAnnVar:
          type: number
        errorMonAcc:
          type: number
        errorSpaVar:
          type: number
        useMeteoDni:
          type: boolean
        useMeteoPOAI:
          type: boolean
        useBacksidePOAI:
          type: boolean
        useLeapYears:
          type: boolean
        useWeatherFileAlbedoData:
          type: boolean
        useMetastability:
          type: boolean
        enableLeTID:
          type: boolean
        max50Year:
          type: number
        min50Year:
          type: number
        cool996:
          type: number
        minAnnualMeanDBTemp:
          type:
            - number
            - 'null'
        elevation:
          type:
            - number
            - 'null'
        timeZone:
          type:
            - number
            - 'null'
        ashraeStation:
          type: string
        ashraeWMO:
          type: string
        ashraeDistance:
          type: number
        ashraeVersion:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Version2013
            - Version2021
          description: AshraeVersionEnum
        logicVersion:
          type: integer
          enum:
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
          x-enum-varnames:
            - Version3
            - Version4
            - Version5
            - Version6
            - Version7
            - Version8
            - Version9
            - Version10
            - Version11
            - Version12
            - Version13Beta
          description: PredictionVersionEnum
        pValues:
          type: array
          items:
            type: object
        horizonDetails:
          type: array
          items:
            type: object
        nonLinearDegradationRates:
          type: array
          items:
            type: object
        monthlyFactors:
          type: array
          items:
            $ref: '#/components/schemas/MonthlyFactor'
    PredictionUpdateResponse:
      type: object
      properties:
        changesMade:
          type: boolean
    PowerPlant:
      type: object
      properties:
        id:
          type: integer
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/Block'
        transformers:
          type: array
          items:
            type: object
        transmissionLines:
          type: array
          items:
            type: object
        ess:
          type:
            - object
            - 'null'
          description: >-
            The Energy Storage System page allows you to configure an optional
            AC-coupled battery energy storage system (BESS) for your prediction.
            To enable energy storage, enter a Nameplate capacity value (input
            #1) and an Inverter Real Power rating (input #9). The Dispatch
            Algorithm should also be configured to ensure the...
          x-doc-source: docs-only:user-guide/ui/energy-storage-system.mdx
        esS_Id:
          type:
            - integer
            - 'null'
        exportSystem:
          type:
            - object
            - 'null'
          description: >-
            The 3D View provides tools for analyzing terrain and racking
            placement within your map-based power plant design. This interface
            enables terrain slope analysis, table slope constraint
            identification, and post height calculations.
          x-doc-source: docs-only:user-guide/ui/power-plant-builder-3d-view.mdx
        exportESS:
          type: boolean
        lgiaLimitTimeSeriesId:
          type:
            - integer
            - 'null'
        lgiaLimitTimeSeries:
          type:
            - object
            - 'null'
          description: >-
            The Simulation Settings page allows you to configure the prediction
            timeframe and select the sub-models used for irradiance calculation,
            module performance, shading analysis, and degradation. These
            settings control the algorithms applied during the energy prediction
            simulation.
          x-doc-source: docs-only:user-guide/ui/simulation-settings.mdx
        useLGIALimitTimeSeries:
          type: boolean
        powerFactor:
          type: number
        lgiaLimitation:
          type:
            - number
            - 'null'
        nighttimeDisconnect:
          type: boolean
        availabilityLoss:
          type: number
        useCoolingTemp:
          type: boolean
        desiredDCACRatio:
          type:
            - number
            - 'null'
        powerPlantDesignType:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Simple
            - Advanced
          description: PowerPlantDesignType
        customArrayConfig:
          type:
            - object
            - 'null'
          description: >-
            The Array page allows you to configure the medium-voltage (MV)
            transformer, AC collection circuit losses, and define the number of
            equivalent arrays within a Block. An Array aggregates multiple
            inverters and their associated DC Fields. Similar to the Inverter
            page, the Array supports a multiplier to model multiple...
          x-doc-source: docs-only:user-guide/ui/power-plant-builder-array.mdx
        useCustomArrayConfig:
          type: boolean
        totalModuleArea:
          type: number
        maxMVTransformerVoltage:
          type: number
        maximumPlantOutput:
          type: number
        resultList:
          type:
            - array
            - 'null'
          items:
            type: object
          readOnly: true
    ExportOptions:
      type: object
      properties:
        exportSystem:
          type: boolean
        exportESS:
          type: boolean
        nodalExportOptions:
          type: object
          description: >-
            The System Details page allows you to specify
            interconnection-related parameters including system availability,
            power plant output limits, and high-voltage (HV) transformation and
            transmission line details. These settings affect losses between the
            plant collection point and the energy meter (point of
            interconnection).
          x-doc-source: docs-only:user-guide/ui/system-details.mdx
    TimeSeriesMeta:
      type: object
      properties:
        id:
          type: integer
        predictionId:
          type: integer
        type:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          x-enum-varnames:
            - InverterSetPoint
            - InverterDerate
            - TrackingAngle
            - ModuleSurfaceTemperature
            - LGIALimit
            - IMPPAdjustment
            - VMPPAdjustment
          description: TimeSeriesType
        name:
          type: string
        detailsCount:
          type: integer
    TimeSeriesDetail:
      allOf:
        - $ref: '#/components/schemas/TimeSeriesMeta'
        - type: object
          properties:
            details:
              type: array
              items:
                type: object
    ResultSummary:
      type: object
      properties:
        id:
          type: integer
        predictionName:
          type: string
        runBy:
          type: string
        timeOfPrediction:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        elapsedTimeMinutes:
          type: number
        execDate:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        toolName:
          type: string
        toolVersion:
          type: string
        start:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        end:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        decompositionModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          x-enum-varnames:
            - Erbs
            - Reindl
            - DIRINT
            - None
          description: DiffuseDirectDecompModelType
        transpositionModel:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Hay
            - Perez
          description: TranspositionModelType
        perezCoefficients:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
          x-enum-varnames:
            - PlantPredict
            - AllSitesComposite1990
            - AllSitesComposite1988
            - SandiaComposite1988
            - USAComposite1988
            - France1988
            - Pheonix1988
            - Elmonte1988
            - Osage1988
            - Albuquerque1988
            - CapeCanaveral1988
            - Albany1988
          description: PerezCoefficientsEnum
        incModel:
          type: integer
          enum:
            - 2
            - 3
            - 4
            - 5
            - 6
          x-enum-varnames:
            - Sandia
            - ASHRAE
            - None
            - TabularIAM
            - PhysicalIAM
          description: IncidenceAngleModelType
        airMassModel:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - BirdHulstrom
            - KastenSandia
          description: AirMassModelType
        moduleTemperatureModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          x-enum-varnames:
            - HeatBalance
            - Sandia
            - NOCT
            - DCFieldDefined
          description: ModuleTemperatureModelType
        degradationModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
          x-enum-varnames:
            - None
            - SteppedAC
            - LinearAC
            - LinearDC
            - NonLinearDC
          description: DegradationModel
        circumsolarTreatment:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Diffuse
            - Direct
          description: CircumsolarTreatmentType
        directShadingModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 5
            - 6
          x-enum-varnames:
            - Linear
            - None
            - V2DimensionRetired
            - FractionalElectricalShading
            - ModuleFileDefinedShading
            - StepFractionalElectricalShading
          description: DirectBeamShadingModel
        diffuseShadingModel:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - None
            - SchaarPanchula
          description: DiffuseShadingModel
    Inverter:
      type: object
      required:
        - name
        - manufacturer
        - model
        - powerRated
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
        description:
          type:
            - string
            - 'null'
        status:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          x-enum-varnames:
            - Unknown
            - DraftPrivate
            - DraftShared
            - Active
            - Retired
            - Global
            - GlobalRetired
          description: LibraryStatusEnum
        model:
          type: string
        manufacturer:
          type: string
        powerRated:
          type: number
          description: kW
        apparentPower:
          type: number
        minDCPowerThreshold:
          type: number
        minVoltage:
          type: number
        maxMPPVoltage:
          type: number
        maxAbsoluteVoltage:
          type: number
        maxCurrent:
          type: number
        maxElevation:
          type: number
        outputVoltage:
          type: number
        usekVACurves:
          type: boolean
        usePQCurves:
          type: boolean
        dataSource:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
          x-enum-varnames:
            - Manufacturer
            - PVsyst
            - UniversityOfGeneva
            - Photon
            - SandiaDatabase
            - Custom
            - PlantPredict
          description: DataSourceType
        inverterType:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - Unspecified
            - String
            - Central
          description: InverterType
        efficiencyCurves:
          type:
            - array
            - 'null'
          items:
            type: object
        kVACurves:
          type:
            - array
            - 'null'
          items:
            type: object
        pqCurves:
          type:
            - array
            - 'null'
          items:
            type: object
        companyId:
          type: integer
          readOnly: true
        ownerId:
          type: integer
          readOnly: true
        createdDate:
          type: string
          readOnly: true
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        lastModified:
          type: string
          readOnly: true
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
    InverterOverview:
      type: object
      properties:
        id:
          type: integer
        ownerId:
          type: integer
        name:
          type: string
        status:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          x-enum-varnames:
            - Unknown
            - DraftPrivate
            - DraftShared
            - Active
            - Retired
            - Global
            - GlobalRetired
          description: LibraryStatusEnum
        lastModified:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        lastModifiedBy:
          type: string
        model:
          type: string
        manufacturer:
          type: string
        powerRated:
          type: number
        outputVoltage:
          type: number
        minVoltage:
          type: number
        maxMPPVoltage:
          type: number
        inverterType:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - Unspecified
            - String
            - Central
          description: InverterType
    kVAResponse:
      type: object
      properties:
        kVa:
          type: number
    Module:
      type: object
      required:
        - name
        - manufacturer
        - model
        - stcMaxPower
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
        description:
          type:
            - string
            - 'null'
        status:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          x-enum-varnames:
            - Unknown
            - DraftPrivate
            - DraftShared
            - Active
            - Retired
            - Global
            - GlobalRetired
          description: LibraryStatusEnum
        model:
          type: string
        manufacturer:
          type: string
        length:
          type: number
          description: mm
        width:
          type: number
          description: mm
        weight:
          type: number
          description: kg
        defaultOrientation:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Landscape
            - Portrait
          description: ModuleOrientation
        numberOfCellsInSeries:
          type: integer
        numberOfCellsInParallel:
          type: integer
        stcShortCircuitCurrent:
          type: number
        stcOpenCircuitVoltage:
          type: number
        stcmppCurrent:
          type: number
        stcmppVoltage:
          type: number
        stcMaxPower:
          type: number
          description: Wp
        stcPowerTempCoef:
          type: number
        stcShortCircuitCurrentTempCoef:
          type: number
        stcOpenCircuitVoltageTempCoef:
          type: number
        stcEfficiency:
          type: number
        minTolerance:
          type: number
        maxTolerance:
          type: number
        cellTechnologyType:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
          x-enum-varnames:
            - NTypeMonoCSi
            - PTypeMonoCSiPERC
            - PTypeMonoCSiBSF
            - PolyCSiPERC
            - PolyCSiBSF
            - CdTe
            - CIGS
            - Mixed
          description: CellTechnologyTypeEnum
        cellDesignType:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          x-enum-varnames:
            - FullCellTechnology
            - HalfCellTechnology
            - NA
            - NoneSpecified
          description: CellDesignType
        constructionType:
          type: integer
          enum:
            - 1
            - 2
          x-enum-varnames:
            - GlassGlass
            - GlassBacksheet
          description: ConstructionTypeEnum
        faciality:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Monofacial
            - Bifacial
          description: FacialityEnum
        bifacialityFactor:
          type:
            - number
            - 'null'
        transmissionFactor:
          type:
            - number
            - 'null'
        backSideMismatch:
          type:
            - number
            - 'null'
        dataSource:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
          x-enum-varnames:
            - Manufacturer
            - PVsyst
            - UniversityOfGeneva
            - Photon
            - SandiaDatabase
            - Custom
            - PlantPredict
          description: DataSourceType
        lightInducedDegradation:
          type: number
        moduleQuality:
          type: number
        moduleMismatchCoefficient:
          type: number
        heatBalanceConvectiveCoef:
          type: number
        heatBalanceConductiveCoef:
          type: number
        sandiaConductiveCoef:
          type: number
        sandiaConvectiveCoef:
          type: number
        cellToModuleTempDiff:
          type: number
        pvModel:
          type: integer
          enum:
            - 0
            - 1
            - 3
          x-enum-varnames:
            - V1DiodeRecombination
            - V1Diode
            - V1DiodeRecombinationNonLinearTemp
          description: PvModelType
        referenceIrradiance:
          type: number
        referenceTemperature:
          type: number
        degradationModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - Unspecified
            - Linear
            - NonLinear
          description: ModuleDegradationModel
        linearDegradationRate:
          type: number
        effectiveIrradianceResponse:
          type:
            - array
            - 'null'
          items:
            type: object
        iamFactors:
          type:
            - array
            - 'null'
          items:
            type: object
        nonLinearDegradationRates:
          type: array
          items:
            type: object
    ModuleOverview:
      type: object
      properties:
        id:
          type: integer
        ownerId:
          type: integer
        name:
          type: string
        status:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          x-enum-varnames:
            - Unknown
            - DraftPrivate
            - DraftShared
            - Active
            - Retired
            - Global
            - GlobalRetired
          description: LibraryStatusEnum
        lastModified:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        lastModifiedBy:
          type: string
        model:
          type: string
        manufacturer:
          type: string
        stcMaxPower:
          type: number
        stcPowerTempCoef:
          type: number
        cellTechnologyType:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
          x-enum-varnames:
            - NTypeMonoCSi
            - PTypeMonoCSiPERC
            - PTypeMonoCSiBSF
            - PolyCSiPERC
            - PolyCSiBSF
            - CdTe
            - CIGS
            - Mixed
          description: CellTechnologyTypeEnum
        cellDesignType:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          x-enum-varnames:
            - FullCellTechnology
            - HalfCellTechnology
            - NA
            - NoneSpecified
          description: CellDesignType
        faciality:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Monofacial
            - Bifacial
          description: FacialityEnum
        isMultiJunction:
          type: boolean
        isLargeFormat:
          type: boolean
        isShingledMonoPerc:
          type: boolean
        isThinFilm:
          type: boolean
    SingleDiodeDefaultRequest:
      type: object
      required:
        - numberOfCellsInSeries
        - stcMaxPower
        - stcmppCurrent
        - stcmppVoltage
        - stcOpenCircuitVoltage
        - stcShortCircuitCurrent
        - cellTechnologyType
        - pvModel
      properties:
        numberOfCellsInSeries:
          type: integer
        referenceIrradiance:
          type: number
        referenceTemperature:
          type: number
        stcMaxPower:
          type: number
        stcmppCurrent:
          type: number
        stcmppVoltage:
          type: number
        stcOpenCircuitVoltage:
          type: number
        stcOpenCircuitVoltageTempCoef:
          type: number
        stcPowerTempCoef:
          type: number
        stcShortCircuitCurrent:
          type: number
        stcShortCircuitCurrentTempCoef:
          type: number
        cellTechnologyType:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
          x-enum-varnames:
            - NTypeMonoCSi
            - PTypeMonoCSiPERC
            - PTypeMonoCSiBSF
            - PolyCSiPERC
            - PolyCSiBSF
            - CdTe
            - CIGS
            - Mixed
          description: CellTechnologyTypeEnum
        pvModel:
          type: integer
          enum:
            - 0
            - 1
            - 3
          x-enum-varnames:
            - V1DiodeRecombination
            - V1Diode
            - V1DiodeRecombinationNonLinearTemp
          description: PvModelType
    WeatherFile:
      type: object
      required:
        - name
        - latitude
        - longitude
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
        description:
          type:
            - string
            - 'null'
        status:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          x-enum-varnames:
            - Unknown
            - DraftPrivate
            - DraftShared
            - Active
            - Retired
            - Global
            - GlobalRetired
          description: LibraryStatusEnum
        source:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
          x-enum-varnames:
            - Unknown
            - Meteonorm
            - CPRSolarAnywhere
            - NSRDBPSM
            - NSRDBSUNY
            - NSRDBMTS2
            - SolarGIS
            - NASA
            - Solcast
            - PVGIS
          description: WeatherSourceTypeAPIEnum
        stationName:
          type: string
        stationCode:
          type: string
        format:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
          x-enum-varnames:
            - SolarProspectorCSV
            - NRELTMY3
            - MeteonormTMY3
            - V3Tier
            - AWS
            - EPW
            - GeoModelSolar
            - SolarAnywhere
            - PlantPredict
            - TMY3
            - SolarGIS
            - NASA
            - V3TierVaisala
            - Solcast
            - PVGIS
          description: WeatherFormat
        latitude:
          type: number
        longitude:
          type: number
        elevation:
          type: number
        timeZone:
          type: number
        timestampDefinition:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
          x-enum-varnames:
            - Undefined
            - IntervalEnd
            - IntervalBegin
            - IntervalMiddle
          description: WeatherTimestampDefinitionEnum
        timeInterval:
          type: integer
        startDate:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        endDate:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        dataProvider:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19
            - 20
            - 21
            - 22
            - 23
          x-enum-varnames:
            - NREL
            - AWSTruepower
            - WindLogics
            - Meteonorm
            - V3TIER
            - SolarAnywhere
            - GeoModelSolar
            - GeoSUNAfrica
            - SoDa
            - HelioClim
            - SolarResourceAssessment
            - EnergyPlus
            - Other
            - Customer
            - SolarProspector
            - GlobalFED
            - NSRDB
            - WhiteBoxTechnologies
            - SolarGIS
            - NASA
            - V3TIERVaisala
            - Solcast
            - PVGIS
          description: WeatherDataProvider
        dataType:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
          x-enum-varnames:
            - SyntheticMonthly
            - Satellite
            - GroundCorrected
            - Measured
            - TMY3
            - TGY
            - TMY
            - PSM
            - SUNY
            - MTS2
            - CZ2010
          description: WeatherDataType
        country:
          type: string
        countryCode:
          type: string
        stateProvince:
          type: string
        stateProvinceCode:
          type: string
        locality:
          type: string
        region:
          type: string
        globalHorizontalIrradianceSum:
          type: number
        diffuseHorizontalIrradianceSum:
          type: number
        directNormalIrradianceSum:
          type: number
        planeOfArrayIrradianceSum:
          type: number
        averageAirTemperature:
          type: number
        averageWindSpeed:
          type: number
        weatherDetails:
          type: array
          items:
            type: object
        pLevel:
          type: number
        windSensorHeight:
          type: number
        offsetMinutes:
          type: integer
        moduleTilt:
          type: number
        moduleAzimuth:
          type: number
        trackingType:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - FixedTilt
            - HorizontalTracker
            - SeasonalTilt
          description: DCFieldTrackingTypeEnum
        groundCoverageRatio:
          type: number
        companyId:
          type: integer
          readOnly: true
        createdDate:
          type: string
          readOnly: true
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
    WeatherDetail:
      type: object
      properties:
        id:
          type: integer
        weatherId:
          type: integer
        index:
          type: integer
        timeStamp:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        globalHorizontalIrradiance:
          type: number
        diffuseHorizontalIrradiance:
          type: number
        directNormalIrradiance:
          type: number
        planeOfArrayIrradiance:
          type: number
        backsidePlaneOfArrayIrradiance:
          type: number
        temperature:
          type: number
        windspeed:
          type: number
        windDirection:
          type: number
        relativeHumidity:
          type: number
        dewpoint:
          type: number
        pressure:
          type: number
        precipitableWater:
          type: number
        rainfall:
          type: number
        albedoData:
          type: number
    HorizonPoint:
      type: object
      properties:
        azimuth:
          type: number
        elevation:
          type: number
    ShadeSceneProperties:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        createdDateUTC:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        createdById:
          type: integer
        sceneSurfaceArea:
          type: number
        dcFieldSurfaceArea:
          type: number
        collectorCount:
          type: integer
        objectCount:
          type: integer
        orientationTargetDCField:
          type: integer
        calculationSettingsTargetDCField:
          type: integer
        siteTableCount:
          type: integer
        rotation:
          type: number
        binType:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - Quick
            - Balanced
            - Detailed
          description: ShadeSceneBinTypes
        collectorType:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - FixedTilt
            - SingleAxisTracker
            - Mixed
          description: CollectorType
        trackerRotationModel:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - RepresentativeDCField
            - TimeSeriesSchedule
            - TerrainAwareBacktracking
          description: TrackerRotationModel
        shadingModel:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - DCField
            - SiteShadeScene
          description: Shading3DModel
        fractionalShadingPercentage:
          type: number
        numberOfModuleFractions:
          type: integer
        shadeObjectType:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - BoundingBoxFast
            - NoneHighFidelity
          description: ShadeObjectType
    ProcessingStatus:
      type: object
      properties:
        Id:
          type: integer
        RunId:
          type: integer
        PercentComplete:
          type: number
        ProcessingStatus:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
          x-enum-varnames:
            - None
            - Queued
            - Running
            - Success
            - Error
            - Cancelled
          description: ProcessingStatusEnum
        LastPublishedDateToQueue:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        RunStartedDateTimeUTC:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
        RunCompletedDateTimeUTC:
          type: string
          description: >-
            ISO-8601 datetime as returned by the PlantPredict API. May or may
            not include a timezone offset; treat as server-local when no offset
            is present.
    ASHRAEStation:
      type: object
      properties:
        stationName:
          type: string
        wmo:
          type: string
        cool996:
          type: number
        min50Year:
          type: number
        max50Year:
          type: number
        distance:
          type: number
        latitude:
          type: number
        longitude:
          type: number
        minAnnualMeanDBTemp:
          type: number
        version:
          type: integer
          description: >-
            ASHRAE design-conditions table version year (e.g., 2021). Returned
            as integer despite the look of a year string.
        elevation:
          type: number
        timeZone:
          type: number
    DefinitionValue:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    Definition:
      type: object
      properties:
        type:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/DefinitionValue'
    APICredentials:
      type: object
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
    Country:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        numeric:
          type: integer
        alpha:
          type: string
    DCField:
      type: object
      properties:
        name:
          type: integer
        moduleId:
          type: integer
        module:
          type: object
        trackingType:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - FixedTilt
            - HorizontalTracker
            - SeasonalTilt
          description: DCFieldTrackingTypeEnum
        moduleOrientation:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Landscape
            - Portrait
          description: ModuleOrientation
        irradianceOptimization:
          type: boolean
        irradianceOptimizationType:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - None
            - PlantPredict
            - ArrayTechnologies
          description: IrradianceOptimizationType
        rotationSpeed:
          type: number
          format: double
        nonIdealityFactor:
          type: number
          format: double
        tablesRemovedForPCS:
          type: number
          format: double
        transverseSlope: {}
        baselineSlope: {}
        northSouthRoadWidth:
          type: number
          format: double
        eastWestRoadWidth:
          type: number
          format: double
        modulesHigh:
          type: integer
        modulesWide:
          type: integer
        lateralIntermoduleGap:
          type: number
          format: double
        verticalIntermoduleGap:
          type: number
          format: double
        fieldLength:
          type: number
          format: double
          readOnly: true
        fieldWidth:
          type: number
          format: double
          readOnly: true
        collectorBandwidth:
          type: number
          format: double
        tableLength:
          type: number
          format: double
        tablesPerRow:
          type: number
          format: double
        postToPostSpacing:
          type: number
          format: double
        numberOfRows:
          type: number
          format: double
        tableToTableSpacing:
          type: number
          format: double
        moduleAzimuth:
          type: number
          format: double
        moduleTilt:
          type: number
          format: double
        trackingBacktrackingType:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - TrueTracking
            - Backtracking
            - TimeSeries
          description: DCFieldBacktrackingType
        trackerPitchAngleD:
          type: number
          format: double
        minimumTrackingLimitAngleD:
          type: number
          format: double
        maximumTrackingLimitAngleD:
          type: number
          format: double
        nightTimeStowAngleD:
          type:
            - number
            - 'null'
          format: double
        trackerStowAngle:
          type: number
          format: double
        windStowType:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - Disabled
            - PlantPredict
            - ArrayTechnologies
          description: WindStowType
        arrayTechnologiesWindStowType:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - InteriorRow
            - ExteriorRow
          description: ArrayTechnologiesWindStowType
        windStowThreshold: {}
        windStowAngle: {}
        postHeight:
          type: number
          format: double
        structureShading:
          type: number
          format: double
        backSideMismatch:
          type: number
          format: double
        fieldDcPower:
          type: number
          format: double
          readOnly: true
        modulesWiredInSeries:
          type: integer
        numberOfSeriesStringsWiredInParallel:
          type: number
          format: double
        plannedModuleRating:
          type: number
          format: double
        modTempModel:
          type:
            - integer
            - 'null'
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - HeatBalance
            - Sandia
            - NOCT
          description: DCFieldModuleTemperatureModelType
        sandiaConductiveCoef:
          type: number
          format: double
        sandiaConvectiveCoef:
          type: number
          format: double
        cellToModuleTempDiff:
          type: number
          format: double
        heatBalanceConductiveCoef:
          type: number
          format: double
        heatBalanceConvectiveCoef:
          type: number
          format: double
        nominalOperatingCellTemperature:
          type: number
          format: double
        transmittanceAbsorptance:
          type: number
          format: double
        moduleMismatchCoefficient:
          type: number
          format: double
        moduleQuality:
          type: number
          format: double
        lightInducedDegradation:
          type: number
          format: double
        trackerLoadLoss:
          type: number
          format: double
        dcWiringLossAtSTC:
          type: number
          format: double
        dcHealth:
          type: number
          format: double
        inverterIdShadeSource: {}
        monthlySeasonalTiltFactors:
          type: array
          items:
            type: object
        resultList:
          readOnly: true
        effectiveResistanceAtSTC:
          type: number
          format: double
          readOnly: true
        totalModuleArea:
          type: number
          format: double
          readOnly: true
        uiamd:
          readOnly: true
        uiamg:
          readOnly: true
        ushD:
          readOnly: true
        ushG:
          readOnly: true
        moduleSurfaceTemperatureTimeSeriesId: {}
        moduleSurfaceTemperatureTimeSeries: {}
        useModuleSurfaceTempTimeSeries:
          type: boolean
        trackingAngleTimeSeriesId: {}
        trackingAngleTimeSeries: {}
        groundCoverageRatio:
          type: number
          format: double
        calculateDCFields:
          type: boolean
        shadeObjects:
          type: array
          items:
            type: object
        tableType:
          type: integer
          enum:
            - 0
            - 1
          x-enum-varnames:
            - Flat
            - Sloped
          description: TableType
        shadingAlgorithm:
          type: integer
          enum:
            - 0
            - 1
            - 2
          x-enum-varnames:
            - V2DDefault
            - InfiniteLengthRows
            - V3DDeprecated
          description: ShadeAlgorithm
        ground:
          type: object
        lockModuleAzimuth:
          type: boolean
        lockModulesHigh:
          type: boolean
        lockPostHeight:
          type: boolean
        lockModulesWide:
          type: boolean
        lockNumberOfSeriesStringsWiredInParallel:
          type: boolean
        lockModulesWiredInSeries:
          type: boolean
        lockPostToPostSpacing:
          type: boolean
        lockMwAc:
          type: boolean
        lockNumberOfRows:
          type: boolean
        lockBacksideMismatch:
          type: boolean
        repeater:
          type: integer
        id:
          type: integer
          readOnly: true
        description: {}
    PowerPlantInverter:
      type: object
      properties:
        name:
          type: string
        resultList:
          readOnly: true
        dcFields:
          type: array
          items:
            $ref: '#/components/schemas/DCField'
        inverterId:
          type: integer
        inverter:
          type: object
        setpointkW:
          type: number
          format: double
        powerFactor:
          type: number
          format: double
        designDerate:
          type: number
          format: double
        kVARating:
          type: number
          format: double
        totalModuleArea:
          type: number
          format: double
          readOnly: true
        derateTimeSeriesId: {}
        derateTimeSeries: {}
        useDerateTimeSeries:
          type: boolean
        setPointTimeSeriesId: {}
        setPointTimeSeries: {}
        useSetPointTimeSeries:
          type: boolean
        vmppAdjustmentTimeSeriesId: {}
        vmppAdjustmentTimeSeries: {}
        useVMPPTimeSeriesAdjustment:
          type: boolean
        imppAdjustmentTimeSeriesId: {}
        imppAdjustmentTimeSeries: {}
        useIMPPTimeSeriesAdjustment:
          type: boolean
        repeater:
          type: integer
        id:
          type: integer
          readOnly: true
        description: {}
    PowerPlantArray:
      type: object
      properties:
        name:
          type: integer
        resultList:
          readOnly: true
        inverters:
          type: array
          items:
            $ref: '#/components/schemas/PowerPlantInverter'
        acCollectionLoss:
          type: number
          format: double
        dasLoad:
          type: number
          format: double
        coolingLoad:
          type: number
          format: double
        additionalLosses:
          type: number
          format: double
        matchTotalInverterkVA:
          type: boolean
        transformerEnabled:
          type: boolean
        transformerkVARating:
          type: number
          format: double
        transformerHighSideVoltage:
          type: number
          format: double
        transformerNoLoadLoss:
          type: number
          format: double
        transformerFullLoadLoss:
          type: number
          format: double
        totalModules:
          type: integer
          readOnly: true
        totalModuleArea:
          type: number
          format: double
          readOnly: true
        trackerMotorLosses:
          type: number
          format: double
        repeater:
          type: integer
        id:
          type: integer
          readOnly: true
        description: {}
    Block:
      type: object
      properties:
        name:
          type: integer
        nodalExportOptions: {}
        resultList:
          readOnly: true
        arrays:
          type: array
          items:
            $ref: '#/components/schemas/PowerPlantArray'
        energizationDate: {}
        useEnergizationDate:
          type: boolean
        numberOfModules:
          type: number
          format: double
          readOnly: true
        totalModuleArea:
          type: number
          format: double
          readOnly: true
        repeater:
          type: integer
        id:
          type: integer
          readOnly: true
        description: {}
paths:
  /Definitions:
    get:
      tags:
        - Definitions
      summary: Get all definitions or filter by enum type
      description: >
        ## Overview


        This request calls the PlantPredict API **Definitions** endpoint to
        retrieve the list of available model definitions.


        Ensure these variables are correctly set in the active environment
        before sending the request.


        ## Typical Use Cases


        - Retrieve available model definitions before **creating** a new
        project.
            
        - Look up model definitions prior to **updating** an existing project.
            
        - Inspect available model types and their identifiers for client-side
        validation or UI population.
            

        ## Successful Response (High-Level)


        A successful response returns an array of **definition objects**, each
        typically including:


        - A unique **ID** for the definition.
            
        - A human-readable **name**.
            
        - Additional **metadata** describing the model definition and how it can
        be used in projects.
      operationId: getDefinitions
      x-doc-source: postman
      parameters:
        - name: type
          in: query
          required: false
          description: Enum type name (e.g. CellTechnologyTypeEnum). Omit to return all.
          schema:
            type: string
      responses:
        '200':
          description: List of definitions (or filtered enum values)
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/Definition'
                  - type: array
                    items:
                      $ref: '#/components/schemas/DefinitionValue'
              examples:
                postman-all:
                  value:
                    - type: AirMassModelType
                      values:
                        - id: 0
                          name: Bird-Hulstrom
                        - id: 1
                          name: Kasten-Sandia
                    - type: AshraeVersionEnum
                      values:
                        - id: 0
                          name: Version_2013
                        - id: 1
                          name: Version_2021
                    - type: Axis
                      values:
                        - id: 0
                          name: X
                        - id: 1
                          name: 'Y'
                        - id: 2
                          name: Z
                    - type: BatchStepVariableTypeEnum
                      values:
                        - id: 1
                          name: DCAC Ratio
                        - id: 2
                          name: GCR
                        - id: 3
                          name: Tilt Angle
                        - id: 4
                          name: Azimuth
                        - id: 5
                          name: Post Height
                    - type: BOSInputMethod
                      values:
                        - id: 0
                          name: Manual Input
                        - id: 1
                          name: BOS Calculation
                    - type: CellDesignType
                      values:
                        - id: 0
                          name: Full Cell Technology
                        - id: 1
                          name: Half Cell Technology
                        - id: 2
                          name: N/A
                        - id: 3
                          name: None Specified
                    - type: CellTechnologyTypeEnum
                      values:
                        - id: 1
                          name: n-type mono c-Si
                        - id: 2
                          name: p-type mono c-Si PERC
                        - id: 3
                          name: p-type mono c-Si BSF
                        - id: 4
                          name: poly c-Si PERC
                        - id: 5
                          name: poly c-Si BSF
                        - id: 6
                          name: CdTe
                        - id: 7
                          name: CIGS
                        - id: 8
                          name: Mixed
                    - type: ConstructionTypeEnum
                      values:
                        - id: 1
                          name: Glass-Glass
                        - id: 2
                          name: Glass-Backsheet
                    - type: DataSourceType
                      values:
                        - id: 1
                          name: Manufacturer
                        - id: 2
                          name: PVsyst
                        - id: 3
                          name: University of Geneva
                        - id: 4
                          name: Photon
                        - id: 5
                          name: Sandia Database
                        - id: 6
                          name: Custom
                        - id: 7
                          name: PlantPredict
                    - type: DCFieldBacktrackingType
                      values:
                        - id: 0
                          name: True-Tracking
                        - id: 1
                          name: Backtracking
                        - id: 2
                          name: Time-Series
                    - type: DCFieldObjectSide
                      values:
                        - id: 1
                          name: One
                        - id: 2
                          name: Two
                        - id: 3
                          name: Three
                        - id: 4
                          name: Four
                    - type: DCFieldTrackingTypeEnum
                      values:
                        - id: 0
                          name: Fixed Tilt
                        - id: 1
                          name: Horizontal Tracker
                        - id: 2
                          name: Seasonal Tilt
                    - type: DefaultDCFieldBacktrackingType
                      values:
                        - id: 0
                          name: True-Tracking
                        - id: 1
                          name: Backtracking
                    - type: DefaultDegradation
                      values:
                        - id: 0
                          name: Module Defined
                        - id: 1
                          name: Fixed Degredation Rate
                    - type: DegradationModel
                      values:
                        - id: 0
                          name: None
                        - id: 1
                          name: Stepped AC
                        - id: 2
                          name: Linear AC
                        - id: 3
                          name: Linear DC
                        - id: 4
                          name: Non-Linear DC
                    - type: DiffuseDirectDecompModelType
                      values:
                        - id: 0
                          name: Erbs
                        - id: 1
                          name: Reindl
                        - id: 2
                          name: DIRINT
                        - id: 3
                          name: None
                    - type: DiffuseShadingModel
                      values:
                        - id: 0
                          name: None
                        - id: 1
                          name: Schaar-Panchula
                    - type: DirectBeamShadingModel
                      values:
                        - id: 0
                          name: Linear
                        - id: 1
                          name: None
                        - id: 2
                          name: 2 Dimension (retired)
                        - id: 3
                          name: Fractional Electrical Shading
                        - id: 5
                          name: Module File Defined Shading
                    - type: EnergyInputMethod
                      values:
                        - id: 0
                          name: Manual Input
                        - id: 1
                          name: Map Extrapolation
                        - id: 2
                          name: Model 8760
                    - type: EntityType
                      values:
                        - id: 1
                          name: Project
                        - id: 2
                          name: Module
                        - id: 3
                          name: Inverter
                        - id: 4
                          name: Weather
                        - id: 5
                          name: Prediction
                        - id: 6
                          name: MultiJunction
                    - type: ESSChargeAlgorithm
                      values:
                        - id: 0
                          name: LGIA Excess
                        - id: 1
                          name: Energy Available
                        - id: 2
                          name: Custom
                    - type: ESSDispatchCustomCommand
                      values:
                        - id: 0
                          name: None
                        - id: 1
                          name: Discharge
                        - id: 2
                          name: Charge
                    - type: EvalType
                      values:
                        - id: 0
                          name: FieldEval
                        - id: 1
                          name: GroupEval
                        - id: 2
                          name: TabRepeat
                    - type: FacialityEnum
                      values:
                        - id: 0
                          name: Monofacial
                        - id: 1
                          name: Bifacial
                    - type: IncidenceAngleModelType
                      values:
                        - id: 2
                          name: Sandia
                        - id: 3
                          name: ASHRAE
                        - id: 4
                          name: None
                        - id: 5
                          name: Tabular IAM
                    - type: InverterType
                      values:
                        - id: 0
                          name: Unspecified
                        - id: 1
                          name: String
                        - id: 2
                          name: Central
                    - type: JunctionType
                      values:
                        - id: 0
                          name: Parallel
                        - id: 1
                          name: Series
                    - type: LibraryStatusEnum
                      values:
                        - id: 0
                          name: Unknown
                        - id: 1
                          name: Draft-Private
                        - id: 2
                          name: Draft-Shared
                        - id: 3
                          name: Active
                        - id: 4
                          name: Retired
                        - id: 5
                          name: Global
                        - id: 6
                          name: Global-Retired
                    - type: MapBuilderCreateDCOptions
                      values:
                        - id: 0
                          name: Arrays
                        - id: 1
                          name: Tables
                    - type: MarionDiffuseRegions
                      values:
                        - id: 0
                          name: Sky
                        - id: 1
                          name: Ground
                    - type: MessageType
                      values:
                        - id: 1
                          name: Error
                        - id: 2
                          name: Warning
                        - id: 3
                          name: Info
                        - id: 4
                          name: Debug
                    - type: MessageTypeEnum
                      values:
                        - id: 0
                          name: Prediction
                        - id: 1
                          name: Report
                    - type: ModuleDegradationModel
                      values:
                        - id: 0
                          name: Unspecified
                        - id: 1
                          name: Linear
                        - id: 2
                          name: Non-Linear
                    - type: ModuleDurability
                      values:
                        - id: 0
                          name: Standard
                        - id: 1
                          name: Quality
                        - id: 2
                          name: High
                    - type: ModuleOrientation
                      values:
                        - id: 0
                          name: Landscape
                        - id: 1
                          name: Portrait
                    - type: ModuleShadingResponse
                      values:
                        - id: 0
                          name: None
                        - id: 1
                          name: Linear
                        - id: 2
                          name: Fractional Electrical Shading
                    - type: ModuleTemperatureModelType
                      values:
                        - id: 0
                          name: Heat Balance
                        - id: 1
                          name: Sandia
                    - type: NSRDBRegions
                      values:
                        - id: 0
                          name: USA
                        - id: 1
                          name: Mexico
                        - id: 2
                          name: Americas
                        - id: 3
                          name: Europe
                        - id: 4
                          name: Africa
                        - id: 5
                          name: Asia
                        - id: 6
                          name: South_Asia
                        - id: 7
                          name: Australia_Pacific
                    - type: PowerPlantDesignType
                      values:
                        - id: 0
                          name: Simple
                        - id: 1
                          name: Advanced
                    - type: PredictionItemStatisticsTrackingTypeEnum
                      values:
                        - id: 0
                          name: Fixed Tilt
                        - id: 1
                          name: Horizontal Tracker
                        - id: 2
                          name: Seasonal Tilt
                        - id: 3
                          name: Mixed
                    - type: PredictionProcessingStep
                      values:
                        - id: 0
                          name: Unknown
                        - id: 1
                          name: None
                        - id: 2
                          name: InitializeFromDatabase
                        - id: 3
                          name: PrePrediction
                        - id: 4
                          name: PreparePrediction
                        - id: 5
                          name: PrepareWeather
                        - id: 6
                          name: PrepareWeatherDetail
                        - id: 7
                          name: ExecuteDiffuseDecompModel
                        - id: 8
                          name: PreparePowerPlant
                        - id: 9
                          name: PrepareBlocks
                        - id: 10
                          name: PrepareArrays
                        - id: 11
                          name: PrepareInverters
                        - id: 12
                          name: PrepareDCFields
                        - id: 13
                          name: PrepareModules
                        - id: 14
                          name: InitializeResults
                        - id: 15
                          name: MainPrediction
                        - id: 16
                          name: MainOuterPredictionLoop
                        - id: 17
                          name: FormattingWeatherFileForMultiYear
                        - id: 18
                          name: DCFieldCalculationLogic
                        - id: 19
                          name: InverterCalculationLogic
                        - id: 20
                          name: ArrayCalculationLogic
                        - id: 21
                          name: BlockCalculationLogic
                        - id: 22
                          name: PowerPlantCalculationLogic
                        - id: 23
                          name: ESSCalculationLogic
                        - id: 24
                          name: StructureShadingLogic
                        - id: 25
                          name: AggregateResults
                        - id: 26
                          name: PostPrediction
                        - id: 27
                          name: CalculatePredictionParameters
                        - id: 28
                          name: CalculatePlantCharactersitics
                        - id: 29
                          name: CalculateLocationParameters
                        - id: 30
                          name: CalculateResultSummary
                        - id: 31
                          name: CalculateBlockResultSummaries
                        - id: 32
                          name: CalculateDetailedOutputs
                        - id: 33
                          name: StoreResults
                        - id: 34
                          name: HandleNodalData
                        - id: 35
                          name: ExportCSV
                        - id: 36
                          name: ExportJSON
                        - id: 37
                          name: CreatePredictionStatistics
                        - id: 38
                          name: Completed
                    - type: PredictionStatusEnum
                      values:
                        - id: 1
                          name: Draft-Private
                        - id: 2
                          name: Draft-Shared
                        - id: 3
                          name: Analysis
                        - id: 4
                          name: Bid
                        - id: 5
                          name: Contract
                        - id: 6
                          name: Development
                        - id: 7
                          name: As Built
                        - id: 8
                          name: Warranty
                        - id: 9
                          name: Archived
                    - type: PredictionVersionEnum
                      values:
                        - id: 3
                          name: Version 3
                        - id: 4
                          name: Version 4
                        - id: 5
                          name: Version 5
                        - id: 6
                          name: Version 6
                        - id: 7
                          name: Version 7
                        - id: 8
                          name: Version 8
                        - id: 9
                          name: Version 9
                        - id: 10
                          name: Version 10
                    - type: ProcessingStatusEnum
                      values:
                        - id: 0
                          name: None
                        - id: 1
                          name: Queued
                        - id: 2
                          name: Running
                        - id: 3
                          name: Success
                        - id: 4
                          name: Error
                        - id: 5
                          name: Cancelled
                    - type: ProjectStatusEnum
                      values:
                        - id: 0
                          name: Active
                        - id: 1
                          name: Archived
                        - id: 2
                          name: StringSize
                    - type: PvModelType
                      values:
                        - id: 0
                          name: 1-Diode Recombination
                        - id: 1
                          name: 1-Diode
                        - id: 3
                          name: 1-Diode Recombination Non-Linear Temp
                    - type: ResponseMessageType
                      values:
                        - id: 0
                          name: Info
                        - id: 1
                          name: Warning
                        - id: 2
                          name: Error
                    - type: RevenueType
                      values:
                        - id: 0
                          name: PPA
                        - id: 1
                          name: Merchant
                    - type: ShadeAlgorithm
                      values:
                        - id: 0
                          name: 2D(default)
                        - id: 1
                          name: Infinite Rows
                        - id: 2
                          name: 3D
                    - type: SoilingModelType
                      values:
                        - id: 0
                          name: Constant Monthly
                        - id: 1
                          name: Weather File
                        - id: 2
                          name: None
                    - type: SolarGISVersion
                      values:
                        - id: 0
                          name: PVPlanner
                        - id: 1
                          name: TMY15
                        - id: 2
                          name: TMY60
                    - type: SpectralResponseEnum
                      values:
                        - id: 0
                          name: No Spectral Shift
                        - id: 1
                          name: FS Series 4 & Earlier
                        - id: 2
                          name: FS Series 4-2 & Later
                        - id: 3
                          name: Sandia
                    - type: SpectralShiftModel
                      values:
                        - id: 0
                          name: None
                        - id: 1
                          name: 1-Param Pwat or Sandia
                        - id: 2
                          name: 2-Param Pwat and AM
                        - id: 3
                          name: Monthly Override
                    - type: SpectralWeatherType
                      values:
                        - id: 0
                          name: None
                        - id: 1
                          name: Ngan-PWat
                        - id: 2
                          name: Ngan-RH
                        - id: 3
                          name: Ngan-Dewpoint
                    - type: TableType
                      values:
                        - id: 0
                          name: Flat
                        - id: 1
                          name: Sloped
                    - type: TimeSeriesType
                      values:
                        - id: 0
                          name: InverterSetPoint
                        - id: 1
                          name: InverterDerate
                        - id: 2
                          name: TrackingAngle
                        - id: 3
                          name: ModuleSurfaceTemperature
                        - id: 4
                          name: LGIALimit
                        - id: 5
                          name: IMPPAdjustment
                        - id: 6
                          name: VMPPAdjustment
                    - type: TranspositionModelType
                      values:
                        - id: 0
                          name: Hay
                        - id: 1
                          name: Perez
                    - type: UserStatusEnum
                      values:
                        - id: 0
                          name: Disabled
                        - id: 1
                          name: Active
                        - id: 2
                          name: Pending
                        - id: 3
                          name: Archived
                    - type: WeatherDataProvider
                      values:
                        - id: 1
                          name: NREL
                        - id: 2
                          name: AWS Truepower
[...]
